
.custom{
  .header{
    height: 100px;
    background-color: $header-bg;
  }

  .custom-img{
    width: 300px;
    height: 307px;
    background: url(../imgs/custom.png);

    position: relative;

    p{
      position: absolute;
      font-size: 12px;
      top: 27px;
      left: 48px;
    }
  }

  .row-custom{
    padding-top: 95px;
  }

  .custom-title{
    h1{
      font-size: 28px;
      margin-bottom: 0;
      font-weight: bold;
    }
    p{
      font-size: 16px;
    }

    padding-bottom: 25px;
  }

  .custom-result{
    width: 650px;
    margin: 0 auto;

    h1{
      font-size: 20px;
      font-weight: bold;
    }
  }
}
