input.form-control{
  border-radius: 0;
}

.btn-custom, .btn-business{
  background-color: $header-bg;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;

  &:hover, &:focus{
    color: #fff;
  }
}

.btn-business{
  background-color: $business-btn-bg;
}