{% extends 'manage/tpl/base/base.html' %}
{% load assets_manage %}

{% block title %}删除管理员{% endblock %}

{% block main %}
	<h1 class="page-header">删除管理员</h1>
    <div class="row">
    	{% for manager in managers %}
    	<div class="col-sm-3">
			<p>名字：{{ manager.name }}</p>
			<p>密码：{{ manager.passwd }}</p>
			<p>类型：{{ manager.type }}</p>
			<p>权限：{{ manager.permission_score }}</p>
			<p>
				<button type="button" class="btn btn-primary" onclick="delemanager({{ manager.id }})">刪除</button>
			</p>
        </div>
    	{% endfor %}
    </div>
{% endblock %}

{% block scripts %}
<script>
function delemanager(id){
	$.get("./?id="+id, function(recive){
		if(recive != 'False'){
			window.location.reload();
		}
		else{
			alert('删除失败');
		}
	});
}
</script>
{% endblock %}