{% extends 'manage/tpl/base/base.html' %}

{% block title %}广告展示{% endblock %}

{% block main %}
	<h1 class="page-header">广告展示</h1>
	<div class="row">
		<div class="col-sm-2">
            广告类型：
        </div>
		<div class="col-sm-4">
            <select id="adtype" name="adtype" onchange="adtypeselected();" class="form-control">
			{% for ad_type in adinfo.ad_types %}
			<option value="{{ ad_type.value }}">{{ ad_type.text }}</option>
			{% endfor %}
		</select>
        </div>
	</div>
	<p>&nbsp;</p>
    <ul class="list-group">
		{% for ad in adinfo.ads %}
	  	<li class="list-group-item">
			<p>跳转地址：{{ ad.tar_url }}</p>
        	<p>广告价格：{{ ad.prince }}</p>
			<p>开始展示时间：{{ ad.start_time }}</p>
			<p>结束展示时间：{{ ad.end_time }}</p>
        	<div>
                <img src="{{ ad.img_url }}" class="img-full"/>
            </div>
      	</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block scripts %}
<script>
function adtypeselected(){
	$.get("/manage/ad/del/adtypeselect/?adtype=" + $("#adtype").val(), function(recive){
		if(recive != 'False'){
			$("#adinfo").empty();
			$("#adinfo").append(recive);
		}
		else{
			alert('数据异常');
		}
	});
}
</script>
{% endblock %}