{% extends 'manage/tpl/base/base.html' %}
{% block title %}30日访问统计{% endblock %}


{% block main %}
	<h1 class="page-header">30日访问统计</h1>
	<div class="col-sm-6">
        <table class="table table-bordered table-striped">
			<thead>
				<td>日期</td>
				<td>IP 数</td>
				<td>UV 数</td>
				<td>PV 数</td>
			</thead>
			<tbody>
			{% for data in datas %}
			<tr>
				<td>{{ data.time }}</td>
				<td>{{ data.ip }}</td>
				<td>{{ data.uv }}</td>
				<td>{{ data.pv }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
    </div>
{% endblock %}