.img-full{
  width: 100%;
}

.text-muted{
  color: #777;
}

.text-primary{
  color: $primary-bg-color;
}

.text-positive{
  color: $primary-color;
}

.radius-none{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.border-none{
  border: 0;
}

.border-top-none{
  border-top: 0;
}

.border-bottom-none{
  border-bottom: 0;
}

.font-sm{
  font-size: 14px;
}

.font-xs{
  font-size: 12px;
}

.text-center{
  text-align: center;
}

.hide{
  display: none;
}





