.img-full{
  width: 100%;
}

.text-muted{
  color: #777;
}

.radius-none{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.font-sm{
  font-size: 14px;
}

.font-xs{
  font-size: 12px;
}





