.sidebar {
  display: none;

  @media (min-width: $screen-sm-min) {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    padding-top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $main-bg;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar {
  margin-right: -20px;
  margin-bottom: 20px;
  margin-left: -20px;

  text-align: center;

  li > a{
    color: $font-color;
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;

    &:hover{
      color: #000;
      background-color: lighten($font-highlight, 20%);
    }
  }
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: $font-highlight;
}