{% load mobile %}
<!DOCTYPE html>
<html lang="zh-CN" {% block htmlhook %}{% endblock %}>
<head>
    {% include 'mobile/tpl/base/meta.html' %}
	<title>{% block title %}{% endblock %} - 宠物购</title>
	<link rel="stylesheet" href="{{ 'css/cwg.css'|mobile }}">
</head>
<body {% block bodyhook %}{% endblock %}>

{% block header %}
    {% include 'mobile/tpl/base/header.html' %}
{% endblock %}

{% block nav %}
    {% include 'mobile/tpl/base/nav.html' %}
{% endblock %}

{% block content %}{% endblock %}

<script src="{{ 'js/lib/jquery.js'|mobile }}"></script>
<script src="{{ 'js/lib/plugins.js'|mobile }}"></script>
<script>
(function(){
    function loadJS(e,t){"use strict";var n=window.document.getElementsByTagName("script")[0],o=window.document.createElement("script");return o.src=e,o.async=!0,n.parentNode.insertBefore(o,n),t&&"function"==typeof t&&(o.onload=t),o}

    if(window.location.hostname.indexOf('chongwug') > -1){
        loadJS(decodeURIComponent('//s4.cnzz.com/z_stat.php%3Fid%3D1253642418'));

        $('.home-slider, .supplies').on('click', 'a', function(){
            $.ajax({
                url: '/tarurl/click/',
                data: {tarurl: $(this).attr('href')}
            });
        });
    }

    function UUID(){}UUID.generate=function(){var a=UUID._gri,b=UUID._ha;return b(a(32),8)+"-"+b(a(16),4)+"-"+b(16384|a(12),4)+"-"+b(32768|a(14),4)+"-"+b(a(48),12)};UUID._gri=function(a){return 0>a?NaN:30>=a?0|Math.random()*(1<<a):53>=a?(0|1073741824*Math.random())+1073741824*(0|Math.random()*(1<<a-30)):NaN};UUID._ha=function(a,b){for(var c=a.toString(16),d=b-c.length,e="0";0<d;d>>>=1,e+=e)d&1&&(c=e+c);return c};

    if(!$.cookie('uniquevisitor')){
        var UUID = UUID.generate();

        $.cookie('uniquevisitor', UUID, {expires: 365, path: '/'});
        $.ajax({url: '/uvtongji/'});
    }
})();
</script>
{% block scripts %}{% endblock %}

</body>
</html>
