{% load mobile %}
<!DOCTYPE html>
<html lang="zh-CN" {% block htmlhook %}{% endblock %}>
<head>
    {% include 'mobile/tpl/base/meta.html' %}
	<title>{% block title %}{% endblock %} - 宠物购</title>
	<link rel="stylesheet" href="{{ 'css/cwg.css'|mobile }}">
</head>
<body {% block bodyhook %}{% endblock %}>

{% block header %}
    {% include 'mobile/tpl/base/header.html' %}
{% endblock %}

{% block nav %}
    {% include 'mobile/tpl/base/nav.html' %}
{% endblock %}

{% block content %}{% endblock %}

<script src="{{ 'js/lib/jquery.js'|mobile }}"></script>
<script src="{{ 'js/lib/plugins.js'|mobile }}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
