{% load mobile %}
{% if page != 'home' %}
<div class="feedback">
    <a href="tencent://message?uin=1991540088&site=qq&menu=yes" target="_blank">意<br>见<br>和<br>建<br>议</a>
</div>
<script>
    $.scrollUp({
        scrollClass: 'icon icon-up-circle',
        scrollName: 'scroll-up',
        scrollText: '',
        zIndex: 6
    });
</script>
{% endif %}
<div data-role="footer">
   <div data-role="navbar">
      <ul>
        <li><a href="/home/" data-icon="home">首页</a></li>
        <li><a href="/buy/" data-icon="arrow-r">我要买狗</a></li>
        <li><a href="/supllie/" data-icon="search">宠物用品</a></li>
        <li><a href="/knowledge/buy/" data-icon="arrow-r">购犬须知</a></li>
        <li><a href="/knowledge/bringup/" data-icon="search">养犬必知</a></li>
      </ul>
    </div>
  </div>
