<nav class="bar bar-tab">
  <a class="tab-item{% if page == 'home' %} active{% endif %}" href="/">
    <span class="icon icon-home"></span>
    <span class="tab-label">首页</span>
  </a>
  <a class="tab-item{% if page == 'buy' %} active{% endif %}" href="/buy/">
    <span class="icon icon-guidedog"></span>
    <span class="tab-label">我要买狗</span>
  </a>
  <a class="tab-item{% if page == 'supplie' %} active{% endif %}" href="/supplie/">
    <span class="icon icon-gift"></span>
    <span class="tab-label">必备用品</span>
  </a>
  <a class="tab-item{% if page == 'knowbuy' %} active{% endif %}" href="/knowledge/buy/">
    <span class="icon icon-attention-circled"></span>
    <span class="tab-label">购犬须知</span>
  </a>
  <a class="tab-item{% if page == 'knowbringup' %} active{% endif %}" href="/knowledge/bringup/">
    <span class="icon icon-doc-text"></span>
    <span class="tab-label">养犬必知</span>
  </a>
</nav>
