{% extends 'mobile/tpl/base/base.html' %}
{% load mobile %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content">
    <ul class="table-view">
    {% for direct_farm in direct_farms %}
    <li class="table-view-cell">
        <a href="/buy/?direct={{ direct_farm.direct }}">
            <h3>城{{ direct_farm.direct }}犬舍</h3>
            <img src="{{ direct_farm.pic.img_url }}" class="img-full" alt="城{{ direct_farm.direct }}犬舍">
        </a>
    </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}