{% extends 'mobile/tpl/base/base.html' %}
{% load mobile %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content content-common">
    <form class="row">
      <div class="col col-three-quarters">
          <input type="search" placeholder="Search">
      </div>
      <div class="col col-quarter">
          <button class="btn btn-outlined">搜索</button>
      </div>
    </form>
    {% if pets_imgs%}
    <ul class="table-view">
      {% for pet_img in pets_imgs %}
      <li class="table-view-cell media">
        <a class="navigate-right">
          <img class="media-object pull-left" src="{{ pet_img.img.img_url }}!small" width="60">
          <div class="media-body">
            <strong>[{{ pet_img.pet.farm.name }}]</strong> {{ pet_img.pet.short_desc }}
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>没有找到符合条件的宠物</p>
    {% endif %}
</div>


{% endblock %}
