{% extends 'mobile/tpl/base/base.html' %}
{% load mobile %}

{% block title %}{{ title }}{% endblock %}
{% block bodyhook %}class="has-position"{% endblock %}

{% block content %}
<div class="content content-common detail">
    <div class="swipe">
      <div class="swipe-wrap">
        <div>
            <img src="{{ petimg_a.img_url }}" class="img-full"/>
        </div>
        {% for nowimg in nowimgs %}
        <div>
            <img src="{{ nowimg.img_url }}" class="img-full"/>
        </div>
        {% endfor %}
      </div>
    </div>
    <ul class="table-view table-view-extend border-none">
        <li class="table-view-cell">
        <h4 class="detail-title">[{{ nestpet.farm.name }}] {{ nestpet.short_desc }}</h4>
        </li>
        <li class="table-view-cell">
          编<span class="middle-space"></span>号： {{ nestpet.num }}
        </li>
        <li class="table-view-cell">
          犬<span class="middle-space"></span>种： {{ nestpet.type }}
        </li>
        <li class="table-view-cell">
          月<span class="middle-space"></span>龄： {{ nestpet.age }}个月
        </li>
        <li class="table-view-cell">
          来<span class="middle-space"></span>源： {{ from }}
        </li>
        <li class="table-view-cell">
            价<span class="middle-space"></span>格： <span class="text-positive">&yen;{{ price.min_price }}-{{ price.max_price }}</span>元/只
        </li>
        <li class="table-view-cell">
            客服热线： <strong class="text-positive font-lg">028-85230309</strong>
        </li>
    </ul>
    <div class="content-padded">
        <a class="btn btn-primary btn-block js-btn-order" href="#js-order-modal" data-id="{{ nestpet.id }}">获取{{ from }}电话</a>
    </div>
    <div class="segmented-control content-padded font-sm detail-segmented">
      <a class="control-item active" href="#item1">狗狗资料</a>
      <a class="control-item" href="#item2">犬舍简介</a>
      <a class="control-item" href="#item3">其他犬种</a>
    </div>
    <div class="card border-none radius-none">
        <div id="item1" class="control-content active">
            <table class="table table-primary">
                <caption>{{ nestpet.type }}</caption>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>性别</th>
                        <th>月龄</th>
                        <th>颜色</th>
                        <th>疫苗</th>
                        <th>价格</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pet in allpets %}
                    <tr>
                        <td>{{ pet.index }}</td>
                        <td>{{ pet.sex }}</td>
                        <td>{{ nestpet.age }}个月</td>
                        <td>{{ pet.color }}</td>
                        <td>
                            {% if pet.epidemic_period == '已种疫苗' %}
                            <i class="icon icon-ok-circled text-primary icon-md"></i>
                            {% elif pet.epidemic_period == '未种疫苗' %}
                            <i class="icon icon-ok-circled text-muted icon-md"></i>
                            {% else %}
                            {{ pet.epidemic_period }}
                            {% endif %}
                        </td>
                        <td>&yen; {{ pet.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <p class="pet-tip"><i class="sprite sprite-car"></i><span>你看狗 我接送</span></p>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div id="item2" class="control-content">
            <div class="slider">
              <div class="slide-group">
                {% for farmimg in farmimgs %}
                <div class="slide">
                    <img src="{{ farmimg.img_url }}" class="img-full"/>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="content-padded">
                {{ nestpet.farm.desc|safe }}
            </div>
        </div>
        <div id="item3" class="control-content">
            <ul class="table-view table-view-extend pet-showcase">
                {% for pet_img in pets_img %}
                <li class="table-view-cell media pet-showcase-item">
                    <img class="media-object pull-left" src="{{ pet_img.img.img_url }}!small">
                    <div class="media-body">
                        <p class="pet-showcase-title">{{ pet_img.pet.type }}<span class="price">&yen;{{ pet_img.min_price }}-{{ pet_img.max_price }} 元</span></p>
                        <a class="btn btn-outlined" href="{{ urls }}{{ pet_img.pet.id }}/" target="_blank">详细信息</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{#{% include 'mobile/tpl/gui/order-modal.html' %}#}
<div class="modal" id="js-order-modal">
    <header class="bar bar-nav">
        <a class="pull-right icon icon-close" href="#js-order-modal">&times;</a>
        <h1 class="title">获取电话</h1>
    </header>
    <div class="content">
        <div class="content-padded form">
            {% csrf_token %}
            <input type="text" id="tel" autofocus maxlength="11" placeholder="您的手机"/>
            <button class="btn btn-positive btn-block" data-loading-text="发送至手机" type="button">发送至手机</button>
        </div>
    </div>
</div>

<script type="text/html" id="location-select-tpl">
<dl class="clearfix">
  <dd>
      {% templatetag openvariable %}each locations as location{% templatetag closevariable %}
      <a href="javascript:" data-id="{% templatetag openvariable %}location.id{% templatetag closevariable %}">{% templatetag openvariable %}location.name{% templatetag closevariable %}</a>
      {% templatetag openvariable %}/each{% templatetag closevariable %}
  </dd>
</dl>
</script>

{% endblock %}

{% block scripts %}
<script>
//slider
;(function($){
    $('.swipe').Swipe({
        auto: 3000
    });
})(jQuery);

;(function(){
    var $telModal = $('#js-order-modal'),
        $form = $telModal.find('.form'),
        $csrf = $form.find('input[name="csrfmiddlewaretoken"]'),
        $tel = $form.find('#tel'),
        reg = /^\d{11}$/,
        $btnSubmit = $form.find('.btn'),
        $btnOrder = $('.js-btn-order');

    $btnOrder.on('click', function(){
       var $this = $(this),
           id = $this.data('id');

        $telModal.data('id', id);
    });

    $btnSubmit.on('click', function(){
        var val = $tel.val(),
            csrf = $csrf.val();

        if(!reg.test(val)){
            alert('请正确填写您的手机号码');
            $tel.focus();
            return false;
        }

        $btnSubmit.prop('disabled', true);

        $.ajax({
            url: '/buy/detail/gettel/',
            method: 'post',
            data: {tel: val, id: $telModal.data('id'), csrfmiddlewaretoken: $.cookie('csrftoken') || csrf},
            dataType: 'json',
            success: function(data){
                if(data.status == 0){
                    alert('发送成功，请注意查收');
                    countTime($btnSubmit);
                }else{
                    alert(data.message);
                    $btnSubmit.prop('disabled', false);
                }
            },
            error: function(){
               $btnSubmit.prop('disabled', false);
            }
        });

    });

    function countTime($el){
        if($el.data('counting')){
            return false;
        }

        var delay = $el.data('delay'),
            text = '发送至手机 ';

        delay = !isNaN(delay) && parseInt(delay, 10) || 60,


        $el.text(text + delay);

        function updateText(){
            delay--;

            if(delay > 0){
                $el.text(text + delay);
                setTimeout(updateText, 1000);
            }else{
                $el.data('counting', false);
                $el.prop('disabled', false).text('发送至手机');
            }
        }
        $el.data('counting', true);
        setTimeout(updateText, 1000);
    }
})(jQuery);
</script>
{% endblock %}
