{% extends 'mobile/tpl/base/base.html' %}
{% load mobile %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% if visitor %}
<div class="guide">
    <div class="vertical-center">
        <div class="vertical-content">
            <img src="{{ 'imgs/logo.png'|mobile }}" alt="logo"/>
            <h1 class="guide-title">国内首个活体宠物O2O交易平台</h1>
        </div>
    </div>
</div>
{% endif %}
<div class="content content-common">
    <div class="swipe home-slider">
      <div class="swipe-wrap">
        {% for ad in ads %}
        <div>
            <a class="home-slider-content" target="_blank" href="{{ ad.tar_url }}" style="background-image: url({{ ad.img_url }});"></a>
        </div>
        {% endfor %}
      </div>
    </div>
    <ul class="table-view border-top-none">
      {% for direct_farm in direct_farms %}
      <li class="table-view-cell">
        <a class="navigate-right" href="/buy/">
          <h3>城{{ direct_farm.direct }}犬舍</h3>
          <img class="" src="{{ direct_farm.pic.img_url }}" width="235">
        </a>
      </li>
      {% endfor %}
    </ul>
    {% include 'mobile/tpl/base/desktop.html' %}
</div>
{% endblock %}

{% block scripts %}
{% if visitor %}
<script src="{{ 'js/guide.js'|mobile }}"></script>
{% endif %}
<script>
(function($){
    $('.swipe').Swipe({
        auto: 3000
    });
})(jQuery);
</script>
{% endblock %}
