{% for knowledge in knowledges %}
<li class="table-view-cell outline"
    data-title="{{ knowledge.title }}"
    data-img="{{ knowledge.imgurl }}"
    data-date="{{ knowledge.time|date:'Y-m-d' }}"
    data-from="{{ knowledge.contentfrom }}" >
    <a href="#js-article-modal">
        <h4 class="outline-title">{{ knowledge.title }}</h4>
        <div class="outline-content">
            {{ knowledge.content|safe }}
        </div>
        <p class="pull-right">查看更多&raquo;</p>
    </a>
</li>
{% endfor %}
{% if pageid %}
<li class="hide infinite-more-link" data-href="./?page={{ pageid }}"></li>
{% endif %}