{% extends 'mobile/tpl/base/base.html' %}
{% load mobile %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{% endblock %}

{% block nav %}{% endblock %}

{% block bodyhook %}class="guide"{% endblock %}

{% block content %}

<div class="vertical-center">
    <div class="vertical-content">
        <img src="{{ 'imgs/logo.png'|mobile }}" alt="logo"/>
        <h1 class="guide-title">国内首个活体宠物O2O交易平台</h1>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ 'js/guide.js'|mobile }}"></script>
{% endblock %}
