{% extends 'mobile/tpl/base/base.html' %}
{% load mobile %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="content content-common">
    <ul class="table-view">
      <li class="table-view-divider">必备用品</li>
      {% for supplie in supplies %}
      {% ifequal supplie.type '必备用品' %}
      <li class="table-view-cell media">
        <a class="navigate-right">
          <img class="media-object pull-left" src="{{ supplie.img_url }}!small">
          <div class="media-body">
            {{ supplie.title }}
            &yen;{{ supplie.price }}
          </div>
        </a>
      </li>
      {% endifequal %}
      {% endfor %}
      <li class="table-view-divider">生活用品</li>
      {% for supplie in supplies %}
      {% ifequal supplie.type '生活用品' %}
      <li class="table-view-cell media">
        <a class="navigate-right">
          <img class="media-object pull-left" src="{{ supplie.img_url }}!small">
          <div class="media-body">
            {{ supplie.title }}
            &yen;{{ supplie.price }}
          </div>
        </a>
      </li>
      {% endifequal %}
      {% endfor %}
      <li class="table-view-divider">保健医疗</li>
      {% for supplie in supplies %}
      {% ifequal supplie.type '保健医疗' %}
      <li class="table-view-cell media">
        <a class="navigate-right">
          <img class="media-object pull-left" src="{{ supplie.img_url }}!small">
          <div class="media-body">
            {{ supplie.title }}
            &yen;{{ supplie.price }}
          </div>
        </a>
      </li>
      {% endifequal %}
      {% endfor %}
      <li class="table-view-divider">清洁卫生</li>
      {% for supplie in supplies %}
      {% ifequal supplie.type '清洁卫生' %}
      <li class="table-view-cell media">
        <a class="navigate-right">
          <img class="media-object pull-left" src="{{ supplie.img_url }}!small">
          <div class="media-body">
            {{ supplie.title }}
            &yen;{{ supplie.price }}
          </div>
        </a>
      </li>
      {% endifequal %}
      {% endfor %}
    </ul>
</div>

{% endblock %}
