<input name="time" type="hidden" id="js-time-input" class="required"/>

<div class="row row-margin">
    <div class="col col-half">
        <select id="js-appoint-date" class="select-fixed">
            {% for appointday in appointdays %}
            <option value="{{ appointday.year }}-{{ appointday.mouth }}-{{ appointday.day }}">{{ appointday.mouth }}-{{ appointday.day }} ({{ appointday.week }})</option>
            {% endfor %}
        </select>
    </div>
    <div class="col col-half">
        <select id="js-appoint-time" class="select-fixed">
            <option value="{{ appointtime.time1 }}">{{ appointtime.time1 }}</option>
            <option value="{{ appointtime.time2 }}">{{ appointtime.time2 }}</option>
        </select>
    </div>
</div>