<div class="modal fade" id="js-order-modal" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">我要预约看狗</h4>
        <p class="text-uppercase margin-none">appointment form</p>
      </div>
      <div class="tab-content">
          <div class="tab-pane active" id="js-order-info">
            <div class="modal-body">
              <form class="form-horizontal" id="js-order-form">
                {% csrf_token %}
                <p class="text-muted">请如实填写信息，我们将尽快与您联系：</p>
                <div class="form-group">
                    <label for="name" class="col-sm-4 control-label text-muted">您的名字：</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control radius-none required" id="name" name="name" value="{% if cuser%}{{ cuser.nickname }}{% endif %}" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-sm-4 control-label text-muted">您的手机：</label>
                    <div class="col-sm-7">
                        <input type="text" maxlength="11" class="form-control radius-none required phone" id="phone" name="phone" value="{% if cuser%}{{ cuser.tel }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label text-muted">所在区域：</label>
                    <div class="col-sm-7">
                        <button class="btn btn-select radius-none" type="button" id="js-btn-location">
                            <span class="select-title" id="js-location" data-text="选择城市">选择城市</span>
                            <div class="vertical-center">
                                <span class="caret select-icon"></span>
                            </div>
                        </button>
                        {% include 'tpl/components/location-box.html' %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="time" class="col-sm-4 control-label text-muted">预约看狗时间：</label>
                    <div class="col-sm-7">
                        <button class="btn btn-select radius-none" type="button" id="js-btn-time">
                            <span class="select-title" id="js-time" data-text="选择时间">选择时间</span>
                            <div class="vertical-center">
                                <i class="icon icon-calendar select-icon"></i>
                            </div>
                        </button>
                        {% include 'tpl/components/time-box.html' %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label text-muted">交通方式：</label>
                    <div class="col-sm-7 btn-group" data-toggle="buttons">
                        <label class="btn btn-check">
                            <input type="radio" name="transportation" value="drive" class="js-trans-input"/>自驾
                            <i class="sprite sprite-checked"></i>
                        </label>
                        <label class="btn btn-check pull-right active" id="js-lift-btn">
                            <input type="radio" name="transportation" value="lift" checked class="js-trans-input"/>接送
                            <i class="sprite sprite-checked"></i>
                        </label>
                    </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default prev-step" data-dismiss="modal">取消</a>
                <button class="btn btn-primary next-step" href="#js-order-confirm" data-loading-text="正在提交...">下一步</button>
            </div>
          </div>
          <div class="tab-pane" id="js-order-confirm">
              <div class="modal-body">
                  <div class="form-horizontal">
                      <div class="form-group">
                          <label class="col-sm-4 text-right text-muted">本窝犬已预约用户：</label>
                          <div class="col-sm-6">
                              <span id="js-other-order" class="js-need-reset" data-text=""></span>
                          </div>
                      </div>
{#                      <div class="form-group">#}
{#                          <label class="col-sm-4 text-right text-muted">已预约用户看犬时间：</label>#}
{#                          <div class="col-sm-6">#}
{#                              <span id="js-other-time" class="js-need-reset" data-text=""></span>#}
{#                          </div>#}
{#                      </div>#}
                      <div class="form-group">
                          <label class="col-sm-4 text-right text-muted">您的排队号：</label>
                          <div class="col-sm-6">
                              <span id="js-queue-num" class="js-need-reset" data-text=""></span>
                          </div>
                      </div>
{#                      <div class="form-group">#}
{#                          <label class="col-sm-4 text-right text-muted">用户编号：</label>#}
{#                          <div class="col-sm-6">#}
{#                              <span id="js-order-num" class="js-need-reset" data-text=""></span>#}
{#                          </div>#}
{#                      </div>#}
                      <div class="form-group">
                          <div class="col-sm-6 col-sm-offset-4">
                              <label class="checkbox-inline">
                                  <input type="checkbox" checked> 同意<a href="" target="_blank">《用户够犬协议》</a>
                              </label>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="tips col-sm-10 col-sm-offset-1">
                              <i class="icon icon-attention-circled tips-icon"></i>
                              <p class="tips-content text-muted">
                                  提示：若看犬过程中多位用户同时看中某一只狗狗，则以用户编号顺序决定优先挑选权及购买权
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                <a class="btn btn-default prev-step" href="#js-order-info" data-toggle="tab" id="js-to-first">上一步</a>
                <a class="btn btn-primary next-step" href="#js-order-pay" data-toggle="tab">确认预约</a>
              </div>
          </div>
          <div class="tab-pane" id="js-order-pay">
              <div class="modal-body">
                  <div class="form-horizontal">
                      <div class="form-group">
                          <label class="col-sm-4 text-right text-muted">犬舍位置：</label>
                          <div class="col-sm-6">
                              <span id="js-kennel-location" class="js-need-reset" data-text=""></span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-4 text-right text-muted">等待接送地点：</label>
                          <div class="col-sm-6">
                              <span id="js-wait-location" class="js-need-reset" data-text=""></span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-4 text-right text-muted">等待接送时间：</label>
                          <div class="col-sm-6">
                              <span id="js-wait-time" class="js-need-reset" data-text=""></span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-4 text-right text-muted"><span id="js-charge-type" class="js-need-reset" data-text="交通费">交通费</span>：</label>
                          <div class="col-sm-6">
                              <span id="js-service-charge" class="js-need-reset" data-text=""></span>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="tips col-sm-10 col-sm-offset-1">
                              <i class="icon icon-attention-circled tips-icon"></i>
                              <p class="tips-content text-muted">
                                  提示：您需要在等待接送时间之前赶到等待接送地点，我们的工作人员会在此等候您，并接送或带领您去预约犬舍挑选、购买狗狗！我们会准时发车，请您务必在指定接送时间前到达指定接送地点集合！购犬成功后，将返还交通费给您！
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                <a class="btn btn-default prev-step" href="#js-order-confirm" data-toggle="tab">上一步</a>
                <a class="btn btn-primary next-step">确认付款</a>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
