.cwg-area-row{
  padding-bottom: 60px;
  margin-right: -8px;
  margin-left: -8px;
}

.cwg-area{
  h2{
    font-size: 24px;
    font-weight: bold;
  }

  a{
    color: #4a4a4a;
  }

  img{
    width: 100%;
  }

  div{
    position: relative;

    p{
      position: absolute;
      right: 5px;
      bottom: 5px;
      margin-bottom: 0;
      color: #fff;
      font-weight: bold;
      line-height: 1;
    }

    .floor-price{
      font-size: 30px;
    }
  }
}
