.col-md-offset-0.5{

}

.cwg-area-row{
  padding-bottom: 60px;
}

.cwg-area{
  a{
    color: #4a4a4a;
    font-weight: bold;
  }

  div{
    position: relative;

    p{
      position: absolute;
      right: 5px;
      bottom: 5px;
      margin-bottom: 0;
      color: #fff;
      font-weight: bold;
      line-height: 1;
    }

    .floor-price{
      font-size: 30px;
    }
  }
}
