.cwg-search-wrap{
  padding-top: 30px;
  padding-bottom: 30px;

  .form-control{
    border: 1px solid #ffdd37;
    border-right: 0;
  }

  .btn-search{
    background-color: #dba903;
    border: 1px solid #dba903;
  }

  .glyphicon-search{
    color: #fff;
  }
}
