.header{
  color: $header-info-color;
}

.cwg-navbar{
  background: #fff;
  border: 0;
  margin-bottom: 0;
  min-height: 30px;

  .navbar-nav a{
    color: $nav-color;
    line-height: 1;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .active a{
    color: $nav-highlight-color;
    background: $bg-color;
  }

  .navbar-header{
    margin-right: 30px;
  }

  .location{
    padding-left: 15px;
    font-size: 12px;
  }
}

.cwg-global-search{
  position: relative;
  padding-bottom: 20px;
}

.cwg-tel{
  position: absolute;
  right: 0;
  bottom: 5px;
}

.cwg-tel-detail{
  margin-bottom: 0;
  font-size: 12px;
}

.cwg-tel-main{
  margin-bottom: 0;

  .glyphicon{
    margin-right: 5px;
  }

  .glyphicon, span{
    vertical-align: middle;
  }
}


.header-top{
  background: $bg-color;

  .cwg-btn-wrap{
    .btn-default{
      background-color: transparent;
      border: 0;
    }
  }

  .cwg-login{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .cwg-search-wrap{
    padding-top: 0;
    padding-bottom: 0;
  }
}
