.header{
  color: $header-info-color;
}

@import "nav";

.cwg-global-search{
  position: relative;
  padding-bottom: 20px;
}

.cwg-tel{
  position: absolute;
  right: 0;
  bottom: 5px;
}

.cwg-tel-detail{
  margin-bottom: 0;
  font-size: 12px;
}

.cwg-tel-main{
  margin-bottom: 0;

  .glyphicon{
    margin-right: 5px;
  }

  .glyphicon, span{
    vertical-align: middle;
  }
}


.header-top{
  background: $bg-color;

  .cwg-btn-wrap{
    .btn-default{
      background-color: transparent;
      border: 0;
    }
  }

  .cwg-login{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .cwg-search-wrap{
    padding-top: 0;
    padding-bottom: 0;
  }
}
