.cwg-navbar{
  background: #ffd401;
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  min-height: 45px;

  .navbar-toggle .icon-bar{
    background: #FFD401;
  }

  .navbar-nav a, .navbar-brand{
    color: #fff;
    padding-top: 13px;
    padding-bottom: 13px;
    line-height: 19px;
    font-size: 16px;
  }

  .active a{
    color: #ffd401;
    background: #fff;
  }

  .cwg-tel{
    color: #49250c;
    padding-top: 2px;
  }

  .cwg-tel-main{
    margin-bottom: 0;

    .glyphicon{
      margin-right: 5px;
    }

    .glyphicon, span{
      vertical-align: middle;
    }
  }

  .cwg-tel-detail{
    margin-bottom: 0;
    font-size: 12px;
  }
}