.cwg-carousel{
  margin-top: 20px;
  padding-bottom: 35px;
  margin-left: -15px;
  margin-right: -15px;

  .cwg-lace{
    position: absolute;
    bottom: 70px;

    height: 4px;
    width: 100%;
    background: url(../imgs/lace.png) 9px 100% repeat-x;
  }
  .carousel-indicators{
    bottom: 0;
    li{
      border-color: #4c4c4c;
    }
    .active{
      background-color: #4c4c4c;
    }
  }
}