.cwg-carousel{
  padding-bottom: 45px;

  img{
    width: 100%;
  }

  p{
    margin-bottom: 0;
  }

  .cwg-lace{
    position: absolute;
    bottom: 45px;

    height: 4px;
    width: 100%;
    background: url(../imgs/lace.png) 9px 100% repeat-x;
  }
  .carousel-indicators{
    bottom: 0;
    li{
      border-color: #4c4c4c;
    }
    .active{
      background-color: #4c4c4c;
    }
  }
}