.navbar{
  border: 0;
  margin-bottom: 0;
}

.cwg-navbar{
  min-height: $home-nav-height;

  .navbar-nav a{
    color: $home-nav-color;
    line-height: 1;
    padding-top: $home-nav-padding;
    padding-bottom: $home-nav-padding;
  }

  .active a{
    color: $home-nav-highlight-color;
    background-color: $primary-bg-color;

    &:hover, &:focus{
      background-color: $primary-bg-color;
    }
  }

  .navbar-toggle .icon-bar{
    background: $home-nav-highlight-color;
  }
}
