$adg1-bg-color: #00d7ad;
$adg2-bg-color: #f7b52d;
$adg3-bg-color: #9ada5d;
$adg4-bg-color: #00bde3;
$adg5-bg-color: #ff8da0;

$nav-dotted-color: #0c7987;

.nav-page{
  .nav-lace{
    width: 100%;
    height: 22px;

    position: absolute;
    left: 0;
    bottom: 0;

    background: center top repeat-x;
  }

  .nav-dotted{
    width: 100%;

    position: absolute;
    top: 5px;
    left: 0;

    border-bottom: 3px dotted $nav-dotted-color;
  }

  .adg-item{
    position: relative;
  }

  .adg-health{
    background: $adg1-bg-color url(../imgs/nav/gradient.png) top center repeat-x;

    .nav-lace{
      background-image: url(../imgs/nav/t1.png);
    }
  }

  .adg-price{
    background-color: $adg2-bg-color;
  }

  .adg-purebred{
    background-color: $adg3-bg-color;
    padding-bottom: 22px;

    .nav-lace{
      bottom: -1px;
      background-image: url(../imgs/nav/t2-1.png);
    }
  }

  .adg-process{
    background-color: $adg4-bg-color;
  }

  .adg-buy{
    background-color: $adg5-bg-color;

    .nav-lace{
      background-image: url(../imgs/nav/t3.png);
    }

    .lace-top{
      background-image: url(../imgs/nav/t2-2.png);
      top: -1px;
      bottom: auto;
    }
  }
}