.cwg-navbar{
  border: 0;
  margin-bottom: 0;
  min-height: 30px;

  .navbar-nav a{
    color: $nav-color;
    line-height: 1;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .active a{
    color: $nav-highlight-color;
    background: $bg-color;
  }

  .navbar-toggle .icon-bar{
    background: $nav-highlight-color;
  }

}
