$main-bg: #282c37;
$font-color: #ccc;
$font-size: 16px;
$font-highlight: #f4cb20;

$primary-bg-color: #ffd401;
$copyright-bg-color: #daa904;
$weibo-bg-color: #ec5342;
$weixin-bg-color: #05b410;
$mail-bg-color: #56acee;
$primary-color: #ff3500;

$padding-sm: 10px;

body{
  font-family: '\9ed1\4f53', 'Microsoft Yahei';
}