{% extends 'petmicro/tpl/base/base.html' %}
{% load assets %}
{% block title %}宠物信息录入查询系统{% endblock %}
{% block bodyhook %}class="business-data"{% endblock %}
{% block content %}
<div class="business-wrap">
    <div class="business-title text-center">
        <h1>信息录入/查询
            <a href="/petmicro/login?logout=1" class="pull-right" style="font-size: 14px;">退出</a>
        </h1>
        <p>Information input and query</p>
    </div>
    <div class="business-bg hide"></div>
    <form class="form-horizontal business-num-form">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="setnum">宠物编号:</label>
            <div class="col-sm-7" style="padding-left: 0;">
                <input class="form-control required setnum" id="setnum" name="setnum" type="text" placeholder="请输入完整的芯片号码"/>
            </div>
            <div class="col-sm-2" style="padding: 0;">
                <button id="putinfo" type="button" class="btn btn-business form-control" style="padding: 0;" data-loading-text="请稍等...">查询/录入</button>
            </div>
        </div>
    </form>
	<form class="form-horizontal business-data-form hide" id="js-data-form">
        <input name="petidnum" id="petidnum" type="hidden"/>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="mastername">宠物主人姓名:</label>
			<div class="col-sm-3">
				<input class="form-control required" id="mastername" name="mastername" type="text"/>
                <span class="warn">*</span>
			</div>
			<label class="col-sm-3 control-label" for="breedername">繁殖者名字:</label>
			<div class="col-sm-3">
				<input class="form-control required" id="breedername" name="breedername" type="text"/>
                <span class="warn">*</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="masteridnum">宠物主人身份证号:</label>
			<div class="col-sm-3">
				<input class="form-control required" id="masteridnum" name="masteridnum" type="text"/>
                <span class="warn">*</span>
			</div>
			<label class="col-sm-3 control-label" for="breederidnum">繁殖者身份证号:</label>
			<div class="col-sm-3">
				<input class="form-control required" id="breederidnum" name="breederidnum" type="text"/>
                <span class="warn">*</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="mastercontact">宠物主人联系方式:</label>
			<div class="col-sm-3">
				<input class="form-control required" id="mastercontact" name="mastercontact" type="text"/>
                <span class="warn">*</span>
			</div>
			<label class="col-sm-3 control-label" for="breedercontact">繁殖者联系方式:</label>
			<div class="col-sm-3">
				<input class="form-control required" id="breedercontact" name="breedercontact" type="text"/>
                <span class="warn">*</span>
			</div>
		</div>
		<br />
		<div class="form-group">
			<label class="col-sm-3 control-label" for="pettype">犬种:</label>
			<div class="col-sm-3">
				<select class="form-control required" id="pettype" name="pettype" >
					{% for type in types %}
                    <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
                <span class="warn">*</span>
			</div>
            <label class="col-sm-3 control-label" for="petenglish">英文名:</label>
			<div class="col-sm-3">
				<input class="form-control" id="petenglish" name="petenglish" type="text"/>
			</div>
		</div>
		<div class="form-group">
            <label class="col-sm-3 control-label" for="petsex">性别:</label>
			<div class="col-sm-3">
				<select class="form-control required" id="petsex" name="petsex">
                    <option value="公">公</option>
                    <option value="母">母</option>
                </select>
                <span class="warn">*</span>
			</div>
			<label class="col-sm-3 control-label" for="petcolor">颜色:</label>
			<div class="col-sm-3">
				<select class="form-control required" id="petcolor" name="petcolor" >
					{% for color in colors %}
                    <option value="{{ color }}">{{ color }}</option>
                    {% endfor %}
                </select>
                <span class="warn">*</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="petbirthdate">出生日期:</label>
			<div class="col-sm-3">
				<input class="form-control required" id="petbirthdate" name="petbirthdate" type="text" readonly/>
                <span class="warn">*</span>
			</div>
			<label class="col-sm-3 control-label" for="petmather">母亲身份识别号码:</label>
			<div class="col-sm-3">
				<input class="form-control" id="petmather" name="petmather" type="text"/>
			</div>
		</div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="petfather">父亲身份识别号码:</label>
			<div class="col-sm-3">
				<input class="form-control" id="petfather" name="petfather" type="text"/>
			</div>
        </div>
        <br/>
		<div class="form-group">
			<div class="col-sm-3 col-sm-offset-3">
                <button type="button" class="btn btn-custom form-control" tabindex="0" id="petsubmit" data-loading-text="请稍等...">保 存</button>
			</div>
            <div class="col-sm-4">
                <span style="color: #d80000;line-height: 34px;"><i class="glyphicon glyphicon-exclamation-sign" style="margin-right: 5px;"></i>提示：带*的内容必须填写!</span>
            </div>
		</div>
	</form>
	<textarea type="text" style="display:none" id="brogetnum">0</textarea>
	<textarea type="text" style="display:none" id="brosetnum">0</textarea>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ 'js/vendor/bootstrap-datepicker.js'|assets }}"></script>
<script>
    $('#petbirthdate').datepicker({
        autoclose: true,
        format: 'yyyy-mm-dd',
        orientation: "bottom right",
        language: "zh-CN"
    });

    var config = {
        onsubmit: false,
        //errorClass: 'hide',
        onkeyup: false,
        highlight: function (el) {
            $(el).parent().addClass('has-error');
        },
        success: function (el) {
            $(el).parent().removeClass('has-error');
            $(el).remove();
        },
        rules: {
            "setnum": {
                pattern: "^9800141",
                minlength: 15,
                maxlength: 15,
                digits: true
            },
            "petmather": {
                pattern: "^9800141",
                minlength: 15,
                maxlength: 15,
                digits: true
            },
            "petfather": {
                pattern: "^9800141",
                minlength: 15,
                maxlength: 15,
                digits: true
            },
            "masteridnum": {
                pattern: /^\d{15}$|^\d{18}$|^\d{17}(\d|X|x)$/,
                maxlength: 18
            },
            "breederidnum": {
               pattern: /^\d{15}$|^\d{18}$|^\d{17}(\d|X|x)$/,
               maxlength: 18
            }
        }
    };

    var validator1 = $('.business-num-form').validate($.extend({}, config, {errorClass: 'error'})),
        validator2 = $('.business-data-form').validate(config);

    $('.business-num-form').on('submit', function(){
        $('#putinfo').click();
        return false;
    });

    var g_idnum = 0;

    function get_info(idnum, $btn){
        var data = {'idnum':idnum};
        $.ajax({
                url: './',
                type: 'post',
                data: data,
                dataType: 'json',
                beforeSend: function(){
                    $btn && $btn.button('loading');
                },
                success: function(data){
                    $btn && $btn.button('reset');
                    $("#getinfo").remove();

                    if (data.status == 0)
                    {
                        $(".business-data-form").addClass('hide');
                        $(".business-data-form")[0].reset();
                        $(".business-wrap").append($(data.html));
                    }
                    else
                    {
                        $("#petidnum").val($("#setnum").val());
                        $(".business-data-form").removeClass('hide');
                    }

                    $('.business-bg').removeClass('hide');
                }
        });
    }

    $("#putinfo").click(function(){
        validator1.form();
        if(validator1.numberOfInvalids()){
            return;
        }

        get_info($("#setnum").val(), $(this));
    });

    $("#petsubmit").popover({
        content: '请检查数据填写是否正确！',
        placement: 'right',
        trigger: 'manual focus',
        template: '<div class="popover"><div class="arrow"></div><div class="popover-content popover-error"></div></div>'
    });

    $("#petsubmit").click(function(){
        validator2.form();
        if(validator2.numberOfInvalids()){
            $("#petsubmit").popover('show');
            return;
        }

        $("#petsubmit").popover('hide');

        var $this = $(this),
            arr = $('#js-data-form').serializeArray(),
            data = {};

        for(var i = 0, len = arr.length; i < len; i++){
            var curr = arr[i];
            data[curr.name] = curr.value;
        }

        $("#getinfo").remove();

        $.ajax({
                url: './',
                type: 'post',
                data: data,
                dataType: 'json',
                beforeSend: function(){
                    $this.button('loading');
                },
                complete: function(){
                    $this.button('reset');
                },
                success: function(data){
                    if (data.status == 0)
                    {
                        $(".business-data-form").addClass('hide');
                        $('#js-data-form')[0].reset();
                        $(".business-wrap").append($(data.html));
                    }else{
                        alert(data.message);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown){
                    alert(errorThrown);
                }
            });
    });
	function reset_idnum(){
		$("#brogetnum").text("0");
	}
    function set_idnum(idnum) {
        g_idnum = idnum;
        if (g_idnum != '0'){
       		$("#brogetnum").text(idnum);
        	$("#brosetnum").text("0");
            $('#setnum').val(idnum);
            get_info(g_idnum,$("#putinfo"));
        }
    }
    function setnumchange(){
    	set_idnum($("#brosetnum").text());
    	
    	setTimeout(setnumchange, 1000);
    }
    
    setTimeout(setnumchange, 1000);
</script>
{% endblock %}