{% extends 'petmicro/tpl/base/base.html' %}


{% block header %}
    {% include 'petmicro/tpl/base/custom-header.html' %}
{% endblock %}

{% block bodyhook %}class="custom"{% endblock %}

{% block content %}
    <style>
        th{
            background-color: #ddd;
        }
    </style>

    <div class="custom-result">
        <h1 class="text-center">身份识别标志（芯片编号）：{{ pet.id_num }}</h1>
        <table class="table table-bordered">
            <tr>
                <th colspan="4">主人信息</th>
            </tr>
            <tr>
                <td>姓名</td>
                <td>{{ pet.petmaster.name }}</td>
                <td>身份证号码</td>
                <td>{{ pet.petmaster.id_num }}</td>
            </tr>
            <tr>
                <td>联系方式</td>
                <td colspan="3">{{ pet.petmaster.contact }}</td>
            </tr>
        </table>
        <table class="table table-bordered">
            <tr>
                <th colspan="4">犬只信息</th>
            </tr>
            <tr>
               <td>犬种</td>
               <td>{{ pet.type }}</td>
               <td>英文名</td>
               <td>{{ pet.englishname }}</td>
            </tr>
            <tr>
                <td>性别</td>
                <td>{{ pet.sex }}</td>
                <td>颜色</td>
                <td>{{ pet.color }}</td>
            </tr>
            <tr>
                <td>出生日期</td>
                <td>{{ pet.birthdate }}</td>
                <td>繁殖人</td>
                <td>{{ pet.petbreeder.name }}</td>
            </tr>
            <tr>
                <td>父亲身份识别号</td>
                <td>{{ pet.father }}</td>
                <td>母亲身份识别号</td>
                <td>{{ pet.mather }}</td>
            </tr>
        </table>
    </div>

{% endblock %}