.modal-loading{
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff url(../imgs/loading.gif) center no-repeat;

  .loading &{
    display: block;
  }
}

.modal-auto-width{
  text-align: center;

  .modal-title{
    text-align: left;
  }

  .modal-dialog{
    @media (min-width: $screen-sm) {
      width: auto;
      display: inline-block;
    }
  }
}