.modal-loading{
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff url(../imgs/loading.gif) center;

  .loading &{
    display: block;
  }
}

.model{
  text-align: center;
}

.modal-dialog{
  @media (min-width: $screen-sm) {
    width: auto;
    min-width: 800px;
    display: inline-block;
  }
}