{% extends 'market/tpl/base/base.html' %}
{% load assets_market %}
{% block title %}内容编辑{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ 'css/jquery.dataTables.css'|assets_market }}"/>
<link rel="stylesheet" href="{{ 'css/dataTables.editor.css'|assets_market }}"/>
{% endblock %}
{% block main %}
<h1 class="page-header">预约订单</h1>

<table class="table table-striped" id="js-order-info-table">
    <thead>
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>电话</th>
            <th>犬舍</th>
            <th>犬种</th>
            <th>预约时间</th>
            <th>预约地点</th>
            <th>交通方式</th>
            <th>是否受理</th>
            <th>订单提交时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="modal fade" id="js-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <input name="filter" type="hidden" value="untreated"/>
                    <input name="action" type="hidden" value="edit"/>
                    <input name="id" type="hidden" id="id"/>
                    <div class="form-group">
                        <label for="petfarm" class="control-label col-sm-3">犬舍：</label>
                        <div class="col-sm-4">
                            <select name="petfarm" id="petfarm" class="form-control">
                            	{% for petfarm in petfarms %}
                                <option value="{{ petfarm.id }}">{{ petfarm.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pettype" class="control-label col-sm-3">犬种：</label>
                        <div class="col-sm-4">
                            <select name="pettype" id="pettype" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="appointtime" class="control-label col-sm-3">预约时间：</label>
                        <div class="col-sm-6">
                            <button class="btn btn-select radius-none" type="button" id="js-btn-time">
                                <span class="select-title" id="js-time" data-text="选择时间">选择时间</span>
                                <div class="vertical-center">
                                    <i class="glyphicon glyphicon-calendar select-icon"></i>
                                </div>
                            </button>
                            {% include 'market/tpl/components/time-box.html' %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">预约地点：</label>
                        <div class="col-sm-6">
                            <button class="btn btn-select radius-none" type="button" id="js-btn-location">
                                <span class="select-title" id="js-location" data-text="选择城市">选择城市</span>
                                <div class="vertical-center">
                                    <span class="caret select-icon"></span>
                                </div>
                            </button>
                            {% include 'market/tpl/components/location-box.html' %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">交通方式：</label>
                        <div class="col-sm-4">
                            <label class="radio-inline">
                              <input type="radio" name="trans" value="drive" id="drive"> 自驾
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="trans" value="lift" id="lift"> 接送
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="accept" class="control-label col-sm-3">是否受理：</label>
                        <div class="col-sm-4">
                            <select name="accept" id="accept" class="form-control">
                                <option value="2">已受理</option>
                                <option value="4">预约失败</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary btn-submit" data-loading-text="提交中...">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="location-select-tpl">
<dl class="clearfix">
  <dd>
      {% templatetag openvariable %}each locations as location{% templatetag closevariable %}
      <a href="javascript:" data-id="{% templatetag openvariable %}location.id{% templatetag closevariable %}">{% templatetag openvariable %}location.name{% templatetag closevariable %}</a>
      {% templatetag openvariable %}/each{% templatetag closevariable %}
  </dd>
</dl>
</script>

{% endblock %}
{% block scripts %}
<script src="{{ 'lib/datatables/jquery.datatables.js'|assets_market }}"></script>
<script src="{{ 'lib/datatables/datatables.editor.js'|assets_market }}"></script>
<script src="{{ 'lib/template.js'|assets_market }}"></script>
<script>
;(function($){
    //render table
    var $orderInfoTable = $('#js-order-info-table'),
        filter = 'untreated',
        acceptMap = {
            '1': '已预约',
            '2': '已受理',
            '3': '未受理',
            '4': '预约失败',
            '5': '已完成'
        },
        transMap = {
            'lift': '接送',
            'drive': '自驾'
        },
        orderInfoTable = $orderInfoTable.DataTable({
            serverSide: true,
            processing: true,
            ajax: {
                url: '/market/attention/data/',
                data: function ( d ) {
                    d.filter = filter;
                }
            },
            ordering: false,
            searching: false,
            lengthChange: false,
            bAutoWidth: false,
            language: {
                url: "{{ 'lib/datatables/zh-CN.json'|assets_market }}"
            }
            ,columnDefs: [{
                targets: 7,
                render: function(data, type, full, meta){
                    return type == 'display' ? transMap[data] : data;
                }
            }, {
                targets: 8,
                className: 'col-accept',
                render: function(data, type, full, meta){
                    return type == 'display' ? acceptMap[data] : data;
                }
            }]
            ,columns: [
                {data: 'id'},
                {data: 'name'},
                {data: 'tel'},
                {data: 'petfarm'},
                {data: 'pettype'},
                {data: 'appointtime'},
                {data: 'location'},
                {data: 'trans'},
                {data: 'accept'},
                {data: 'time'},
                {
                    data: null,
                    defaultContent: '<a href="javascript:" class="btn-edit"><i class="glyphicon glyphicon-pencil"></i></a>'
                }
            ]
        });

    //select box focus out
    $('.select-box').on('focusout', function(){
        $(this).hide();
    });

    //时间选择
    var $btnTime = $('#js-btn-time'),
        $timeBox = $('#js-time-box'),
        $time = $('#js-time'),
        $timeInput = $('#js-time-input');

    $btnTime.on('click', function(){
        $timeBox.is(':visible') ? $timeBox.trigger('focusout') : $timeBox.show().trigger('focus');
    });

    $timeBox.on('click', 'td', function(){
        var $this = $(this),
            time = $.trim($this.closest('tr').find('th').text()),
            data = $this.data();

        if($this.hasClass('disabled')){
            return;
        }

        $timeBox.find('td').not($this.addClass('active')).removeClass('active');

        var text = data.year + '-' + data.date + '（'+ data.day +'）' + time;
        $time.text(text);
        $timeInput.val(data.year + '-' + data.date + ' ' + time);
        $timeBox.hide();
    });

    //地址选择
    var $btnLocation = $('#js-btn-location'),
        $locationBox = $('#js-location-box'),
        $location = $('#js-location'),
        $locationInput = $('#js-location-input'),
        $province = $locationBox.find('#province'),
        $city = $locationBox.find('#city'),
        $toCity = $locationBox.find('#js-to-city'),
        $district = $locationBox.find('#district'),
        $toDistrict = $locationBox.find('#js-to-district'),
        $street = $locationBox.find('#street'),
        $toStreet = $locationBox.find('#js-to-street'),
        render = template('location-select-tpl'),
        param = {},
        location = [];

    $btnLocation.on('click', function(){
        $locationBox.is(':visible') ? $locationBox.trigger('focusout') : $locationBox.show().trigger('focus');
    });

    function renderData(param, $parent, cb){
        $.ajax({
            url: '/market/attention/mod/select/',
            data: param,
            dataType: 'json',
            success: function(data){
{#                if(data.status == 0){#}
                    $parent.html(render(data));
                    cb();
{#                }else{#}
{#                    alert(data.message);#}
{#                }#}
            }
        });
    }

    function changeActive($parent, $this){
        if(!$this.hasClass('active')){
            var $active = $parent.find('.active');
            $active.removeClass('active');
            $this.addClass('active');
        }
    }

    $province.on('click', 'a', function(){
        var $this = $(this);

        changeActive($province, $this);

        location[0] = $this.text();

        param.province = $this.data('id');
        param.range = $this.closest('dl').find('dt').data('id');
        delete param.city;
        delete param.district;
        delete param.street;

        $district.html('');
        $street.html('');

        renderData(param, $city, function(){
           $toCity.tab('show');
        });
    });

    $city.on('click', 'a', function(){
        var $this = $(this);

        changeActive($city, $this);

        location[1] = $this.text();

        param.city = $this.data('id');
        delete param.district;
        delete param.street;

        $street.html('');

        renderData(param, $district, function(){
            $toDistrict.tab('show');
        });
    });

    $district.on('click', 'a', function(){
        var $this = $(this);

        changeActive($district, $this);

        location[2] = $this.text();

        param.district = $this.data('id');
        delete param.street;

        renderData(param, $street, function(){
           $toStreet.tab('show');
        });
    });

    $street.on('click', 'a', function(){
        var $this = $(this);

        changeActive($street, $this);

        location[3] = $this.text();

        param.street = $this.data('id');

        var text = location.join('-');
        $location.text(text);
        $locationInput.val(JSON.stringify(param));
        $locationBox.hide();
    });

    //修改弹窗
    var $modal = $('#js-modal'),
        $form = $modal.find('form'),
        $id = $form.find('#id'),
        $petFarm = $form.find('#petfarm'),
        $petType = $form.find('#pettype'),
        trans = {
            'drive': $form.find('#drive'),
            'lift': $form.find('#lift')
        };

    function initOptions(id, cb){
        $.ajax({
            url: '/market/attention/mod/select/',
            dataType: 'json',
            data: {petfarm: id},
            success: function(data){
                cb(data);
            }
        });
    }

    var prevPetFarm = '';

    $petFarm.on('change', function(event, obj){
        var val = $petFarm.val();
        $modal.addClass('loading');

        initOptions(val, function(data){
            var options = '';

            $.each(data, function(idx, el){
                options += '<option value="'+ el +'">' + el + '</option>'
            });

            if(options){
                prevPetFarm = val;
                $petType.html(options);

                if(obj && obj.pettype){
                    $petType.find('option').filter(':contains("'+ obj.pettype +'")').prop('selected', true);
                }

            }else{
                $petFarm.val(prevPetFarm);
                alert('此养殖场没有可选的犬种，请选择其他养殖场。');
            }

            $modal.removeClass('loading');
        });
    });


    $orderInfoTable.on('click', '.btn-edit', function(){
       $modal.addClass('loading').modal('show');

       var data = orderInfoTable.row($(this).closest('tr')).data();
       initData(data);
    });

    function initData(data){
        $petFarm.find('option').filter(':contains("'+ data.petfarm +'")').prop('selected', true);
        $petFarm.trigger('change', {pettype: data.pettype});

        $id.val(data.DT_RowId);
        $time.text(data.appointtime);
        $location.text(data.location);

        trans[data.trans].prop('checked', true);
    }

    var present = {'id':'', 'filter':'', 'action':''};

    $modal.on('click', '.btn-submit', function(){
        var data = {},
            $btn = $(this);

        $.each($form.serializeArray(), function(i, e){
            var name = e.name in present ? e.name : 'data['+ e.name +']';
            data[name] = e.value;
        });

        console.log(data);

        $btn.button('loading');

        $.ajax({
            url: '/market/attention/mod/',
            dataType: 'json',
            data: data,
            success: function(data){
                orderInfoTable.ajax.reload();
            },
            complete: function(){
                $btn.button('reset');
            }
        });
    });


}(jQuery));

</script>
{% endblock %}