{% extends 'market/tpl/base/base.html' %}
{% load assets_market %}
{% block title %}内容编辑{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ 'css/jquery.dataTables.css'|assets_market }}"/>
<link rel="stylesheet" href="{{ 'css/dataTables.editor.css'|assets_market }}"/>
{% endblock %}
{% block main %}
<h1 class="page-header">欢迎使用！</h1>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
          <tr>
          <th></th>
          <th>用户编号</th>
          <th>用户名</th>
          <th>联系电话</th>
          <th>宠物信息</th>
          <th>关注类型（0为预定）</th>
          <th>关注时间</th>
          <th>是否删除</th>
          </tr>
        </thead>
</table>
{% endblock %}
{% block scripts %}
<script src="{{ 'lib/datatables/jquery.datatables.js'|assets_market }}"></script>
<script src="{{ 'lib/datatables/datatables.tabletools.js'|assets_market }}"></script>
<script src="{{ 'lib/datatables/datatables.editor.js'|assets_market }}"></script>
<script type="text/javascript">
var editor; // use a global for the submit and return data rendering in the examples

$(document).ready(function() {
    editor = new $.fn.dataTable.Editor( {
        ajax: "/market/attention/mod/",
        table: "#example",
        fields: [ {
                label: "id:",
                name: 0
            },{
                label: "user:",
                name: 1
            }, {
                label: "tel:",
                name: 2
            },{
                label: "nestofpet_id:",
                name: 3
            }, {
                label: "attention_type:",
                name: 4
            }, {
                label: "time:",
                name: 5
            }, {
                label: "dele:",
                name: 6
            }
        ]
    } );
 
    // Activate an inline edit on click of a table cell
    $('#example').on( 'click', 'tbody td:not(:first-child)', function (e) {
        editor.inline( this );
    } );
 
    $('#example').DataTable( {
        dom: "Tfrtip",
        ajax: "{% url order_list_json %}",
        columns: [
        { data: null, defaultContent: '', orderable: false },
            { data: 0 },
            { data: 1 },
            { data: 2 },
            { data: 3 },
            { data: 4 },
            { data: 5 },
            { data: 6 }
        ],
        order: [ 1, 'asc' ],
        tableTools: {
            sRowSelect: "os",
            sRowSelector: 'td:first-child',
            aButtons: [
                { sExtends: "editor_edit",   editor: editor }
            ]
        }
    } );
    
    $("#example tbody").dblclick(function(e){
		var aa = 0;
		var e = jQuery.Event("keydown");//模拟一个键盘事件 
		e.keyCode = 13;//keyCode=13是回车 
		$(".DTE_Inline").parent().parent().trigger(e);//模拟页码框按下回车 
 	});
} );
</script>
{% endblock %}