{% extends 'market/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/market/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" href="/static/market/css/dataTables.editor.min.css"/>
{% endblock %}
{% block main %}
<h1 class="page-header">欢迎使用！</h1>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
          <tr>
          <th></th>
          <th>用户编号</th>
          <th>用户名</th>
          <th>联系电话</th>
          <th>宠物信息</th>
          <th>关注类型（0为预定）</th>
          <th>关注时间</th>
          <th>是否删除</th>
          </tr>
        </thead>
</table>
{% endblock %}