{% extends 'tpl/base/base.html' %}
{% load assets %}

{% block title %}关于宠物购|宠物购 只为给你一只健康可爱的狗狗{% endblock %}

{% block content %}
<div class="cwg-container">
<div class="container" style="height:300px;font-size:30px;background-color:#fff">
	<div class="row">
        <div class="col-md-11 col-md-offset-0_5">
            <div class="row cwg-area-row">
        		<div class="col-xs-6 col-sm-12">
				“宠物购”是国内首家O2O的宠物犬交易平台，用户可以通过平台找到购买自己喜欢的狗狗的养殖场，跨过狗市及宠物店，直接去养殖场购买爱犬。刚获得北京著名天使投资人的种子轮投资，产品目前还处于研发阶段，团队目前正在逐渐壮大！
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}