{% extends 'tpl/base/base.html' %}
{% load assets %}

{% block title %}首页{% endblock %}

{% block content %}

<div class="carousel slide cwg-carousel" data-ride="carousel">
  <div class="carousel-inner">
    {% for ad in ads %}
    <div class="item{% if forloop.first %} active{% endif %}">
        <a target="_blank" href="{{ ad.tar_url }}"><img src="{{ ad.img_url }}"></a>
    </div>
    {% endfor %}
  </div>
  <ol class="carousel-indicators">
    {% for ad in ads %}
    <li data-target=".cwg-carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  <div class="carousel-lace"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11 col-md-offset-0_5">
            <div class="row cwg-area-row">
                <div class="col-sm-2_4 cwg-area">
                    <h2><a href="/buy/?direct=东" >城东狗舍</a></h2>
                    <div>
                    	{% if east_farm_img %}
                        <a href="/buy/?direct=东"><img src="{{ east_farm_img.img_url }}" class="img-responsive"></a>
                        {% else %}
                        <a href="/buy/?direct=东"><img src="{{ 'imgs/test.jpg'|assets }}" class="img-responsive"></a>
                     	{% endif %}
                        <p><span class="floor-price">&yen;{{ east_farm.min_prince }}</span><span> 起</span></p>
                    </div>
                </div>
                <div class="col-sm-2_4 cwg-area">
                    <h2><a href="/buy/?direct=南" >城南狗舍</a></h2>
                    <div>
                        {% if south_farm_img %}
                        <a href="/buy/?direct=南"><img src="{{ south_farm_img.img_url }}" class="img-responsive"></a>
                        {% else %}
                        <a href="/buy/?direct=南"><img src="{{ 'imgs/test.jpg'|assets }}" class="img-responsive"></a>
                     	{% endif %}
                        <p><span class="floor-price">&yen;{{ south_farm.min_prince }}</span><span> 起</span></p>
                    </div>
                </div>
                <div class="col-sm-2_4 cwg-area">
                    <h2><a href="/buy/?direct=西" >城西狗舍</a></h2>
                    <div>
                        {% if west_farm_img %}
                        <a href="/buy/?direct=西"><img src="{{ west_farm_img.img_url }}" class="img-responsive"></a>
                        {% else %}
                        <a href="/buy/?direct=西"><img src="{{ 'imgs/test.jpg'|assets }}" class="img-responsive"></a>
                     	{% endif %}
                        <p><span class="floor-price">&yen;{{ west_farm.min_prince }}</span><span> 起</span></p>
                    </div>
                </div>
                <div class="col-sm-2_4 cwg-area">
                    <h2><a href="/buy/?direct=北" >城北狗舍</a></h2>
                    <div>
                        {% if north_farm_img %}
                        <a href="/buy/?direct=北"><img src="{{ north_farm_img.img_url }}" class="img-responsive"></a>
                        {% else %}
                        <a href="/buy/?direct=北"><img src="{{ 'imgs/test.jpg'|assets }}" class="img-responsive"></a>
                     	{% endif %}
                        <p><span class="floor-price">&yen;{{ north_farm.min_prince }}</span><span> 起</span></p>
                    </div>
                </div>
                <div class="col-sm-2_4 cwg-area">
                    <h2><a href="/buy/?direct=中" >城中狗舍</a></h2>
                    <div>
                        {% if center_farm_img %}
                        <a href="/buy/?direct=中"><img src="{{ center_farm_img.img_url }}" class="img-responsive"></a>
                        {% else %}
                        <a href="/buy/?direct=中"><img src="{{ 'imgs/test.jpg'|assets }}" class="img-responsive"></a>
                     	{% endif %}
                        <p><span class="floor-price">&yen;{{ center_farm.min_prince }}</span><span> 起</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
