{% extends 'tpl/base/base.html' %}
{% load assets %}

{% block title %}首页|宠物购 只为给你一只健康可爱的狗狗{% endblock %}

{% block content %}

<div class="carousel slide cwg-carousel" data-ride="carousel">
  <div class="carousel-inner">
    {% for ad in ads %}
    <div class="item loading{% if forloop.first %} active{% endif %}">
        <a target="_blank" href="{{ ad.tar_url }}"><img src="{{ ad.img_url }}"></a>
    </div>
    {% endfor %}
  </div>
  <ol class="carousel-indicators">
    {% for ad in ads %}
    <li data-target=".cwg-carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  <div class="carousel-lace"></div>
</div>

<div class="container">
    <div class="row cwg-area-row">
        {% for direct_farm in direct_farms %}
        <div class="col-xs-6 col-sm-3 cwg-area">
            <h2><a href="/buy/?direct=东" >城{{ direct_farm.direct }}犬舍</a></h2>
            <div>
                {% if direct_farm.pic %}
                <a href="/buy/?direct={{ direct_farm.direct }}">
                    <img src="{{ 'imgs/loading.gif'|assets }}" data-original="{{ direct_farm.pic.img_url }}" class="img-full js-lazy">
                </a>
                {% else %}
                <a href="/buy/?direct={{ direct_farm.direct }}">
                    <img  src="{{ 'imgs/loading.gif'|assets }}" data-original="{{ 'imgs/test.jpg'|assets }}" class="img-full js-lazy">
                </a>
                {% endif %}
{#                <p><span class="price price-lg">{{ direct_farm.farm.min_prince|floatformat }}<span class="price-desc">起</span></span></p>#}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
