{% load assets %}
{% for pet_img in pets_imgs %}
<div class="row">
    <div class="col-md-6 most-popular">
        <div>
            <a href="/buy/detail/?petid={{pet_img.pet.id}}">
                <img src="{{ pet_img.img.img_url }}" class="dog-img">
            </a>
            <div class="dog-desc">
                <h4><a href="">[城{{ pet_img.pet.farm.direct }}-{{ pet_img.pet.farm.district }}]{{ pet_img.pet.farm.name }} {{ pet_img.pet.color }}{{ pet_img.pet.type }}</a></h4>
                <p>
                    <span class="dog-price">&yen; {{ pet_img.pet.min_price }}-{{ pet_img.pet.max_price }}<span class="dog-unit">元/只</span></span>
                    <a href="/buy/detail/?petid={{pet_img.pet.id}}" class="btn btn-primary pull-right btn-dog" role="button">去看看</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}