{% extends 'tpl/base/base.html' %}
{% load assets %}

{% block title %}购买{% endblock %}

{% block content %}

<div class="buy-container">
    <div class="container buy-inner">
        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <div class="input-group dog-search-wrap">
                      <input type="text" class="form-control" placeholder="宠物品种，宠物食品，宠物玩具">
                      <span class="input-group-addon">
                          <i class="glyphicon glyphicon-search"></i>
                      </span>
                </div>
            </div>
        </div>

        <div class="row dog-select-row">
            <div class="col-sm-1 text-right dog-select-title">犬种：</div>
            <div class="col-sm-11">
                <ul class="nav nav-pills">
                	{% if typekey == None%}
                    <li class="active"><a href="{{ urls.type_all_url }}">全部</a></li>
                    {% else %}
                    <li><a href="{{ urls.type_all_url }}">全部</a></li>
                    {% endif %}
                    {% for type in types %}
                    {% if type == typekey %}
                    <li class="active"><a href="{{ urls.url }}type={{ type }}">{{ type }}</a></li>
                    {% else %}
                    <li><a href="{{ urls.url }}type={{ type }}">{{ type }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row dog-select-row">
            <div class="col-sm-1 text-right dog-select-title">价格：</div>
            <div class="col-sm-11">
                <ul class="nav nav-pills">
                	{% if princekey == None%}
                    <li class="active"><a href="{{ urls.prince_all_url }}">全部</a></li>
                    {% else %}
                    <li><a href="{{ urls.prince_all_url }}">全部</a></li>
                    {% endif %}
                    {% for prince in princes %}
                    {% if prince.a == princekey %}
                    <li class="active"><a href="{{ urls.url }}prince={{ prince.a }}">{{ prince.b }}-{{ prince.c }}</a></li>
                    {% else %}
                    <li><a href="{{ urls.url }}prince={{ prince.a }}">{{ prince.b }}-{{ prince.c }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row dog-select-row">
            <div class="col-sm-1 text-right dog-select-title">区域：</div>
            <div class="col-sm-11">
                <ul class="nav nav-pills">
                	{% if directkey == None%}
                    <li class="active"><a href="{{ urls.direct_all_url }}">全部</a></li>
                    {% else %}
                    <li><a href="{{ urls.direct_all_url }}">全部</a></li>
                    {% endif %}
                    {% for direct in directs %}
                    {% if direct == directkey %}
                    <li class="active"><a href="{{ urls.url }}direct={{ direct }}">城{{ direct }}</a></li>
                    {% else %}
                    <li><a href="{{ urls.url }}direct={{ direct }}">城{{ direct }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row dog-select-row">
            <div class="col-sm-1 text-right dog-select-title">疫苗：</div>
            <div class="col-sm-11">
                <ul class="nav nav-pills">
                	{% if epidemickey == None%}
                    <li class="active"><a href="{{ urls.epidemic_all_url }}">全部</a></li>
                    {% else %}
                    <li><a href="{{ urls.epidemic_all_url }}">全部</a></li>
                    {% endif %}
                    {% for epidemic in epidemics %}
                    {% if epidemic == epidemickey %}
                    <li class="active"><a href="{{ urls.url }}epidemic={{ epidemic }}">{{ epidemic }}</a></li>
                    {% else %}
                    <li><a href="{{ urls.url }}epidemic={{ epidemic }}">{{ epidemic }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row dog-select-row">
            <div class="col-sm-1 text-right dog-select-title">月龄：</div>
            <div class="col-sm-11">
                <ul class="nav nav-pills">
                	{% if agekey == None%}
                    <li class="active"><a href="{{ urls.age_all_url }}">全部</a></li>
                    {% else %}
                    <li><a href="{{ urls.age_all_url }}">全部</a></li>
                    {% endif %}
                    {% for age in ages %}
                    {% if age.a == agekey %}
                    <li class="active"><a href="{{ urls.url }}age={{ age.a }}">{{ age.b }}-{{ age.c }}月</a></li>
                    {% else %}
                    <li><a href="{{ urls.url }}age={{ age.a }}">{{ age.b }}-{{ age.c }}月</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row dog-select-row">
            <div class="col-sm-1 text-right dog-select-title">筛选：</div>
            <div class="col-sm-11">
                <ul class="nav nav-pills dog-selected">
                	{% if typekey == None%}
                	{% else %}
                    <li><a href="{{ urls.type_all_url }}">{{ typekey }} &times;</a></li>
                    {% endif %}
                    {% if princekey == None%}
                	{% else %}
                    <li><a href="{{ urls.prince_all_url }}">价格 &times;</a></li>
                    {% endif %}
                    {% if directkey == None%}
                	{% else %}
                    <li><a href="{{ urls.direct_all_url }}">城{{ directkey }} &times;</a></li>
                    {% endif %}
                    {% if epidemickey == None%}
                	{% else %}
                    <li><a href="{{ urls.epidemic_all_url }}">{{ epidemickey }} &times;</a></li>
                    {% endif %}
                    {% if agekey == None%}
                	{% else %}
                    <li><a href="{{ urls.age_all_url }}">月龄 &times;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="dog-separate row"></div>
        <div class="row">
            <div class="dog-list">
            	{% for pet_img in pets_imgs %}
                <div class="col-md-4">
                	<img src="{{ pet_img.img.img_url }}" class="dog-img"/>
                    <div class="dog-desc">
                    	<h4><a href="detail/?petid={{pet_img.pet.id}}">[城{{ pet_img.pet.farm.direct }}-{{ pet_img.pet.farm.district }}]{{ pet_img.pet.farm.name }} {{ pet_img.pet.color }}{{ pet_img.pet.type }}{{ pet_img.pet.txt_desc }}</a></h4>
                        <p class="dog-addr"><span class="glyphicon glyphicon-map-marker"></span>{{ pet_img.pet.farm.detail_address }}</p>
                        <p>
                            <span class="dog-price">&yen; {{ pet_img.pet.min_price }}-{{ pet_img.pet.max_price }}<span class="dog-unit">元/只</span></span>
                            <a href="detail/?petid={{pet_img.pet.id}}" class="btn btn-default pull-right btn-dog" role="button">去看看</a>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
