{% extends 'tpl/base/base.html' %}
{% load assets %}

{% block title %}详情页{% endblock %}

{% block content %}

<div class="container detail-container">
    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
              <li><a href="/home">首页</a></li>
              <li><a href="/buy">我要买狗</a></li>
              <li class="active">城南狗舍</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <a href="javascript:" class="cwg-thumb">
                <img src="{{ petimg_a.img_url }}" />
            </a>
            <div class="cwg-dog-imgs">
                <a class="prev-thumb" href="javascript:"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <div class="thumbnail-wrap">
                    <ul class="cwg-thumbnail clearfix">
                    <li class="active" data-src="{{ petimg_a.img_url }}"><img src="{{ petimg_a.img_url }}!small"/></li>
                    {% for nowimg in nowimgs %}
                        <li data-src="{{ nowimg.img_url }}"><img src="{{ nowimg.img_url }}!small"/></li>
                    {% endfor %}
                    </ul>
                </div>
                <a class="next-thumb" href="javascript:"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>
        <div class="col-md-7">
            <h1 class="cwg-detail-title">[城{{ nestpet.farm.direct }}-{{ nestpet.farm.district }}]{{ nestpet.farm.name }} {{ nestpet.color }}{{ nestpet.type }}{{ nestpet.txt_desc }}</h1>
            <div class="cwg-detail-info">
                <div class="info-row clearfix">
                    <div class="info-td-left">
                        价<span class="middle-space"></span>格：
                    </div>
                    <div class="info-td-right">
                        <span>&yen;<span class="cwg-detail-price"> {{ nestpet.min_price }}-{{ nestpet.max_price }} </span></span>元/只
                    </div>
                </div>
                <div class="info-row clearfix">
                    <div class="info-td-left">
                        犬<span class="middle-space"></span>种：
                    </div>
                    <div class="info-td-right">
                        <ul class="nav nav-pills cwg-detail-pills">
                        	{% for pettype in pet_types %}
                        	{% if pettype == curtype %}
                            <li class="active"><a href="javascript:" data-type="{{ pettype }}" data-id="{{ nestpet.farm.id }}">{{ pettype }}</a></li>
                            {% else %}
                            <li><a href="javascript:" data-type="{{ pettype }}" data-id="{{ nestpet.farm.id }}">{{ pettype }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="info-row clearfix">
                    <div class="info-td-left">
                        电话咨询：
                    </div>
                    <div class="info-td-right">
                        <span class="cwg-detail-phone">13912345678</span> <span class="cwg-detail-phone">13912345678</span>
                    </div>
                </div>
                <div class="info-row clearfix">
                    <div class="info-td-left">&nbsp;</div>
                    <div class="info-td-right">
                        <a href="" class="btn btn-primary btn-order" data-toggle="modal" data-target="#cwg-order-modal">预约看狗</a>
                        <a href="" class="btn btn-info btn-consult">在线咨询</a>
                        <a href="" class="cwg-clause"><i class="glyphicon glyphicon-question-sign"></i>购犬须知</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cwg-detail-nav">
   <div class="container detail-container">
       <ul class="nav navbar-nav">
            <li class="active"><a href="#kennel-intro">详细信息</a></li>
            <li><a href="#show-window">狗狗资料</a></li>
            <li><a href="#guarantee-service">保障服务</a></li>
        </ul>
   </div>
</div>

<div class="container detail-container">
    <div class="row">
        <div class="col-md-9">
            <div id="kennel-intro">
                <p class="desc-tit">
                    犬舍简介
                </p>
                <div class="desc-main">
                    <p class="desc-sub-tit">关于{{ nestpet.farm.name }}</p>
                    <p class="kennel-intro-main">
                        {{ nestpet.farm.desc|safe }}
                    </p>
                    <div>
                        <img src="{{ farmimg.img_url }}" alt="犬舍" style="width: 100%"/>
                    </div>
                </div>
            </div>
            <div id="show-window">
                <p class="desc-tit">
                    狗狗资料
                </p>
                <div class="desc-main">
                    <div class="row dog-show">
                        <div class="col-md-10">
                            <div class="row">
                                {% for pet_img in pets_img %}
                                <div class="col-md-6">
                                    <div class="dog-show-info">
                                        <img src="{{ pet_img.img.img_url }}" alt="{{ pet_img.pet.type }}" style="width: 100%"/>
                                        <div class="dog-mask">
                                            {{ pet_img.pet.type }}:&yen;{{ pet_img.pet.min_price }}元-{{ pet_img.pet.max_price }}元
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="guarantee-service">
                <p class="desc-tit">
                    保障服务
                </p>
                <div class="desc-main">
                    <p class="kennel-intro-main">
                        城南犬舍专业繁殖金毛。。。
                    </p>
                </div>
            </div>
        </div>
        {% for recommendpet_img in recommendpets_img %}
        <div class="col-md-3 most-popular">
            <div>
                <a href="?petid={{ recommendpet_img.pet.id }}">
                    <img src="{{ recommendpet_img.img.img_url }}" class="dog-img">
                </a>
                <div class="dog-desc">
                    <h4><a href="?petid={{ recommendpet_img.pet.id }}">[城{{ recommendpet_img.pet.farm.direct }}-{{ recommendpet_img.pet.farm.district }}]{{ recommendpet_img.pet.farm.name }} {{ recommendpet_img.pet.color }}{{ recommendpet_img.pet.type }}</a></h4>
                    <p>
                        <span class="dog-price">¥ {{ recommendpet_img.pet.min_price }}-{{ recommendpet_img.pet.max_price }}<span class="dog-unit">元/只</span></span>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="cwg-info-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">预约成功</h4>
      </div>
      <div class="modal-body">我们已经收到你的预约！</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cwg-farm-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">本养殖场其它宠物</h4>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="cwg-order-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">预约看狗</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <form class="form-horizontal">
                    <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">您的名字：</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="name">
                    </div>
                    </div>
                    <div class="form-group">
                        <label for="tel" class="col-sm-3 control-label">您的手机：</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" id="tel">
                        </div>
                    </div>
              </form>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">提交</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    (function($){
        //lightbox
        var $thumb = $('.cwg-thumb'),
            $img = $thumb.find('img'),
            $thumbnail = $('.cwg-thumbnail'),
            $li = $thumbnail.find('li'),
            items = [];

        $.each($li, function(i, e){
            items.push({
                src: $(e).data('src')
            });
        });

        $thumb.on('click', function(){
            $.magnificPopup.open({
                items: items,
                type: 'image',
                gallery: {
                    enabled: true
                }
            }, $li.filter('.active').index());
        });

        //carousel
        $('.thumbnail-wrap').simpleCarousel({
            prev: '.prev-thumb',
            next: '.next-thumb',
            callback: function($curr){
                $img.attr('src', $curr.data('src'));
            }
        });

        //type
        var $farmModal = $('#cwg-farm-modal'),
            $farmBody = $farmModal.find('.modal-body');

        $('.cwg-detail-pills').on('click', 'a', function(){
            var $this = $(this),
                type = $this.data('type'),
                id = $this.data('id');

            $.ajax('/buy/detail', {
                data: {farmid: id, type: type}
            }).done(function(data){
                $farmBody.html(data);
                $farmModal.modal('show');
            });

        });

        //scroll fixed nav
//        var $detailNav = $('.cwg-detail-nav');
//        $(window).on('scroll', function(){
//            var $this = $(this);
//            if($this.scrollTop() - $detailNav.offset().top > 0){
//                $detailNav.addClass('cwg-detail-nav-fixed');
//            }else{
//                $detailNav.removeClass('cwg-detail-nav-fixed');
//            }
//        });

        //order
        var $orderModal = $('#cwg-order-modal'),
            $infoModal = $('#cwg-info-modal');

        $orderModal.find('.btn-primary').on('click', function(){
            $.ajax({
                url: '/buy/detail/attention/',
                type: 'get',
                data: {name: $('#name').val(), tel: $('#tel').val(), petid: $.args('petid')},
                dataType: 'json',
                success: function(data){
                    if(data.status == 'success'){
                        $orderModal.modal('hide');
                        $infoModal.modal('show');
                    }else{
                        alert(data.message);
                    }
                }
            });
        });

    }(jQuery));

</script>
{% endblock %}
