{% extends 'tpl/base/base.html' %}
{% load assets %}

{% block title %}{{ title }}{% endblock %}
{% block bodyhook %}class="has-position"{% endblock %}

{% block content %}

<div class="cwg-container detail">
    <div class="container breadcrumb-container">
        <ol class="breadcrumb">
          <li><a href="/">首页</a></li>
          <li><a href="/buy">我要买狗</a></li>
          <li class="active"><a href="/buy/all/all/0/0/all/{{ nestpet.farm.name }}/1/">{{ nestpet.farm.name }}</a></li>
        </ol>
    </div>
    <div class="container content-container">
        <div class="row">
            <div class="col-5">
                <a href="javascript:" class="cwg-thumb loading progressive">
                    <img src="{{ petimg_a.img_url }}!small" class="img-full img-small mfp-zoom" alt="{{ nestpet.farm.name }}-{{ nestpet.type }}-{{ nestpet.short_desc }}"/>
                    <img src="{{ petimg_a.img_url }}" class="img-full img-original mfp-zoom" alt="{{ nestpet.farm.name }}-{{ nestpet.type }}-{{ nestpet.short_desc }}"/>
                </a>
                <div class="cwg-dog-imgs">
                    <a class="prev-thumb" href="javascript:"><i class="icon icon-left-dir"></i></a>
                    <div class="thumbnail-wrap">
                        <ul class="cwg-thumbnail clearfix">
                        <li class="active" data-src="{{ petimg_a.img_url }}"><img src="{{ petimg_a.img_url }}!small" alt="{{ nestpet.farm.name }}-{{ nestpet.type }}-{{ nestpet.short_desc }}"/></li>
                        {% for nowimg in nowimgs %}
                            <li data-src="{{ nowimg.img_url }}"><img src="{{ nowimg.img_url }}!small" alt="{{ nestpet.farm.name }}-{{ nestpet.type }}-{{ nestpet.short_desc }}"/></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <a class="next-thumb" href="javascript:"><i class="icon icon-right-dir"></i></a>
                </div>
            </div>
            <div class="col-7">
                <h1 class="cwg-detail-title">[{{ nestpet.farm.name }}] {{ nestpet.short_desc }}</h1>
                <div class="cwg-detail-info">
                    <div class="info-row clearfix">
                        <div class="info-td-left">
                            编<span class="middle-space"></span>号：
                        </div>
                        <div class="info-td-right">
                            {{ nestpet.num }}
                        </div>
                    </div>
                    <div class="info-row clearfix">
                        <div class="info-td-left">
                            犬<span class="middle-space"></span>种：
                        </div>
                        <div class="info-td-right">
                            {{ nestpet.type }}
                        </div>
                    </div>
                    <div class="info-row clearfix">
                        <div class="info-td-left">
                             月<span class="middle-space"></span>龄：
                        </div>
                        <div class="info-td-right">
                            {{ nestpet.age }}个月
                        </div>
                    </div>
                    <div class="info-row clearfix">
                        <div class="info-td-left">
                             来<span class="middle-space"></span>源：
                        </div>
                        <div class="info-td-right">
                            {{ from }}
                        </div>
                    </div>
                    <div class="info-row clearfix">
                        <div class="info-td-left">
                            价<span class="middle-space"></span>格：
                        </div>
                        <div class="info-td-right">
                           <span class="price price-dark price-sm"><span class="price-symbol">&yen;</span>{{ price.min_price }}-{{ price.max_price }}<span class="price-desc">元/只</span></span>
                        </div>
                    </div>
                    <div class="info-row clearfix">
                        <div class="info-td-left">
                            地<span class="middle-space"></span>址：
                        </div>
                        <div class="info-td-right">
                           {{ petfarmlocation }}
                        </div>
                    </div>
                    <div class="info-row clearfix">
                        <div class="info-td-left">
                            <span style="line-height: 34px;">电话咨询：</span>
                        </div>
                        <div class="info-td-right">
                            <button class="btn btn-primary btn-order js-btn-order" data-id="{{ nestpet.id }}" type="button">获取电话</button>
                            <a href="tencent://message?uin=399632600&amp;site=qq&amp;menu=yes" target="_blank" class="btn btn-info btn-consult">在线咨询</a>
                            <a class="btn btn-primary" href="/manage/verifyinfo/verify=1&id={{ user.id }}">通过</a>
        					<a class="btn btn-default" href="/manage/verifyinfo/verify=2&id={{ user.id }}">不通过</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-navbar" id="js-affix-scrollspy">
       <div class="container content-container">
           <ul class="nav navbar-nav">
                <li class="active"><a href="#pet-info">狗狗资料</a></li>
                <li><a href="#pet-farm">犬舍简介</a></li>
                <li><a href="#pet-showcase">其他犬种</a></li>
{#                <li><a href="#pet-guarantee">保障服务</a></li>#}
           </ul>
       </div>
    </div>
    <div class="container content-container">
        <div class="row">
            <div class="col-9 detail-main">
                <div id="pet-info">
                    <h2 class="desc-tit">
                        <span class="placard">犬</span>狗狗资料
                    </h2>
                    <div class="desc-main">
                        <table class="table table-primary table-center">
                            <caption>{{ nestpet.type }}</caption>
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>性别</th>
                                    <th>月龄</th>
                                    <th>颜色</th>
                                    <th>疫苗</th>
                                    <th>价格</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% for pet in allpets %}
                                <tr>
                                    <td>{{ pet.index }}</td>
                                    <td>
                                        <i class="sprite sprite-pet"></i>
                                    </td>
                                    <td>{{ pet.sex }}</td>
                                    <td>{{ nestpet.age }}个月</td>
                                    <td>{{ pet.color }}</td>
                                    <td>
                                    	{% if pet.epidemic_period == '已种疫苗' %}
                                        <i class="icon icon-ok-circled text-primary icon-md"></i>
                                        {% elif pet.epidemic_period == '未种疫苗' %}
                                        <i class="icon icon-ok-circled text-muted icon-md"></i>
                                        {% else %}
                                        {{ pet.epidemic_period }}
                                        {% endif %}
                                    </td>
                                    <td>&yen; {{ pet.price }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7">
                                        <p class="pet-tip"><i class="sprite sprite-car"></i><span>你看狗 我接送</span></p>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div id="pet-farm">
                    <h2 class="desc-tit">
                        <span class="placard">舍</span>犬舍简介
                    </h2>
                    <div class="desc-main">
                        <div class="row img-row">
                        	{% for farmimg in farmimgs %}
                            <div class="col-6 progressive">
                                <img data-small="{{ farmimg.img_url }}!small" data-original="{{ farmimg.img_url }}" class="js-progressive img-full" src="{{'imgs/loading.gif'|assets}}" alt="{{ nestpet.farm.name }}"/>
                            </div>
                            {% if forloop.counter|divisibleby:2 %}<div class="clearfix"></div>{% endif %}
                            {% endfor %}
                        </div>
                        <table class="table table-primary table-pet-kennel">
{#                            <caption>犬舍信息</caption>#}
                            <colgroup>
                                <col width="160px"/>
                            </colgroup>
                            <tr>
                                <td>{{ nestpet.farm.desc|safe }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="pet-showcase" class="pet-showcase">
                    <h2 class="desc-tit">
                        <span class="placard">其</span>其他犬种
                    </h2>
                    <div class="desc-main">
                        <div class="row margin-sm">
                            {% for pet_img in pets_img %}
                            <div class="col-6 padding-sm pet-showcase-wrap">
                                <div class="pet-showcase-item shade shade-hover">
                                    <img data-original="{{ pet_img.img.img_url }}" alt="{{ pet_img.pet.type }}" class="js-lazy img-full" src="{{'imgs/loading.gif'|assets}}"/>
                                    <p class="tag">{{ pet_img.pet.type }}</p>
                                    <div class="shade-content">
                                        <div class="pet-showcase-detail">
                                            <p>数量：{{ pet_img.count }}只</p>
                                            <p>月龄：{{ pet_img.pet.age }}个月</p>
                                            <p>价格：<span class="price price-light price-sm"><span class="price-symbol">&yen;</span>{{ pet_img.min_price }}-{{ pet_img.max_price }}<span class="price-desc">元</span></span></p>
                                            <p>
                                                <a class="btn btn-primary btn-trans" href="{{ urls }}{{ pet_img.pet.id }}/" target="_blank">详细信息</a>
{#                                                <button class="btn btn-primary btn-trans js-btn-order" data-id="{{ pet_img.pet.id }}" type="button">预约看狗</button>#}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:2 %}<div class="clearfix"></div>{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
{#                <div id="pet-guarantee">#}
{#                    <h2 class="desc-tit">#}
{#                        <span class="placard">保</span>保障服务#}
{#                    </h2>#}
{#                    <div class="desc-main">#}
{#                        <div class="adg-health">#}
{#                            <img src="{{ 'imgs/nav/guide1.png'|assets }}" class="img-full" alt="健康有保障"/>#}
{#                        </div>#}
{#                        <div class="adg-price">#}
{#                            <img src="{{ 'imgs/nav/guide2.png'|assets }}" class="img-full" alt="价格很公道"/>#}
{#                        </div>#}
{#                        <div class="adg-purebred">#}
{#                            <img src="{{ 'imgs/nav/guide3.png'|assets }}" class="img-full" alt="品相很优质"/>#}
{#                        </div>#}
{#                        <div class="adg-process">#}
{#                            <img src="{{ 'imgs/nav/guide4.png'|assets }}" class="img-full" alt="流程很标准"/>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <div class="col-3 most-popular">
            <h5><strong>热门犬种</strong></h5>
            {% for recommendpet_img in recommendpets_img %}
                <div>
                    <a href="{{ urls }}{{ recommendpet_img.pet.id }}/">
                        <img class="img-full" src="{{ recommendpet_img.img.img_url }}" alt="{{ recommendpet_img.pet.farm.name }}-{{ recommendpet_img.pet.short_desc }}">
                    </a>
                    <div class="dog-desc">
                        <h4><a href="{{ urls }}{{ recommendpet_img.pet.id }}/">[{{ recommendpet_img.pet.farm.name }}] {{ recommendpet_img.pet.short_desc }}</a></h4>
                        <p>
                            <span class="price price-primary price-xs"><span class="price-symbol">&yen;</span>{{ recommendpet_img.min_price }}-{{ recommendpet_img.max_price }}<span class="price-desc">元/只</span></span>
                        </p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{#{% include 'tpl/gui/order-modal.html' %}#}

<div class="modal fade" id="js-tel-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">获取商家联系方式</h4>
      </div>
      <div class="modal-body">
          <div class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label for="tel" class="control-label col-3">您的手机：</label>
                <div class="col-6">
                    <input type="text" class="form-control" id="tel" autofocus maxlength="11"/>
                </div>
            </div>
              <div class="form-group">
                  <div class="col-offset-3 col-3">
                      <button class="btn btn-primary form-control" data-loading-text="发送至手机">发送至手机</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="location-select-tpl">
<dl class="clearfix">
  <dd>
      {% templatetag openvariable %}each locations as location{% templatetag closevariable %}
      <a href="javascript:" data-id="{% templatetag openvariable %}location.id{% templatetag closevariable %}">{% templatetag openvariable %}location.name{% templatetag closevariable %}</a>
      {% templatetag openvariable %}/each{% templatetag closevariable %}
  </dd>
</dl>
</script>

{% endblock %}

{% block scripts %}
{#<script src="{{ 'js/detail.js'|assets }}"></script>#}
<script>
//modal
;(function($){
    var $telModal = $('#js-tel-modal'),
        $form = $telModal.find('.form-horizontal'),
        $csrf = $form.find('input[name="csrfmiddlewaretoken"]'),
        $tel = $form.find('#tel'),
        reg = /^\d{11}$/,
        $btnSubmit = $form.find('.btn'),
        $btnOrder = $('.js-btn-order');

    $btnOrder.on('click', function(){
       var $this = $(this),
           id = $this.data('id');

        $telModal.modal('show').data('id', id);
    });

    $btnSubmit.on('click', function(){
        var val = $tel.val(),
            csrf = $csrf.val();

        if(!reg.test(val)){
            alert('请正确填写您的手机号码');
            $tel.focus();
            return false;
        }

        $btnSubmit.button('loading');

        $.ajax({
            url: '/buy/detail/gettel/',
            method: 'post',
            data: {tel: val, id: $telModal.data('id'), csrfmiddlewaretoken: $.cookie('csrftoken') || csrf},
            dataType: 'json',
            success: function(data){
                if(data.status == 0){
                    alert('发送成功，请注意查收');
                    countTime($btnSubmit);
                }else{
                    alert(data.message);
                    $btnSubmit.button('reset');
                }
            },
            error: function(){
               $btnSubmit.button('reset');
            }
        });

    });

    function countTime($el){
        if($el.data('counting')){
            return false;
        }

        var delay = $el.data('delay'),
            text = '发送至手机 ';

        delay = !isNaN(delay) && parseInt(delay, 10) || 60,


        $el.text(text + delay);

        function updateText(){
            delay--;

            if(delay > 0){
                $el.text(text + delay);
                setTimeout(updateText, 1000);
            }else{
                $el.data('counting', false);
                $el.button('reset');
            }
        }
        $el.data('counting', true);
        setTimeout(updateText, 1000);
    }

})(jQuery);

//image gallery
;(function($){
    var $thumb = $('.cwg-thumb'), //big img wrapper
        $imgSmall = $thumb.find('.img-small'), //small img from thumbnail for progressive display
        $thumbnail = $('.cwg-thumbnail'),
        $li = $thumbnail.find('li'),
        items = [];

    //iterator thumbnail for magnificPopup lightbox
    $.each($li, function(i, e){
        items.push({
            src: $(e).data('src')
        });
    });

    //magnificPopup plugin
    $thumb.on('click', function(){
        $.magnificPopup.open({
            items: items,
            type: 'image',
            gallery: {
                enabled: true
            }
        }, $li.filter('.active').index());
    });

    //thumbnail
    $('.thumbnail-wrap').simpleCarousel({
        itemWidth: 66,
        prev: '.prev-thumb',
        next: '.next-thumb',
        callback: function($curr){
            //progressive img display
            //need to remove the big img first, because change the img's url will not display the new img util the new img is fully download
            $thumb.find('.img-original').remove();
            $imgSmall.attr('src', $curr.find('img').attr('src'));
            $('<img/>').addClass('img-full img-original mfp-zoom').attr('src', $curr.data('src')).insertAfter($imgSmall);
        }
    });
}(jQuery));

//affix and scrollspy
;(function($){
    var $affixScrollspy = $('#js-affix-scrollspy');

    $affixScrollspy.affix({
        offset: {
            top: 600
        }
    });

    $('body').scrollspy({ target: '#js-affix-scrollspy' });

    var animateIn = 'slideInDown',
        animateOut = 'slideInUp';

    $affixScrollspy.on('affix.bs.affix', function(){
        $affixScrollspy.addClass(animateIn + ' animated').removeClass(animateOut);
    });

    $affixScrollspy.on('affix-top.bs.affix', function(){
        $affixScrollspy.addClass(animateOut).removeClass(animateIn);
    });
}(jQuery));

</script>
{% endblock %}
