{% extends 'tpl/base/base.html' %}
{% load assets %}

{% block title %}{{ nestpet.short_desc }}|宠物购 只为给你一只健康可爱的狗狗{% endblock %}
{% block bodyhook %}class="has-position"{% endblock %}

{% block content %}

<div class="cwg-container detail">
    <div class="container breadcrumb-container">
        <ol class="breadcrumb">
          <li><a href="/home">首页</a></li>
          <li><a href="/buy">我要买狗</a></li>
          <li class="active">城南狗舍</li>
        </ol>
    </div>
    <div class="container content-container">
        <div class="row">
            <div class="col-md-5">
                <a href="javascript:" class="cwg-thumb">
                    <img src="{{ petimg_a.img_url }}" class="img-full mfp-zoom"/>
                </a>
                <div class="cwg-dog-imgs">
                    <a class="prev-thumb" href="javascript:"><i class="icon icon-left-dir"></i></a>
                    <div class="thumbnail-wrap">
                        <ul class="cwg-thumbnail clearfix">
                        <li class="active" data-src="{{ petimg_a.img_url }}"><img src="{{ petimg_a.img_url }}!small"/></li>
                        {% for nowimg in nowimgs %}
                            <li data-src="{{ nowimg.img_url }}"><img src="{{ nowimg.img_url }}!small"/></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <a class="next-thumb" href="javascript:"><i class="icon icon-right-dir"></i></a>
                </div>
{#                <!-- JiaThis Button BEGIN -->#}
{#                <div class="jiathis_style">#}
{#                <a class="jiathis_button_qzone"></a>#}
{#                <a class="jiathis_button_tsina"></a>#}
{#                <a class="jiathis_button_renren"></a>#}
{#                <a class="jiathis_button_cqq"></a>#}
{#                <a class="jiathis_button_weixin"></a>#}
{#                <a class="jiathis_button_douban"></a>#}
{#                </div>#}
{#                <script type="text/javascript" >#}
{#                var jiathis_config={#}
{#                    url:"chongwug.com",#}
{#                    summary:"摘要",#}
{#                    title:"标题 #微博话题#",#}
{#                    pic:"http://chongwug-pic.b0.upaiyun.com/petpic/8172c56e-4398-11e4-adc8-d9400486119f.jpeg",#}
{#                    ralateuid:{#}
{#                        "tsina":"关注新浪ID"#}
{#                    },#}
{#                    appkey:{#}
{#                        "tsina":"3677235683",#}
{#                        "tqq":"CWu2zuJD94Zi3pcv",#}
{#                        "t163":"网易key",#}
{#                        "tsouhu":"搜狐key",#}
{#                        "tpeople":"人民key"#}
{#                    },#}
{#                    shortUrl:true,#}
{#                    hideMore:true#}
{#                }#}
{#                </script>#}
{#                <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>#}
{#                <!-- JiaThis Button END -->#}
            </div>
            <div class="col-md-7">
                <h1 class="cwg-detail-title">[城{{ nestpet.farm.direct }}-{{ nestpet.farm.district }}]{{ nestpet.farm.name }} {{ nestpet.color }}{{ nestpet.type }}</h1>
                <p class="detail-title-desc">{{ nestpet.short_desc }}</p>
                <div class="cwg-detail-info">
                    <div class="info-row clearfix">
                        <div class="info-td-left">
                            编<span class="middle-space"></span>号：
                        </div>
                        <div class="info-td-right">
                            {{ nestpet.num }}
                        </div>
                    </div>
                    <div class="info-row clearfix">
                        <div class="info-td-left">
                            犬<span class="middle-space"></span>种：
                        </div>
                        <div class="info-td-right">
                            {{ nestpet.type }}
                        </div>
                    </div>
                    <div class="info-row clearfix">
                        <div class="info-td-left">
                             月<span class="middle-space"></span>龄：
                        </div>
                        <div class="info-td-right">
                            {{ nestpet.age }}个月
                        </div>
                    </div>
                    <div class="info-row clearfix" style="border-bottom: 0">
                        <div class="info-td-left">
                            价<span class="middle-space"></span>格：
                        </div>
                        <div class="info-td-right">
                           <span class="price price-dark price-sm">{{ price.min_price }}-{{ price.max_price }}<span class="price-desc">元/只</span></span>
                        </div>
                    </div>
                    <div class="info-row clearfix">
                        <div class="info-td-right">
                            <button class="btn btn-primary btn-order js-btn-order" data-id="{{ nestpet.id }}" type="button">预约看狗</button>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=399632600&site=qq&menu=yes" target="_blank" class="btn btn-info btn-consult">在线咨询</a>
                            <a href="" class="cwg-clause"><i class="icon icon-help-circled icon-sm"></i>购犬须知</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail-navbar row" id="js-affix-scrollspy">
           <div class="container content-container">
               <ul class="nav navbar-nav">
                    <li class="active"><a href="#pet-info" class="placard">狗狗资料</a></li>
                    <li><a href="#pet-farm" class="placard">犬舍简介</a></li>
                    <li><a href="#pet-showcase" class="placard">其他犬种</a></li>
                    <li><a href="#pet-guarantee" class="placard">保障服务</a></li>
               </ul>
           </div>
        </div>
        <div class="row">
            <div class="col-md-9 detail-main">
                <div id="pet-info">
                    <h2 class="desc-tit">
                        <span class="placard">犬</span>狗狗资料
                    </h2>
                    <div class="desc-main">
                        <table class="table table-primary table-center">
                            <caption>泰迪</caption>
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>性别</th>
                                    <th>月龄</th>
                                    <th>颜色</th>
                                    <th>疫苗</th>
                                    <th>价格</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% for pet in allpets %}
                                <tr>
                                    <td>{{ pet.index }}</td>
                                    <td>
                                        <i class="sprite sprite-pet"></i>
                                    </td>
                                    <td>{{ pet.sex }}</td>
                                    <td>{{ nestpet.age }}个月</td>
                                    <td>{{ pet.color }}</td>
                                    <td>
                                    	{% if pet.epidemic_period == '已种疫苗' %}
                                        <i class="icon icon-ok-circled text-primary icon-md"></i>
                                        {% elif pet.epidemic_period == '未种疫苗' %}
                                        <i class="icon icon-ok-circled text-muted icon-md"></i>
                                        {% else %}
                                        {{ pet.epidemic_period }}
                                        {% endif %}
                                    </td>
                                    <td>&yen; {{ pet.price }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7">
                                        <p class="pet-tip"><i class="sprite sprite-car"></i><span>你看狗 我接送</span></p>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div id="pet-farm">
                    <h2 class="desc-tit">
                        <span class="placard">舍</span>犬舍简介
                    </h2>
                    <div class="desc-main">
                        <div class="row img-row">
                        	{% for farmimg in farmimgs %}
                            <div class="col-xs-6">
                                <img data-original="{{ farmimg.img_url }}" class="js-lazy img-full" src="{{'imgs/loading.gif'|assets}}"/>
                            </div>
                            {% endfor %}
                        </div>
                        <table class="table table-primary table-pet-kennel">
{#                            <caption>犬舍信息</caption>#}
                            <colgroup>
                                <col width="160px"/>
                            </colgroup>
                            <tr>
                            {{ nestpet.farm.desc|safe }}
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="pet-showcase" class="pet-showcase">
                    <h2 class="desc-tit">
                        <span class="placard">其</span>其他犬种
                    </h2>
                    <div class="desc-main">
                        <div class="row margin-sm">
                            {% for pet_img in pets_img %}
                            <div class="col-md-6 padding-sm">
                                <div class="pet-showcase-item shade shade-hover">
                                    <img data-original="{{ pet_img.img.img_url }}" alt="{{ pet_img.pet.type }}" class="js-lazy img-full" src="{{'imgs/loading.gif'|assets}}"/>
                                    <p class="tag">{{ pet_img.pet.type }}</p>
                                    <div class="shade-content">
                                        <div class="pet-showcase-detail">
                                            <p>数量：{{ pet_img.count }}只</p>
                                            <p>月龄：{{ pet_img.pet.age }}个月</p>
                                            <p>价格：<span class="price price-light price-sm">{{ pet_img.min_price }}-{{ pet_img.max_price }}<span class="price-desc">元</span></span></p>
                                            <p>
                                                <a class="btn btn-primary btn-trans" href="/buy/detail/?petid={{ pet_img.pet.id }}" target="_blank">详细信息</a>
                                                <button class="btn btn-primary btn-trans js-btn-order" data-id="{{ pet_img.pet.id }}" type="button">预约看狗</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="pet-guarantee">
                    <h2 class="desc-tit">
                        <span class="placard">保</span>保障服务
                    </h2>
                    <div class="desc-main">
                        <div class="adg-health">
                            <img src="/static/assets/imgs/nav/adg1.png" class="img-full"/>
                        </div>
                        <div class="adg-price">
                            <img src="/static/assets/imgs/nav/adg2.png" class="img-full"/>
                        </div>
                        <div class="adg-purebred">
                            <img src="/static/assets/imgs/nav/adg3.png" class="img-full"/>
                        </div>
                        <div class="adg-process">
                            <img src="/static/assets/imgs/nav/adg4.png" class="img-full"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 most-popular">
            <h5><strong>热门犬种</strong></h5>
            {% for recommendpet_img in recommendpets_img %}
                <div>
                    <a href="?petid={{ recommendpet_img.pet.id }}">
                        <img class="img-full" src="{{ recommendpet_img.img.img_url }}" >
                    </a>
                    <div class="dog-desc">
                        <h4><a href="?petid={{ recommendpet_img.pet.id }}">[城{{ recommendpet_img.pet.farm.direct }}-{{ recommendpet_img.pet.farm.district }}]{{ recommendpet_img.pet.farm.name }} {{ recommendpet_img.pet.color }}{{ recommendpet_img.pet.type }}</a></h4>
                        <p>
                            <span class="price price-primary price-xs">{{ recommendpet_img.min_price }}-{{ recommendpet_img.max_price }}<span class="price-desc">元/只</span></span>
                        </p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cwg-info-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">预约成功</h4>
      </div>
      <div class="modal-body">我们已经收到你的预约！</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>

{% include 'tpl/gui/order-modal.html' %}

<script type="text/html" id="location-select-tpl">
<dl class="clearfix">
  <dd>
      {% templatetag openvariable %}each locations as location{% templatetag closevariable %}
      <a href="javascript:" data-id="{% templatetag openvariable %}location.id{% templatetag closevariable %}">{% templatetag openvariable %}location.name{% templatetag closevariable %}</a>
      {% templatetag openvariable %}/each{% templatetag closevariable %}
  </dd>
</dl>
</script>

{% endblock %}

{% block scripts %}
<script>

(function($){
    //image light-box
    var $thumb = $('.cwg-thumb'),
        $img = $thumb.find('img'),
        $thumbnail = $('.cwg-thumbnail'),
        $li = $thumbnail.find('li'),
        items = [];

    $.each($li, function(i, e){
        items.push({
            src: $(e).data('src')
        });
    });

    $thumb.on('click', function(){
        $.magnificPopup.open({
            items: items,
            type: 'image',
            gallery: {
                enabled: true
            }
        }, $li.filter('.active').index());
    });

    //carousel
    $('.thumbnail-wrap').simpleCarousel({
        itemWidth: 66,
        prev: '.prev-thumb',
        next: '.next-thumb',
        callback: function($curr){
            $img.attr('src', $curr.data('src'));
        }
    });

    //order
    var $orderModal = $('#js-order-modal'),
        $orderForm = $orderModal.find('#js-order-form'),
        $needReset = $orderModal.find('.js-need-reset'),
        $otherOrder = $orderModal.find('#js-other-order'),
        $queueNum = $orderModal.find('#js-queue-num'),
        $kennelLocation = $orderModal.find('#js-kennel-location'),
        $waitLocation = $orderModal.find('#js-wait-location'),
        $waitTime = $orderModal.find('#js-wait-time'),
        $serviceCharge = $orderModal.find('#js-service-charge'),
        $chargeType = $orderModal.find('#js-charge-type'),
        $toFirst = $orderModal.find('#js-to-first'),
        $liftInput = $orderModal.find('#js-lift-btn');

    //pass the pet id
    $('.js-btn-order').on('click', function(){
        $orderModal.data('id', $(this).data('id')).modal('show');
    });

    function resetOrderInfo($needReset, $form){
        $form[0].reset();
        validator.resetForm();
        $form.find('.has-error').removeClass('has-error');
        $liftInput.trigger('click');

        $needReset.text(function(){
            return $(this).data('text');
        });

        $toFirst.tab('show');
    }

    function fillOrderInfo(data){
        $otherOrder.text(data.count);
        $queueNum.text(data.ordernum);
        $kennelLocation.text(data.farm);
        $waitLocation.text(data.waitpoint);
        $waitTime.text(data.waittime);
        $serviceCharge.text(data.pay);

        if($orderModal.data('transportation') != 'lift'){
            $chargeType.text('服务费');
        }
    }

    //validate
    var validator = $orderForm.validate({
        onsubmit: false,
        errorElement: 'p',
        errorClass: 'help-block',
        ignore: '',
        rules: {
            "phone": {
                minlength: 11,
                maxlength: 11,
                digits: true
            }
        },
        highlight: function (el) {
            $(el).closest('.form-group').addClass('has-error');
        },
        success: function (el) {
            $(el).closest('.form-group').removeClass('has-error');
            $(el).remove();
        }
    });

    $('#js-order-info').on('click', '.next-step', function(){
        var $this = $(this),
            arr = $('#js-order-form').serializeArray(),
            data = {};

        data.id = $orderModal.data('id');

        for(var i = 0, len = arr.length; i < len; i++){
            var curr = arr[i];
            data[curr.name] = curr.value;
        }

        $orderModal.data('transportation', data.transportation);

        validator.form();

        if(validator.numberOfInvalids()){
            return;
        }

        $.ajax({
            url: '/buy/detail/attention/',
            type: 'post',
            data: data,
            dataType: 'json',
            beforeSend: function(){
                $this.button('loading');
            },
            success: function(data){
                if(data.status == 0){
                    fillOrderInfo(data);
                    $this.tab('show');
                }else{
                    alert(data.message);
                }
            },
            complete: function(){
                $this.button('reset');
            }
        });
    });

    //order steps
    $orderModal.on('show.bs.modal', function(){
        resetOrderInfo($needReset, $orderForm);
    });

    //detail nav affix
    var $affixScrollspy = $('#js-affix-scrollspy');
    $affixScrollspy.affix({
        offset: {
            top: 600
        }
    });
    //scroll spy
    $('body').scrollspy({ target: '#js-affix-scrollspy' });

    var animateIn = 'slideInDown',
        animateOut = 'slideInUp';

    $affixScrollspy.on('affix.bs.affix', function(){
        $affixScrollspy.addClass(animateIn + ' animated').removeClass(animateOut);
    });

    $affixScrollspy.on('affix-top.bs.affix', function(){
        $affixScrollspy.addClass(animateOut).removeClass(animateIn);
    });

    //location select
    var $locationBox = $('#js-location-box'),
        $btnLocation = $('#js-btn-location');


    $btnLocation.on('click', function(){
        $locationBox.is(':visible') ? $locationBox.hide() : $locationBox.show();
    });



    //time select
    var $btnTime = $('#js-btn-time'),
        $timeBox = $('#js-time-box'),
        $time = $('#js-time');

    $btnTime.on('click', function(){
        $timeBox.is(':visible') ? $timeBox.hide() : $timeBox.show();

    });

    $timeBox.on('click', 'td', function(){
        var $this = $(this),
            time = $this.closest('tr').find('th').text(),
            data = $this.data();

        if($this.hasClass('disabled')){
            return;
        }

        $timeBox.find('td').not($this.addClass('active')).removeClass('active');

        var text = '2014-' + data.date + '（'+ data.day +'）' + time;
        $time.text(text);
        $('#js-time-input').val('2014-' + data.date + ' ' + time);
        validator.element('#js-time-input');
        $timeBox.hide();
    });


//地址选择


var $locationBox = $('#js-location-box'),
    $province = $locationBox.find('#province'),
    $city = $locationBox.find('#city'),
    $toCity = $locationBox.find('#js-to-city'),
    $district = $locationBox.find('#district'),
    $toDistrict = $locationBox.find('#js-to-district'),
    $street = $locationBox.find('#street'),
    $toStreet = $locationBox.find('#js-to-street'),
    render = template('location-select-tpl'),
    param = {},
    location = [];

    function renderData(param, $parent, cb){
        $.ajax({
            url: './',
            data: param,
            dataType: 'json',
            success: function(data){
                if(data.status == 0){
                    $parent.html(render(data));
                    cb();
                }else{
                    alert(data.message);
                }
            }
        });
    }

    function changeActive($parent, $this){
        if(!$this.hasClass('active')){
            var $active = $parent.find('.active');
            $active.removeClass('active');
            $this.addClass('active');
        }
    }

    $province.on('click', 'a', function(){
        var $this = $(this);

        changeActive($province, $this);

        location[0] = $this.text();

        param.province = $this.data('id');
        param.range = $this.closest('dl').find('dt').data('id');
        delete param.city;
        delete param.country;

        $district.html('');
        $street.html('');

        renderData(param, $city, function(){
           $toCity.tab('show');
        });
    });

    $city.on('click', 'a', function(){
        var $this = $(this);

        changeActive($city, $this);

        location[1] = $this.text();

        param.city = $this.data('id');
        delete param.country;

        $street.html('');

        renderData(param, $district, function(){
            $toDistrict.tab('show');
        });
    });

    $district.on('click', 'a', function(){
        var $this = $(this);

        changeActive($district, $this);

        location[2] = $this.text();

        param.district = $this.data('id');

        renderData(param, $street, function(){
           $toStreet.tab('show');
        });
    });

    $street.on('click', 'a', function(){
        var $this = $(this);

        changeActive($street, $this);

        location[3] = $this.text();

        param.street = $this.data('id');

        var text = location.join('-');
        $('#js-location').text(text);
        $('#js-location-input').val(JSON.stringify(param));
        validator.element('#js-location-input');
        $locationBox.hide();
    });

}(jQuery));

</script>
{% endblock %}
