{% extends 'tpl/base/base.html' %}
{% load assets %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<style>
    .dog-select-title{
        font-weight: bold;
    }
    .content-container{
        padding-top: 20px;
    }
    .dog-select-row .nav-pills a{
        color: #0074D9;
    }
</style>
<div class="cwg-container workchance">
    <div class="container breadcrumb-container">
        <ol class="breadcrumb">
          <li><a href="/">首页</a></li>
          <li class="active">城市切换</li>
        </ol>
    </div>
    <div class="container content-container">
        {% for range in addresses %}
        {% for province in range.sublist %}
        <div class="row dog-select-row">
            <div class="col-1 dog-select-title">{{ province.name }}：</div>
            <div class="col-11">
                <ul class="nav nav-pills">
                    {% for city in province.sublist %}
                        <li>
                        <a href="./?ipprovince={{ province.index }}&ipcity={{ city.index }}">{{ city.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}