{% extends 'tpl/base/base.html' %}
{% load assets %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="cwg-container aboutus">
    <div class="container breadcrumb-container">
        <ol class="breadcrumb">
          <li><a href="/">首页</a></li>
          <li class="active">联系我们</li>
        </ol>
    </div>
    <div class="container content-container padding-sm">
        <div class="about-top">
            <img src="{{ 'imgs/map.jpg'|assets }}" class="img-full" alt="地图"/>
            <div class="about-desc text-center">
                <h1 class="text-uppercase">contact us</h1>
                <h2>我们随时欢迎您的咨询</h2>
                <p>Welcome your consult anytime...</p>
            </div>
        </div>
        <div class="row text-left margin-sm row-contact">
            <div class="col-4 col-offset-0_5">
                <div class="contact-tel">
                    <h1><i></i></h1>
                    <p class="text-muted">If you have any questions, please connect us...</p>
                </div>
                <div class="contact-addr">
                    <p class="contact-sub-tit">地址 &bull; Address</p>
                    <p class="text-muted">成都高新区天府软件园 D5 创业场</p>
                </div>
            </div>
            <div class="col-3 col-offset-0_5">
                <p class="contact-sub-tit">其他 &bull; Other</p>
                <p class="contact-sub-content">邮箱：<a href="mailto:692673390@qq.com">692673390@qq.com</a></p>
                <p class="contact-sub-content">微博：<a href="http://weibo.com/chongwug" target="_blank">宠物购</a></p>
                <p class="contact-sub-content">网址：<a href="http://www.chongwug.com">http://www.chongwug.com</a></p>
            </div>
            <div class="col-3 col-offset-0_5">
                <p>微信公众平台二维码</p>
                <img src="{{ 'imgs/weixin.jpg'|assets }}" alt="微信二维码"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}