{% extends 'tpl/base/base.html' %}
{% load assets %}

{% block title %}联系我们|宠物购 只为给你一只健康可爱的狗狗{% endblock %}

{% block content %}
<div class="cwg-container">
<div class="container" style="height:300px;font-size:30px;background-color:#fff">
	<div class="row">
        <div class="col-md-11 col-md-offset-0_5">
            <div class="row cwg-area-row">
        		<div class="col-xs-6 col-sm-12">
				<p>商务合作：xxxxxxx</p>
				<p>联系电话：XXXXXXX</p>
				<p>邮箱：XXXXXXX</p>
				<p>地址：成都市高新区天府软件园D区创业场</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}