{% extends 'tpl/base/base.html' %}
{% load assets %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="cwg-container knowledge-bringup">
    <div class="container breadcrumb-container">
        <ol class="breadcrumb">
          <li><a href="/">首页</a></li>
          <li class="active">养犬必知</li>
        </ol>
    </div>
	<div class="container content-container padding-none">
		<img src="{{ 'imgs/knowmain.jpg'|assets }}" alt="养一只与你性格相似并适合你生活环境的爱犬" class="img-full">
	</div>
    <div class="container content-container knowledge-content">
        <div>
            <h2 class="desc-tit">
                <span class="placard">一</span> 狗狗带回家之前你要做好以下准备工作
            </h2>
            <div class="desc-main">
                <ol>
                    <li>
                        <p>
                            购买必备用品：
                        </p>
                        <p>
                            ① 狗笼
                        </p>
                        <p>
                            ② 幼犬粮/幼犬奶糕（均买小型犬幼犬粮）
                        </p>
                        <p>
                            ③ 犬食盆
                        </p>
                        <p>
                            注：以上3样东西是必需品，因为狗狗一到家就必须要吃、住，幼犬对环境和食物的要求都很高，不可怠慢它，不然很容易生病。
                        </p>
                    </li>
                    <li>
                        <p>
                            进行环境消毒：
                        </p>
                        <p>
                            ① 购买“狗狗杀菌消毒液”，对家中饲养区、狗笼进行消毒
                        </p>
                    </li>
                    <li>
                        <p>根据自身情况选择喂食方式：</p>
                        <p>
                            幼犬每天喂食3-4餐，分为：早、中、晚、夜。因此，如果你有充足的时间、每天都在狗狗身边，那么可以自己喂食；如果你是上班族、朝九晚五，
                            那么你可以购买一台自动喂食机（现有智能和机械两种），可以设定喂食时间和喂食量（建议大型犬家庭购买便宜点的，因为等狗狗6个月以后就不怎么需要了）。
                            如果你是上班族，千万要提前（没买狗之前）购买好喂食机喔，不然狗狗回来天天挨饿。
                        </p>
                    </li>
                </ol>
            </div>
        </div>
        <div>
            <h2 class="desc-tit">
                <span class="placard">二</span> 狗狗带回家后2周以内必须严格按以下方式饲养
            </h2>
            <div class="desc-main">
                <ol>
                    <li>
                        坚决不能给爱犬洗澡（无论它多大体味儿），洗澡必（100%）生病，狗狗实在很脏可以买“宠物干洗粉”给狗狗干洗。
                    </li>
                    <li>
                        回来后6小时以内别给狗狗喂食任何（记住是“任何”）食物，给狗狗倒一盆凉开水或纯净水就行了。
                    </li>
                    <li>
                        回来后6小时以后给狗狗喂食少量（手抓1-2把/30克左右）经温水泡过的狗粮
                    </li>
                    <li>
                        每天喂食狗粮（泡过的）或稀粥4顿，每隔6小时左右喂食一顿，每顿喂食30-60克左右（根据幼犬大小调整），千万别喂大颗粒的幼犬粮，犬粮太硬，幼犬没牙齿，容易整吞，然后会卡住喉咙导致窒息而死，一定要喂食湿粮或者稀饭、泡过的狗粮。
                        （切记喂食人吃的食物，咸、鲜、甜、辣等食物都不能喂，包括火腿肠、牛奶这些，切记切记切记，不然很可能导致狗狗肠胃出问题）
                    </li>
                    <li>
                        两周以内甚至一个月内禁止带狗狗出门遛，外面环境杂，狗狗又爱闻东西，很容易感染，此阶段严格禁止遛狗！
                    </li>
                    <li>
                        不要去天天搂抱、玩耍狗狗，尤其是夏天、春天和秋天，多数犬种都是怕热犬种，搂抱会使其体温升高致病，
                        玩耍狗狗会使得狗狗精神疲劳、抵抗力下降致病，幼犬极需要休息，睡眠需求量很大，严格禁止这两种行为！
                    </li>
                </ol>
            </div>
        </div>
        <div>
            <h2 class="desc-tit">
                <span class="placard">三</span> 养犬百科
            </h2>
            <div class="desc-main border-none">
                <ul class="nav nav-pills">
                  {% for category in categorys %}
                  <li><a href="/knowledge/bringup/{{ category.2 }}/" target="_blank">{{ category.3 }}</a></li>
                  {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal article-modal" id="js-article-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="article-title text-center"></h4>
                <div class="row font-xs">
                    <div class="col-3 col-offset-9">
                        <span class="article-date"></span>
                        <span>来源：<span class="article-from"></span></span>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="article-figure text-center">
                    <img class="article-img"/>
                    <p class="article-figcaption text-center"></p>
                </div>
                <div class="article-content"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>

(function($){

{#    var $modal = $('#js-article-modal'),#}
{#        $modalDialog = $modal.find('.modal-dialog'),#}
{#        $modalBody = $modal.find('.modal-body'),#}
{#        $container = $('#js-outline-container'),#}
{#        loadMap = {};#}
{##}
{#    $(window).on('resize', function(){#}
{#        var winHeight = $(this).height();#}
{#        $modalDialog.height(winHeight);#}
{#        $modalBody.height(winHeight - 87 - 45);#}
{#    }).trigger('resize');#}
{##}
{#    $container.on('click', '.outline', function(){#}
{#        var $this = $(this),#}
{#            data = $this.data(),#}
{#            imgUrl = data.img;#}
{##}
{#        data.content || (data.content = $.trim($this.find('.outline-content').html()));#}
{##}
{#        $modal.addClass('loading').modal('show');#}
{##}
{#        if(!loadMap[imgUrl]){#}
{#            $('<img>').on('load', function(){#}
{#                loadMap[imgUrl] = true;#}
{#                updateImg(imgUrl);#}
{#            }).attr('src', imgUrl);#}
{#        }else{#}
{#            updateImg(imgUrl);#}
{#        }#}
{##}
{#        updateModalArticle(data);#}
{#    });#}
{##}
{#    function updateImg(imgUrl){#}
{#        $modal.find('.article-img').attr('src', imgUrl);#}
{#        $modal.removeClass('loading');#}
{#        $modalBody.scrollTop(0);#}
{#    }#}
{##}
{#    function updateModalArticle(data){#}
{#        for(var i in data){#}
{#            if(data.hasOwnProperty(i) && i != 'img'){#}
{#                $modal.find('.article-' + i).html(data[i]);#}
{#            }#}
{#        }#}
{#    }#}
{#    #}
{#    $container.waypoint('infinite', {#}
{#        items: '.outline'#}
{#    });#}

})(jQuery);

</script>
{% endblock %}