{% extends 'tpl/base/base.html' %}
{% load assets %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{% endblock %}

{% block htmlhook %}class="full-page"{% endblock %}
{% block bodyhook %}class="full-page"{% endblock %}

{% block content %}

<div class="guide" id="js-full-page">
    <div class="adg-health section">
        <div class="container">
            <img src="{{ 'imgs/nav/adg1.png'|assets }}" class="img-responsive" alt="健康有保障"/>
        </div>
    </div>
    <div class="adg-price section">
        <div class="container">
            <img src="{{ 'imgs/nav/adg2.png'|assets }}" class="img-responsive" alt="价格很公道"/>
        </div>
    </div>
    <div class="adg-purebred section">
        <div class="container">
            <img src="{{ 'imgs/nav/adg3.png'|assets }}" class="img-responsive" alt="品相很优质"/>
        </div>
    </div>
    <div class="adg-process section">
        <div class="container">
            <img src="{{ 'imgs/nav/adg4.png'|assets }}" class="img-responsive" alt="流程很标准"/>
        </div>
    </div>
    <div class="adg-buy section">
        <div class="container">
            <a href="/home">
                <img src="{{ 'imgs/nav/adg5.png'|assets }}" class="img-responsive" alt="赶紧去挑选吧"/>
            </a>
        </div>
    </div>
</div>


<a href="/home" class="skip-guide">
    <i class="icon icon-forward"></i>
    <p>进入主页</p>
</a>
<a href="javascript:" class="next-guide">
    <i class="icon icon-down-open"></i>
</a>

{% endblock %}

{% block plugins %}
<script src="{{ 'js/lib/jquery.fullPage.js'|assets }}"></script>
<script>
var $nextGuide = $('.next-guide');

$('#js-full-page').fullpage({
    'easing': 'swing',
    'css3': true,
    'navigation': true,
    'navigationPosition': 'right',
    'navigationTooltips': ['健康有保障', '价格很公道', '品相很优质', '流程很标准', '赶紧去挑选吧'],
    'onLeave': function(index, nextIndex, direction){
        if(nextIndex == 5){
            $nextGuide.addClass('hide');
        }else{
            $nextGuide.removeClass('hide');
        }
    }
});

$nextGuide.on('click', function(){
    $.fn.fullpage.moveSectionDown();
});
</script>
<script src="{{'js/lib/plugins.js'|assets}}"></script>
{% endblock %}

{% block footer %}{% endblock %}
