{% extends 'tpl/base/base.html' %}
{% load assets %}

{% block title %}导航{% endblock %}

{% block header %}{% endblock %}

{% block htmlhook %}class="full-page"{% endblock %}
{% block bodyhook %}class="full-page"{% endblock %}

{% block content %}

<div class="nav-page" id="full-page">
    <div class="adg-health section">
        <div class="container">
            <img src="{{ 'imgs/nav/adg1.png'|assets }}" class="img-responsive"/>
        </div>
    </div>
    <div class="adg-price section">
        <div class="container">
            <img src="{{ 'imgs/nav/adg2.png'|assets }}" class="img-responsive"/>
        </div>
    </div>
    <div class="adg-purebred section">
        <div class="container">
            <img src="{{ 'imgs/nav/adg3.png'|assets }}" class="img-responsive"/>
        </div>
    </div>
    <div class="adg-process section">
        <div class="container">
            <img src="{{ 'imgs/nav/adg4.png'|assets }}" class="img-responsive"/>
        </div>
    </div>
    <div class="adg-buy section">
        <div class="container">
            <a href="/home">
                <img src="{{ 'imgs/nav/adg5.png'|assets }}" class="img-responsive"/>
            </a>
        </div>
    </div>
</div>


{% endblock %}

{% block plugins %}
<script src="{{ 'js/lib/jquery.fullPage.js'|assets }}"></script>
<script>
$('#full-page').fullpage({
    easing: 'swing',
    'navigation': true,
    'navigationPosition': 'right',
    'navigationTooltips': ['健康有保障', '价格很公道', '品相很优质', '流程很标准', '赶紧去挑选吧']
});
</script>
{% endblock %}

{% block footer %}{% endblock %}