{% extends 'tpl/base/base.html' %}
{% load assets %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="supplies">
    <div class="supplies-banner">
        <img src="{{ 'imgs/supplies-banner.jpg'|assets }}" alt="宠物用品"/>
    </div>
    <div class="supplies-necessary">
        <div class="supplies-container">
            <h2 class="supplies-title"></h2>
            <div class="row supplies-row js-statistics">
            	{% for supplie in supplies %}
            	{% ifequal supplie.type '必备用品' %}
                <div class="supplies-item js-statistics-item" data-category="必备用品" data-label="{{ supplie.title }}">
                    <a href="{{ supplie.tar_url }}" target="_blank">
                        <img src="{{ 'imgs/loading.gif'|assets }}" data-original="{{ supplie.img_url }}" class="js-lazy" alt="{{ supplie.title }}"/>
                    </a>
                    <div class="media">
                        <div class="media-left">
                            <p>
                                <a href="{{ supplie.tar_url }}" target="_blank" class="goods-title">{{ supplie.title }}</a>
                            </p>
                            <p class="margin-none">
                                <span class="price-title">惊爆价:</span><span class="price-content"><span class="price-symbol">&yen;</span>{{ supplie.price }}</span>
                            </p>
                        </div>
                        <div class="media-body">
                            <a class="btn-buy" href="{{ supplie.tar_url }}" target="_blank">
                                <span class="btn-text">立即<br>购买</span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endifequal %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="supplies-daily">
        <div class="supplies-container">
            <h2 class="supplies-title"></h2>
            <div class="row supplies-row js-statistics">
                {% for supplie in supplies %}
            	{% ifequal supplie.type '生活用品' %}
                <div class="supplies-item js-statistics-item" data-category="生活用品" data-label="{{ supplie.title }}">
                    <a href="{{ supplie.tar_url }}" target="_blank">
                        <img src="{{ 'imgs/loading.gif'|assets }}" data-original="{{ supplie.img_url }}" class="js-lazy" alt="{{ supplie.title }}"/>
                    </a>
                    <div class="media">
                        <div class="media-left">
                            <p>
                                <a href="{{ supplie.tar_url }}" target="_blank" class="goods-title">{{ supplie.title }}</a>
                            </p>
                            <p class="margin-none">
                                <span class="price-title">惊爆价:</span><span class="price-content"><span class="price-symbol">&yen;</span>{{ supplie.price }}</span>
                            </p>
                        </div>
                        <div class="media-body">
                            <a class="btn-buy" href="{{ supplie.tar_url }}" target="_blank">
                                <span class="btn-text">立即<br>购买</span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endifequal %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="supplies-medical">
        <div class="supplies-container">
            <h2 class="supplies-title"></h2>
            <div class="row supplies-row js-statistics">
                {% for supplie in supplies %}
            	{% ifequal supplie.type '保健医疗' %}
                <div class="supplies-item js-statistics-item" data-category="保健医疗" data-label="{{ supplie.title }}">
                    <a href="{{ supplie.tar_url }}" target="_blank">
                        <img src="{{ 'imgs/loading.gif'|assets }}" data-original="{{ supplie.img_url }}" class="js-lazy" alt="{{ supplie.title }}"/>
                    </a>
                    <div class="media">
                        <div class="media-left">
                            <p>
                                <a href="{{ supplie.tar_url }}" target="_blank" class="goods-title">{{ supplie.title }}</a>
                            </p>
                            <p class="margin-none">
                                <span class="price-title">惊爆价:</span><span class="price-content"><span class="price-symbol">&yen;</span>{{ supplie.price }}</span>
                            </p>
                        </div>
                        <div class="media-body">
                            <a class="btn-buy" href="{{ supplie.tar_url }}" target="_blank">
                                <span class="btn-text">立即<br>购买</span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endifequal %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="supplies-clean">
        <div class="supplies-container">
            <h2 class="supplies-title"></h2>
            <div class="row supplies-row js-statistics">
                {% for supplie in supplies %}
            	{% ifequal supplie.type '清洁卫生' %}
                <div class="supplies-item js-statistics-item" data-category="清洁卫生" data-label="{{ supplie.title }}">
                    <a href="{{ supplie.tar_url }}" target="_blank">
                        <img src="{{ 'imgs/loading.gif'|assets }}" data-original="{{ supplie.img_url }}" class="js-lazy" alt="{{ supplie.title }}"/>
                    </a>
                    <div class="media">
                        <div class="media-left">
                            <p>
                                <a href="{{ supplie.tar_url }}" target="_blank" class="goods-title">{{ supplie.title }}</a>
                            </p>
                            <p class="margin-none">
                                <span class="price-title">惊爆价:</span><span class="price-content"><span class="price-symbol">&yen;</span>{{ supplie.price }}</span>
                            </p>
                        </div>
                        <div class="media-body">
                            <a class="btn-buy" href="{{ supplie.tar_url }}" target="_blank">
                                <span class="btn-text">立即<br>购买</span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endifequal %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}