{% extends 'tpl/base/base.html' %}
{% load assets %}

{% block title %}工作机会|宠物购 只为给你一只健康可爱的狗狗{% endblock %}

{% block content %}
<div class="cwg-container workchance">
    <div class="container breadcrumb-container">
        <ol class="breadcrumb">
          <li><a href="/home">首页</a></li>
          <li class="active">工作机会</li>
        </ol>
    </div>
    <div class="container content-container">
        <div class="row">
            <div class="chance-top">
                <div class="chance-title">
                    <h1 class="text-uppercase">Talent Recruitment</h1>
                    <h2>人才招聘</h2>
                    <p>————</p>
                </div>
                <i class="chance-am"></i>
                <i class="chance-pm"></i>
                <div class="chance-clock">
                    <i></i>
                    <p>早九晚六的工作</p>
                    <p>什么对你最重要</p>
                </div>
            </div>
        </div>
        <div class="chance-main text-center">
            <p>
                <i class="chance-treatment"></i>
            </p>
            <h3>我们通通满足你！</h3>
            <p>
                <i class="chance-join-us"></i>
            </p>
            <p class="chance-desc">
                这里将给你一个全新的工作体验 <br/>
                让你做乐于并善于的事 <br/>
                体现自身价值，收获成功与快乐 <br/>
            </p>
            <p>
                <i class="chance-welcome"></i>
            </p>
            <p class="chance-job">
                招聘职位
            </p>
        </div>
        <div class="row job-detail">
            <div class="col-sm-4">
                <p><span class="job-num">1.</span><a href="http://www.lagou.com/jobs/233098.html" target="_blank">网页设计师</a></p>
            </div>
            <div class="col-sm-4">
                <p><span class="job-num">2.</span><a href="http://www.lagou.com/jobs/233094.html" target="_blank">视觉设计师</a></p>
            </div>
            <div class="col-sm-4">
                <p><span class="job-num">3.</span><a href="http://www.lagou.com/jobs/233106.html" target="_blank">视觉设计经理/主管</a></p>
            </div>
            <div class="col-sm-4">
                <p><span class="job-num">4.</span><a href="http://www.lagou.com/jobs/234310.html" target="_blank">SEO</a></p>
            </div>
            <div class="col-sm-4">
                <p><span class="job-num">5.</span><a href="http://www.lagou.com/jobs/234292.html" target="_blank">内容运营</a></p>
            </div>
            <div class="col-sm-4">
                <p><span class="job-num">6.</span><a href="http://www.lagou.com/jobs/234233.html" target="_blank">内容编辑</a></p>
            </div>
            <div class="col-sm-4">
                <p><span class="job-num">7.</span><a href="http://www.lagou.com/jobs/233103.html" target="_blank">UI设计师</a></p>
            </div>
            <div class="col-sm-4">
                <p><span class="job-num">8.</span><a href="http://www.lagou.com/jobs/232201.html" target="_blank">产品经理</a></p>
            </div>
            <div class="col-sm-4">
                <p><span class="job-num">9.</span><a href="http://www.lagou.com/jobs/250005.html" target="_blank">市场营销</a></p>
            </div>
        </div>
        <div>
            <p class="text-center chance-mail">作品和简历发送至：hr@chongwug.com</p>
        </div>
    </div>
</div>
{% endblock %}