{% extends 'tpl/base/base.html' %}
{% load assets %}

{% block title %}工作机会|宠物购 只为给你一只健康可爱的狗狗{% endblock %}

{% block content %}
<div class="cwg-container">
<div class="container" style="font-size:20px;background-color:#fff">
	<div class="row">
        <div class="col-md-11 col-md-offset-0_5">
            <div class="row cwg-area-row">
        		<div class="col-xs-6 col-sm-12">
				<p style="font-size:30px;">市场营销</p>
				<p>岗位职责：</br>
				1、负责产品市场推广方案的策划与执行</br>
				2、负责与上游商家洽谈合作</br>
				3、负责线下活动的策划与执行</br>
				4、负责接待客户并协同客户完成交易</p>
				<p>1、必须拥有正确的价值观与过硬的服务理念与精神（必备要求）</br>
				2、有1年以上的市场营销经验（天赋过人者另谈）</br>
				3、沟通、协调、谈判能力强</br>
				4、从事过宠物相关行业者优先</br>
				5、从事过互联网O2O项目者优先</br>
				6、激情澎湃、乐于创新、态度端正者优先</p>
				<p>地址：成都市高新区天府软件园D区创业场</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}