.business-title{
  padding-bottom: 20px;

  h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
  }

  p{
    font-size: 18px;
  }
}

.business-login, .business-password{
  color: #4c4c4c;
  background: $business-bg url(../imgs/b-login.png) center top no-repeat;

  .business-account-form{
    width: 360px;
    margin: 0 auto;
    padding-top: 120px;
  }

  .checkbox-inline{
    font-size: 12px;
    line-height: 20px;
  }

  .control-label{
    font-size: 18px;
  }

  .has-error{
    border-color: #d80000;
  }
}

.business-data{
  background: $business-bg;
  color: #787878;

  .business-wrap{
    position: relative;
    width: 715px;
    margin: 0 auto;

    div.col-sm-3{
      padding: 0;
      position: relative;
    }

    label.col-sm-3, div.col{
      padding-left: 0;
    }

    .disabled{
      color: #000;
    }

    input.has-error{
      border-color: #a94442;
    }
  }

  .business-data-form{
    .warn{
      color: #d80000;
      position: absolute;
      top: 0;
      right: -10px;
      font-size: 20px;
      font-weight: bold;
    }

    .form-group{
      margin-bottom: 10px;
    }
  }

  .business-bg{
    width: 159px;
    height: 155px;

    position: absolute;
    bottom: 0;
    right: -130px;
  }
}