.form-control{
  border-radius: 0;
}

.btn-custom{
  background-color: $header-bg;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-business{
  background-color: $business-btn-bg;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  font-weight: bold;
}