<!DOCTYPE html>
<html>
<head lang="zh-CN">
    {% include 'petfarm/tpl/base/meta.html' %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/back-assets/dist/css/base.css"/>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="/static/back-assets/dist/css/main.css"/>
    <!--[if lt IE 9]>
    <script src="/static/back-assets/dist/js/respond.js"></script>
    <![endif]-->
</head>
<body>

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="/petfarm">养殖场数据管理系统</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">当前操作员：{{ manager.nickname }}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/petfarm?logout=true">注销</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block container %}
<div class="container-fluid">
    <div class="row">
        {% block sidebar %}
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/petfarm/nestofpet/add/">添加新宠物</a></li>
                <li><a href="/petfarm/nestofpet/mod/">修改或者删除宠物信息</a></li>
                <li><a href="/petfarm/nestofpet/picdel/">删除宠物图片</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/petfarm/petfarm/picadd/">添加养殖场图片</a></li>
                <li><a href="/petfarm/petfarm/mod/">修改养殖场信息</a></li>
                <li><a href="/petfarm/petfarm/picdel/">删除养殖场展示图片</a></li>
            </ul>
        </div>
        {% endblock %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% block main %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}


<script src="/static/back-assets/dist/js/jquery.js"></script>
<script src="/static/back-assets/dist/js/bootstrap.js"></script>
<script src="/static/back-assets/dist/js/validate/jquery.validate.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>