{% load assets %}
<!DOCTYPE html>
<html lang="zh-CN" {% block htmlhook %}{% endblock %}>
<head>
    {% include 'tpl/base/meta.html' %}
	<title>{% block title %}{% endblock %} - 宠物购</title>
    <link rel="stylesheet" href="{{ 'css/cwg.css'|assets }}"/>
</head>
<body {% block bodyhook %}{% endblock %}>
<!--[if lt IE 8]>
<div class="alert alert-danger text-center margin-none radius-none" role="alert">
    您正在使用一个<strong>过时的</strong>浏览器。为保证您的正常使用，请升级浏览器：<a href="http://browsehappy.com" target="_blank" class="alert-link">点此查看</a>
</div>
<![endif]-->
<div class="alert alert-danger text-center margin-none radius-none hide" role="alert" id="js-cookie-alert">
    您的浏览器禁用了<strong>Cookie</strong>，会导致不能正常使用本站功能。{#<a href="#" target="_blank" class="alert-link">点此查看如何启用</a>#}
</div>

{% block header %}
    {% include 'tpl/base/header.html' %}
{% endblock %}

{% block content %}{% endblock %}

{% block jquery %}
<script src="{{'js/lib/jquery.js'|assets}}"></script>
{% endblock %}

{% block plugins %}
<script src="{{'js/lib/plugins.js'|assets}}"></script>
{% endblock %}

{% block scripts %}{% endblock %}

{% block footer %}
    {% include 'tpl/base/footer.html' %}
{% endblock %}


<script type="text/javascript">
    function isCookieEnabled(){
        return navigator.cookieEnabled || ("cookie" in document && (document.cookie.length > 0 || (document.cookie = "test").indexOf.call(document.cookie, "test") > -1));
    }

    //cookie 提示
    if(!isCookieEnabled()){
        $('#js-cookie-alert').removeClass('hide');
    }

    //<!--统计代码-->
    if(window.location.hostname === 'chongwug.com'){
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fddd73710a5679013c750d68e5c7efa37' type='text/javascript'%3E%3C/script%3E"));

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-56836755-1', 'auto');
        ga('send', 'pageview');

        if (window.addEventListener) {
            window.addEventListener('error', trackErrors, false);
        } else if (window.attachEvent) {
            window.attachEvent('onerror', trackErrors);
        } else {
            window.onerror = trackErrors;
        }

        function trackErrors(e) {
            var ie = window.event,
                desc = (e.message || ie.errorMessage) + ', ' + (e.filename || ie.errorUrl) + ': ' + (e.lineno || ie.errorLine),
                url = window.location.href;

            desc += '; ' + url;

            try{
                _hmt.push(['_setCustomVar', 1, 'exception', desc]);
                ga('send', 'exception', { 'exDescription': desc });
            }catch(e){}
        }
    }
</script>

</body>
</html>
