{% load assets %}
<!DOCTYPE html>
<html lang="zh-CN" {% block htmlhook %}{% endblock %}>
<head>
    {% include 'tpl/base/meta.html' %}
	<title>{% block title %}{% endblock %} - 宠物购</title>
    <link rel="stylesheet" href="{{ 'css/cwg.css'|assets }}"/>
    <!--[if lt IE 9]>
    <script src="{{ 'js/lib/respond.js'|assets }}"></script>
    <![endif]-->
</head>
<body {% block bodyhook %}{% endblock %}>
{% block header %}
    {% include 'tpl/base/header.html' %}
{% endblock %}

{% block content %}{% endblock %}

{% block jquery %}
<script src="{{'js/lib/jquery.js'|assets}}"></script>
{% endblock %}
{% block plugins %}
<script src="{{'js/lib/plugins.js'|assets}}"></script>
{% endblock %}
{#<script src="{{'js/lib/bootlint.js'|assets}}"></script>#}
{% block scripts %}{% endblock %}

{% block footer %}
    {% include 'tpl/base/footer.html' %}
{% endblock %}
</body>
</html>
