{% load assets %}
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="row cwg-global-search">
                <div class="col-sm-4 col-md-3 hidden-xs">
                    <a href="/home" class="logo"><img src="{{ 'imgs/logo.jpg'|assets }}"></a>
                    <span class="cwg-city">成都</span>
                </div>
                <div class="col-sm-5 col-md-offset-0_5">
                    <form action="/home">
                        <div class="input-group cwg-search-wrap">
                          <input type="text" class="form-control" placeholder="宠物品种，宠物食物，宠物玩具">
                          <span class="input-group-btn">
                              <button class="btn btn-search" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                              </button>
                          </span>
                        </div>
                    </form>
                </div>
                <div class="col-sm-3 col-md-2 pull-right">
                    <div class="cwg-tel">
                        <p class="cwg-tel-main"><i class="glyphicon glyphicon-earphone"></i><span>028-12345678</span></p>
                        <p class="cwg-tel-detail">客服热线：9:00-21:00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar cwg-navbar">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand visible-xs-block" href="/home">宠物购</a>
            </div>
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {% if page == 'home' %}class="active"{% endif %}><a href="/home/">首页</a></li>
                    <li {% if page == 'buy' %}class="active"{% endif %}><a href="/buy/">我要买狗</a></li>
                    <li {% if page == '#' %}class="active"{% endif %}><a href="/#/">宠物用品</a></li>
                    <li {% if page == '#' %}class="active"{% endif %}><a href="/knowledge/buy/">购犬须知</a></li>
                    <li {% if page == '#' %}class="active"{% endif %}><a href="/#/">养犬必知</a></li>
                </ul>
                <ul class="pull-right cwg-social">
                    <li>
                        <a href="javascript:" data-toggle="popover" data-html="true" data-placement="bottom" tabindex="0" data-trigger="focus"
                           data-content="<img src={{ 'imgs/weixin.png'|assets }}>">
                            <i class="iconfont icon-weixin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" ><i class="iconfont icon-xinlangweibo"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
