.row{
  @include clearfix();
}

.row-margin{
  margin-left: -10px;
  margin-right: -10px;
}

.col{
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.col-quarter{
  width: 25%;
}

.col-three-quarters{
  width: 75%;
}

.col-half{
  width: 50%;
}



