.main {
  padding: 20px;

  .page-header {
    margin-top: 0;
  }

  .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  @media (min-width: $screen-sm-min) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.navbar-inverse{
  background-color: #ffd401;
  color: #fff;
}