.preview-img{
  list-style: none;
  padding: 0;
  margin: 0;

  $width: 122px;
  $height: 82px;

  li{
    display: inline-block;
    width: $width;
    height: $height;

    margin: 28px 10px 24px 0;
    border: 1px solid #ccc;

    position: relative;

    &:hover{
      .img-edit{
        display: block;
      }
    }
  }

  .img-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .img-edit, .img-tit{
    position: absolute;
    left: -1px;
    bottom: 0;

    width: $width;
    display: none;

    background-color: #000;
    background-color: rgba(#000, .8);
    color: #fff;

    i{
      padding: 5px 0;
      cursor: pointer;
      width: 48%;
      text-align: center;

      &:hover{
        color: #ffd401;
      }
    }
  }

  .img-tit{
    display: block;
    text-align: center;
    bottom: auto;
    color: #333;
    background: none;
    top: -24px;

    line-height: 24px;
  }
}