/*------------------------------------*\
    #global
\*------------------------------------*/

$primary-bg-color: #ffd401;
$copyright-bg-color: #daa904;
$weibo-bg-color: #ec5342;
$weixin-bg-color: #05b410;
$mail-bg-color: #56acee;


$content-width: 1000px;

$primary-color: #ff3500;

/*------------------------------------*\
    #font
\*------------------------------------*/
$fontello: '../fonts/fontello';


/*------------------------------------*\
    #nav
\*------------------------------------*/
$home-nav-color: #d9a300;
$home-nav-highlight-color: #b38900;
$home-nav-height: 30px;
$home-nav-padding: ($home-nav-height - 14px) / 2;

$padding-sm: 10px;

