/*------------------------------------*\
    #global
\*------------------------------------*/

$primary-bg-color: #ffd401;
$copyright-bg-color: #daa904;
$weibo-bg-color: #ec5342;
$weixin-bg-color: #05b410;
$mail-bg-color: #56acee;


$content-width: 1000px;

$primary-color: #ff3500;




/*------------------------------------*\
    #nav
\*------------------------------------*/
$home-nav-color: #d9a300;
$home-nav-highlight-color: #b38900;
$home-nav-height: 30px;
$home-nav-padding: ($home-nav-height - 14px) / 2;


$font-family-base: 'helvetica neue', Helvetica, Arial, tahoma, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', \5FAE\8F6F\96C5\9ED1,\5B8B\4F53;

$icon-font-path: '../fonts/';

$breadcrumb-padding-vertical: 20px;
$breadcrumb-padding-horizontal: 0;
$breadcrumb-separator: ">";

$btn-primary-color: #fff;
$btn-primary-bg: #ff3500;
$btn-primary-border: #ff3500;

$btn-info-color: #fff;
$btn-info-bg: $primary-bg-color;
$btn-info-border: $primary-bg-color;

$brand-primary: $primary-bg-color;


