{% extends 'petfarm/tpl/base/base.html' %}
{% load assets_petfarm %}

{% block title %}注册{% endblock %}

{% block navbar %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ 'lib/uploadify/uploadify.css'|assets_petfarm }}"/>
{% endblock %}

{% block container %}
<style>
    body{
        padding-top: 0;
    }
    h1{
        padding-bottom: 15px;
    }
    .popover{
        max-width: none;
    }
    .form-horizontal{
        width: 500px;
        margin: 0 auto;
    }
</style>
<div class="container">
<h1 class="text-center">注册</h1>
<div style="margin-left: -125px; padding-bottom: 60px;">
	<form class="form-horizontal">
	{% csrf_token %}
	<div class="form-group">
	    <label class="col-sm-4 control-label">用户名<span class="warn">*</span>：</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control required" name="name">
	    </div>
	</div>
    <div class="form-group">
	    <label class="col-sm-4 control-label">密码<span class="warn">*</span>：</label>
	    <div class="col-sm-8">
	      <input type="password" class="form-control required" name="pwd">
	    </div>
	</div>
    <div class="form-group">
        <label class="col-sm-4 control-label">验证码<span class="warn">*</span>：</label>
        <div class="col-sm-4">
            <input type="text" class="form-control required" name="verifyTemp" maxlength="4" minlength="4"/>
        </div>
        <div class="col-sm-4">
            <img src=""/>
        </div>
    </div>
	<div class="form-group">
	    <label class="col-sm-4 control-label">联系电话<span class="warn">*</span>：</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control required digits" name="tel" minlength="11" maxlength="11">
	    </div>
	</div>
    <div class="form-group">
	    <label class="col-sm-4 control-label">手机验证码<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" name="verify" maxlength="4" minlength="4">
	    </div>
        <div class="col-sm-4">
            <button class="btn btn-info" type="button" id="js-verify">获取验证码</button>
        </div>
	</div>
	<div class="form-group">
	    <label class="col-sm-4 control-label">邮箱地址<span class="warn">*</span>：</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control required email" name="email">
	    </div>
	</div>
	<div class="form-group">
	    <label class="col-sm-4 control-label">身份证号码<span class="warn">*</span>：</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control required" name="idnum" maxlength="18" minlength="15">
	    </div>
	</div>
	<div class="form-group">
	    <label class="col-sm-4 control-label">手持证件照<span class="warn">*</span>：</label>
	    <div class="col-sm-8">
            <input type="hidden" name="photo" id="js-photo" class="required"/>
            <input type="hidden" name="x1" value="0"/>
            <input type="hidden" name="y1" value="0"/>
            <input type="hidden" name="x2" id="js-width"/>
            <input type="hidden" name="y2" id="js-height"/>
	      <div id="js-uploadify"></div>
          <p>
              <a href="javascript:" tabindex="0" data-trigger="focus" data-toggle="popover" data-content="<img src={{ 'imgs/demo.jpg'|assets_petfarm }}>" data-html="true">请参考此示例图片</a>
              <span>（图片分辨率至少 500 x 500 以上）</span>
          </p>
          <p>
              <img id="js-photo-show" class="img-responsive"/>
          </p>
	    </div>
	</div>
    <div class="form-group">
	    <label class="col-sm-4 control-label">类型<span class="warn">*</span>：</label>
	    <div class="col-sm-8">
            <select class="form-control required" name="type">
                {% for petfarmtype in petfarmtypes %}
                <option value="{{ petfarmtype.type }}">{{ petfarmtype.title }}</option>
                {% endfor %}
            </select>
	    </div>
	</div>
	<div class="form-group">
	    <label class="col-sm-4 control-label">省会<span class="warn">*</span>：</label>
	    <div class="col-sm-8">
	        <select name="province" id="farm-province" class="form-control">
	        	{% for province in provinces %}
	            <option data-range="{{ province.rangeid }}" data-id="{{ province.id }}" value="{{ province.name }}">{{ province.name }}</option>
	            {% endfor %}
	        </select>
	    </div>
	</div>
	<div class="form-group">
	    <label class="col-sm-4 control-label">城市<span class="warn">*</span>：</label>
	    <div class="col-sm-8">
	      	<select name="city" id="farm-city" class="form-control">
                {% for city in citys %}
                <option value="{{ city.name }}" data-id="{{ city.id }}">{{ city.name }}</option>
                {% endfor %}
            </select>
	    </div>
	</div>
	<div class="form-group">
	    <label class="col-sm-4 control-label">片区<span class="warn">*</span>：</label>
	    <div class="col-sm-8">
	      	<select name="district" id="farm-district" class="form-control">
            	{% for district in districts %}
                <option value="{{ district.name }}" data-id="{{ district.id }}">{{ district.name }}</option>
                {% endfor %}
            </select>
	    </div>
	</div>
	<div class="form-group">
	    <label class="col-sm-4 control-label">详细地址<span class="warn">*</span>：</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control required" name="dest">
	    </div>
	</div>
	<div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" id="js-btn-submit" data-loading-text="提交中..." class="btn btn-success form-control">提交</button>
          <a href="/petfarm/" class="form-control btn btn-primary" style="margin-top: 10px;">返回登录</a>
        </div>
    </div>
	</form>
</div>

</div>

{% endblock %}

{% block scripts %}
<script src="{{ 'lib/uploadify/jquery.uploadify.js'|assets_petfarm }}"></script>
<script>
$(function () {
  $('[data-toggle="popover"]').popover()
});

commonvalidateConfig.ignore = '';
commonvalidateConfig.errorPlacement = function (error, element) {
        error.insertAfter(element);
};

var validator = $('form').validate(commonvalidateConfig);

(function($){
    var $photoShow = $('#js-photo-show'),
        $photo = $('#js-photo'),
        $width = $('#js-width'),
        $height = $('#js-height');

    $('#js-uploadify').uploadify({
            buttonText: '浏览并上传',
            buttonClass: 'btn-info',
            swf: '/static/lib/dist/uploadify/uploadify.swf',
            uploader: './picadd/',
            fileTypeExts: '*.jpg;*.jpeg;*.gif;*.png;*.bmp;',
            fileSizeLimit: '4MB',
            multi: false,
            onUploadError: function(file, errorCode, errorMsg, errorString){
                if(errorMsg == "500"){
                    errorString = '服务器内部错误';
                }

                alert('"' + file.name + '" 上传失败：' + errorString + '，请重试！');
            },
            onUploadSuccess: function(file, data, response){
                if (!response) {
                    alert('请求超时，请稍后重试！');
                    return;
                }

                data = $.parseJSON(data);

                if(data.status == 0){
                    $photo.val(data.url);
                    $width.val(data.width);
                    $height.val(data.height);
                    $photoShow.attr('src', data.url);
                    validator.element('#js-photo');
                }else{
                    alert('图片上传失败：' + data.message + '，请重试。');
                }
            }
        });
})(jQuery);


(function($){
    var $province = $('#farm-province'),
        $city = $('#farm-city'),
        $district = $('#farm-district'),
        param = {},
        map = {
            'districts': $district,
            'citys': $city
        };

    $province.on('change', function(){
        var data = getSelectedId($province);
        param.province = data.id;
        param.range = data.range;
        delete param.city;

        renderData();
    });

    $city.on('change', function(){
        var data = getSelectedId($province),
            city = getSelectedId($city);
        param.city = city.id;
        param.province = data.id;
        param.range = data.range;

        renderData();
    });

    function getSelectedId($select){
        return $select.find('option').filter(':selected').data();
    }

    function renderData(){
        $.ajax({
            url: '/manage/petfarm/address/',
            data: param,
            dataType: 'json',
            success: function(data){
                for(var i in data){
                    var options = '';

                    $.each(data[i], function(idx, el){
                        options += '<option data-id="'+ el.id +'" value="'+ el.name +'">' + el.name + '</option>';
                    });

                    options && map[i].html(options);
                }
            }
        });
    }

})(jQuery);

function countTime($el){
    if($el.data('counting')){
        return false;
    }

    var delay = $el.data('delay'),
        text = '重新获取 ';

    delay = !isNaN(delay) && parseInt(delay, 10) || 60,


    $el.text(text + delay);

    function updateText(){
        delay--;

        if(delay > 0){
            $el.text(text + delay);
            setTimeout(updateText, 1000);
        }else{
            $el.data('counting', false);
            $el.prop('disabled', false).removeClass('disabled').text(text);
        }
    }
    $el.data('counting', true);
    setTimeout(updateText, 1000);
}

(function($){
    //verify
    var $btnVerify = $('#js-verify'),
        $verifyTemp = $('input[name="verifyTemp"]'),
        $tel = $('input[name="tel"]');

    $btnVerify.on('click', function(){
        if($verifyTemp.valid() && $tel.valid()){
            $btnVerify.prop('disabled', true).addClass('disabled');

            $.ajax({
                url: './',
                data: {tel: $tel.val(), verify: $verifyTemp.val()},
                dataType: 'json',
                success: function(data){
                    if(data.status == 0){
                        countTime($btnVerify);
                    }else{
                        alert(data.message);
                        $btnVerify.prop('disabled', false).removeClass('disabled');
                    }
                },
                error: function(){
                    alert('网络错误，请稍候重试');
                    $btnVerify.prop('disabled', false).removeClass('disabled');
                }
            });
        }
    });

    //form submit
    var $form = $('form'),
        $submit = $form.find('#js-btn-submit');


    $form.on('submit', function(event){
        event.preventDefault();

    	validator.form();

    	if(!$form.valid()){
    		return;
    	}

        $submit.button('loading');

        var data = {};

        $.each($form.serializeArray(), function(i, e){
            data[e.name] = e.value;
        });

        $.ajax({
            url: './',
            data: data,
            type:'POST',
            dataType: 'json',
            success: function(data){
                if(data.status == 0){
                    alert('注册成功');
                    window.location.href = '/petfarm/';
                }else{
                    alert('提交失败：'+ data.message);
                    $submit.button('reset');
                }
            },
            error: function(){
                $submit.button('reset');
            }
        });

        return false;
    });


})(jQuery);

</script>
{% endblock %}