{% extends 'petfarm/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/back-assets/dist/uploadify/uploadify.css"/>
<link rel="stylesheet" href="/static/back-assets/dist/jcrop/jquery.Jcrop.css"/>
{% endblock %}

{% block main %}

<style>
    .pet{
        border: 1px solid #ccc;
        padding-top: 15px;
        margin-bottom: 15px;
        position: relative;
    }

    .pet .btn-del{
        position: absolute;
        top: 15px;
        left: 15px;
    }
</style>

<h1 class="page-header">添加一窝宠物信息</h1>
<p>加*为必填项</p>

<form class="form-horizontal" id="js-form">
    {% csrf_token %}
    <input name="count" type="hidden" id="pet-count" value="0"/>
    <div class="form-group">
        <label for="nest-type" class="col-sm-3 control-label">本窝品种<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control required" id="nest-type" name="nest-type">
        </div>
    </div>
    <div class="form-group">
        <label for="nest-color" class="col-sm-3 control-label">本窝颜色<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control required" id="nest-color" name="nest-color">
        </div>
    </div>
    <div class="form-group">
        <label for="nest-age" class="col-sm-3 control-label">本窝月龄<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control required number" id="nest-age" name="nest-age">
        </div>
    </div>
    <div class="form-group">
        <label for="nest-desc" class="col-sm-3 control-label">本窝简介（最多20字）<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control required number" id="nest-desc" name="nest-desc">
        </div>
    </div>
    <div class="form-group">
        <input type="hidden" name="img-count" id="js-img-count" value="0"/>
        <label class="col-sm-3 control-label">本窝图片（至少一张）<span class="warn">*</span>：</label>
        <div class="col-sm-4">
            <div id="js-uploadify"></div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <ul class="preview-img" id="js-preview-img"></ul>
        </div>
    </div>
    <div class="pet">
        <div class="form-group">
            <label class="col-sm-3 control-label">宠物颜色<span class="warn">*</span>：</label>
            <div class="col-sm-4">
              <input type="text" class="form-control required" name="color1">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">宠物价格<span class="warn">*</span>：</label>
            <div class="col-sm-4">
              <input type="text" class="form-control required number" name="price1">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">防疫状态<span class="warn">*</span>：</label>
            <div class="col-sm-4">
                <select name="epidemic1" class="form-control">
                    <option value="未种疫苗">未种疫苗</option>
                    <option value="未种疫苗">未种疫苗</option>
                    <option value="已种疫苗">已种疫苗</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">宠物性别<span class="warn">*</span>：</label>
            <div class="col-sm-4">
                <select name="sex1" class="form-control">
                    <option value="公">公</option>
                    <option value="母">母</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">销售状态<span class="warn">*</span>：</label>
            <div class="col-sm-4">
                <select name="sale1" class="form-control">
                    <option value="0">在售</option>
                    <option value="1">售光</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
          <button type="button" class="btn btn-success btn-add form-control">添加宠物</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
          <button type="submit" class="btn btn-primary form-control" data-loading-text="提交中..." id="js-btn-submit">提交</button>
        </div>
    </div>
</form>

<div class="modal fade modal-auto-width" id="js-crop-modal" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">裁剪图片</h4>
        <div class="form-horizontal img-type-group">
            <label class="col-sm-6 control-label">图片用途：</label>
            <div class="col-sm-6">
                <select class="form-control" id="js-img-type">
                	{% for type in types %}
                    <option value="{{ type.type }}" data-size="[{{ type.width }}, {{ type.height }}]">{{ type.desc }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
      </div>
    </div>
    <div class="modal-loading"></div>
  </div>
</div>

<script type="text/html" id="pet-tpl">

<div class="pet">
    <div class="form-group">
        <label class="col-sm-3 control-label">宠物颜色<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control required" name="color{num}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">宠物价格<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control required number" name="price{num}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">防疫状态<span class="warn">*</span>：</label>
        <div class="col-sm-4">
            <select name="epidemic{num}" class="form-control">
                <option value="未种疫苗">未种疫苗</option>
                <option value="未种疫苗">未种疫苗</option>
                <option value="已种疫苗">已种疫苗</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">宠物性别<span class="warn">*</span>：</label>
        <div class="col-sm-4">
            <select name="sex{num}" class="form-control">
                <option value="0">公</option>
                <option value="1">母</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">销售状态<span class="warn">*</span>：</label>
        <div class="col-sm-4">
            <select name="sale{num}" class="form-control">
                <option value="0">在售</option>
                <option value="1">售光</option>
            </select>
        </div>
    </div>
    <button class="btn-del btn btn-danger" type="button">删除</button>
</div>

</script>

<script type="text/html" id="preview-item-tpl">
<li>
    <div class="img-box">
        <img src="{src}"/>
        <input type="hidden" name="img-{index}-position" class="img-position-input"/>
        <input type="hidden" name="img-{index}-type" class="img-type-input"/>
        <input type="hidden" name="img-{index}" value="{src}" class="img-index-input"/>
    </div>
    <p class="img-tit"></p>
    <div class="img-edit">
        <i class="glyphicon glyphicon-pencil img-crop"></i>
        <i class="glyphicon glyphicon-remove img-del"></i>
    </div>
</li>
</script>

{% endblock %}

{% block scripts %}
<script>

(function($){
    var $form = $('#js-form');

    //$form.validate(commonvalidateConfig);

    var petTpl = $('#pet-tpl').html(),
        num = 1;

    $form.on('click', '.btn-add', function(){
        num++;
        $(this).closest('.form-group').before(petTpl.replace(/\{num\}/g, num));
    });

    $form.on('click', '.btn-del', function(){
        $(this).closest('.pet').remove();
    });

    $form.on('submit', function(){
        $('#pet-count').val(num);
    });

})(jQuery);

</script>
<script src="/static/back-assets/dist/uploadify/jquery.uploadify.min.js"></script>
<script src="/static/back-assets/dist/jcrop/jquery.Jcrop.min.js"></script>
<script src="/static/back-assets/dist/js/crop.js"></script>
<script>
//调用截图
$.crop();

(function($){

    //form submit
    var $form = $('#js-form'),
        $submit = $form.find('#js-btn-submit');

    $form.on('submit', function(){
        $submit.button('loading');

        var data = {};

        $.each($form.serializeArray(), function(i, e){
            data[e.name] = e.value;
        });

        console.log(data);

        $.ajax({
            url: '',
            data: data,
            dataType: 'json',
            success: function(data){
                if(data != "False"){
                    alert('提交成功！');
                    window.location.reload();
                }else{
                    alert('提交失败，请重试！');
                    $submit.button('reset');
                }
            },
            error: function(){
                $submit.button('reset');
            }
        });

        return false;
    });


})(jQuery);

</script>
{% endblock %}