{% extends 'petfarm/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}

{% block main %}

<h1 class="page-header">添加一窝宠物信息</h1>
<p>加*为必填项</p>

<form method="post" action="./" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <label for="pet-color" class="col-sm-2 control-label">宠物主要颜色<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="pet-color" name="color">
        </div>
    </div>
    <div class="form-group">
        <label for="pet-age" class="col-sm-2 control-label">宠物月龄<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="pet-age" name="age">
        </div>
    </div>
    <div class="form-group">
        <label for="pet-epidemic" class="col-sm-2 control-label">防疫状态<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="pet-epidemic" name="epidemic">
        </div>
    </div>
    <div class="form-group">
        <label for="pet-type" class="col-sm-2 control-label">宠物品种<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="pet-type" name="type">
        </div>
    </div>
    <div class="form-group">
        <label for="pet-min_prince" class="col-sm-2 control-label">宠物最低价格<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="pet-min_prince" name="min_prince">
        </div>
    </div>
    <div class="form-group">
        <label for="pet-max_prince" class="col-sm-2 control-label">宠物最高价格<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="pet-max_prince" name="max_prince">
        </div>
    </div>
    <div class="form-group">
        <label for="pet-desc" class="col-sm-2 control-label">详细描述<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <textarea class="form-control" rows="3" id="pet-desc" name="desc"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <button type="submit" class="btn btn-primary form-control">提交</button>
        </div>
    </div>
</form>

{% endblock %}