{% extends 'petfarm/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}

{% block main %}

<h1 class="page-header">删除宠物图片</h1>
<p>加*为必填项</p>
			<form method="post" action="./">
				{% csrf_token %}
				<div class="form-group">
				    <label for="pet_id" class="col-sm-2 control-label">宠物选择：</label>
				    <div class="col-sm-6">
				        <select id="pet_id" name="pet_id" class="form-control" onchange="petChange();">
				            {% for pet in pets %}
				            <option value="{{ pet.id }}">{{ pet.color }}{{ pet.type }},{{ pet.short_desc }}</option>
				            {% endfor %}
				        </select>
				    </div>
				</div>
				<br>
				<br>
				<div id="info">
					{% for petpic in petpics %}
					<p><input type="checkbox" name="petpics" value="{{ petpic.id }}"><img src="{{ petpic.img_url }}" style="width:900px;"/></input></p>
					{% endfor %} 
				</div>
				<button type="submit" >删除</button>
			</form>
		</div>
		<script>
		function petChange(){
			$.get("?id=" + $("#pet_id").val(),function(recive){
				if (recive != "False"){
					$("#info").html(recive);
				}
				else{
					alert('data error!');
				}
			});
		}
		</script>
{% endblock %}