{% extends 'petfarm/tpl/base/base.html' %}
{% block title %}内容编辑{% endblock %}

{% load assets_petfarm %}

{% block css %}
<link rel="stylesheet" href="{{ 'lib/uploadify/uploadify.css'|assets_petfarm }}"/>
<link rel="stylesheet" href="{{ 'lib/jcrop/jquery.Jcrop.css'|assets_petfarm }}"/>
{% endblock %}

{% block main %}
<style>
    .pet{
        border: 1px solid #ccc;
        padding-top: 15px;
        margin-bottom: 15px;
        position: relative;
    }
</style>
<h1 class="page-header">修改宠物信息</h1>
{% if pet_one %}
<p>加*为必填项</p>
<form method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
	    <label for="pet_id" class="col-sm-2 control-label">需要修改信息的宠物：</label>
	    <div class="col-sm-4">
	        <select id="pet_id" name="pet_id" class="form-control" onChange="select();">
	            {% for pet in pets %}
	            <option value="{{ pet.id }}">{{ pet.color }}{{ pet.type }},{{ pet.short_desc }}</option>
	            {% endfor %}
	        </select>
	    </div>
	</div>
  <div id="form_main">
    <div class="form-group">
        <label for="pet-color" class="col-sm-2 control-label">宠物主要颜色<span class="warn">*</span>：</label>
        <div class="col-sm-4">
            <select name="color" id="pet-color" class="form-control required">
            	{% for pet_color in pet_colors %}
                <option value="{{ pet_color }}" {% if pet_color == pet_one.color %}selected{% endif %}>{{ pet_color }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="pet-age" class="col-sm-2 control-label">宠物月龄<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <select class="form-control required" id="pet-age" name="age">
          	  {% for pet_age in pet_ages %}
              <option value="{{ pet_age }}" {% if pet_age == pet_one.age %}selected{% endif %}>{{ pet_age }}</option>
              {% endfor %}
          </select>
        </div>
    </div>
    <div class="form-group">
        <label for="pet-type" class="col-sm-2 control-label">宠物品种<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <select class="form-control required" id="pet-type" name="type">
          	  {% for pet_type in pet_types %}
              <option value="{{ pet_type }}" {% if pet_type == pet_one.type %}selected{% endif %}>{{ pet_type }}</option>
              {% endfor %}
          </select>
        </div>
    </div>
    <div class="form-group">
        <label for="pet-short_desc" class="col-sm-2 control-label">本窝简介（最多20字）<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control required number" id="pet-short_desc" name="short_desc" value="{{ pet_one.short_desc }}">
        </div>
    </div>
    <div class="form-group">
        <label for="nest-longdesc" class="col-sm-2 control-label">本窝详细介绍<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control required number" id="nest-longdesc" name="nest-longdesc" value="{{ pet_one.txt_desc }}">
        </div>
    </div>
    <div class="form-group">
        <input type="hidden" name="img-count" id="js-img-count" value="0"/>
        <label class="col-sm-2 control-label">本窝图片：</label>

        <div class="col-sm-8 uploadAndCrop" data-size="[{{ types.0.width }}, {{ types.0.height }}]">
            <div id="js-uploadify"></div>
            <p class="warn">（移动鼠标到图片上可进行删除，请至少保留一张图片！）</p>
            <ul class="preview-img">
            	{% for petimg in petimgs %}
                <li data-id="{{ petimg.id }}">
                    <div class="img-box">
                        <img src="{{ petimg.img_url }}" style="width: 100%;"/>
                    </div>
                    <p class="img-tit">
                        <label>
                            <input type="radio" value="{{ petimg.img_url }}" name="img-main" class="img-main-input"
                                    {% if petimg.img_usefor == 'buy_main' %}checked{% endif %}> 设为主图
                        </label>
                    </p>
                    <div class="img-edit">
                        <i class="glyphicon glyphicon-remove img-del" style="width: 100%;"></i>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        {% for pet in pet_set %}
        <div class="pet col-xs-4">
            <p>宠物{{ forloop.counter }}</p>
            <input type="hidden" value="{{ pet.id }}" class="pet-ids"/>
            <div class="form-group">
                <label for="pet-color{{pet.id}}" class="col-sm-4 control-label">宠物颜色<span class="warn">*</span>：</label>
                <div class="col-sm-8">
                  <select class="form-control required" id="pet-color{{pet.id}}" name="color{{pet.id}}">
                  	  {% for pet_color in pet_colors %}
	                  <option value="{{ pet_color }}" {% if pet_color == pet.color %}selected{% endif %}>{{ pet_color }}</option>
	                  {% endfor %}
                  </select>
                </div>
            </div>
            <div class="form-group">
                <label for="pet-age{{pet.id}}" class="col-sm-4 control-label">疫苗情况<span class="warn">*</span>：</label>
                <div class="col-sm-8">
                  <select class="form-control required number" id="pet-age{{pet.id}}" name="epidemic{{pet.id}}">
                  	  {% for epidemic in epidemics %}
	                  <option value="{{ epidemic }}" {% if epidemic == pet.epidemic_period %}selected{% endif %}>{{ epidemic }}</option>
	                  {% endfor %}
                  </select>
                </div>
            </div>
            <div class="form-group">
                <label for="pet-type{{pet.id}}" class="col-sm-4 control-label">宠物价格<span class="warn">*</span>：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control required" id="pet-type{{pet.id}}" name="price{{pet.id}}" value="{{ pet.price }}">
                </div>
            </div>
            <div class="form-group">
                <label for="pet-sex{{pet.id}}" class="col-sm-4 control-label">宠物性别<span class="warn">*</span>：</label>
                <div class="col-sm-8">
                  <select class="form-control required" id="pet-sex{{pet.id}}" name="sex{{pet.id}}">
                      <option value="公" {% if '公' == pet.sex %}selected{% endif %}>公</option>
                      <option value="母" {% if '母' == pet.sex %}selected{% endif %}>母</option>
                  </select>
                </div>
            </div>
            <div class="form-group">
                <label for="pet-sale{{pet.id}}" class="col-sm-4 control-label">宠物销售情况<span class="warn">*</span>：</label>
                <div class="col-sm-8">
                  <select class="form-control required" id="pet-sale{{pet.id}}" name="sale{{pet.id}}">
                  	  <option value="True" {% if pet.sale_out %}selected{% endif %}>售罄</option>
                      <option value="False" {% if not pet.sale_out %}selected{% endif %}>在售</option>
                  </select>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary form-control btn-submit" data-loading-text="提交中...">确认修改</button>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary form-control" onclick="deletepet();">删除本窝</button>
        </div>
    </div>
  </div>
</form>

{% include 'petfarm/tpl/components/uploadAndCrop.html' %}

{% else %}
暂时还没有数据，请先录入数据
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{{ 'lib/uploadify/jquery.uploadify.js'|assets_petfarm }}"></script>
<script src="{{ 'lib/jcrop/jquery.Jcrop.js'|assets_petfarm }}"></script>
<script src="{{ 'js/crop.js'|assets_petfarm }}"></script>
<script>

function deletepet(){
	$.getJSON("?id=" + $("#pet_id").val() + "&del=1",function(recive){
		if (recive.status == 0){
			alert(recive.message);
			window.location.href = window.location.href;
		}
		else{
			alert(recive.message);
		}
	});
}

var $form = $('form'),
    delArr = [];

$form.on('submit', function(e){
    e.preventDefault();
});

function select()
{
	$.get("./?id=" + $("#pet_id").val(), function(recive){
		if(recive != 'False'){
			$("#form_main").html(recive);
            delArr = [];
            initCrop();
		}
		else{
			alert('数据异常');
		}
	});
}

//调用截图
function initCrop(){
    $('.uploadAndCrop').uploadAndCrop({
        uploader: '/petfarm/nestofpet/picadd/upload/',
        swf: '/static/lib/dist/uploadify/uploadify.swf',
        beforeDel: function(id){
            id && delArr.push(id);
        }
    });
}

initCrop();


function getIdArr(){
    var arr = [];
    $.each($form.find('.pet-ids'), function(){
        arr.push($(this).val());
    });

    return arr;
}

$form.on('click', '.btn-submit', function(){
    var data = {}, $this = $(this);

    $.each($form.serializeArray(), function(i, e){
        data[e.name] = e.value;
    });

    data.del = delArr;
    data.pets = getIdArr();

    $this.button('loading');

    $.ajax({
        url: './',
        type: 'post',
        dataType: 'json',
        data: data,
        success: function(data){
            if(data.status == 0){
                alert('提交成功！');
                window.location.reload();
            }else{
                alert('提交失败：'+ data.message +'，请重试！');
                $this.button('reset');
            }
        }
    });
});

</script>
{% endblock %}