
    <div class="form-group">
        <label for="pet-color" class="col-sm-2 control-label">宠物主要颜色<span class="warn">*</span>：</label>
        <div class="col-sm-4">
            <select name="color" id="pet-color" class="form-control required">
            	{% for pet_color in pet_colors %}
                <option value="{{ pet_color }}" {% if pet_color == pet_one.color %}selected{% endif %}>{{ pet_color }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="pet-age" class="col-sm-2 control-label">宠物月龄<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <select class="form-control required" id="pet-age" name="age">
          	  {% for pet_age in pet_ages %}
              <option value="{{ pet_age }}" {% if pet_age == pet_one.age %}selected{% endif %}>{{ pet_age }}</option>
              {% endfor %}
          </select>
        </div>
    </div>
    <div class="form-group">
        <label for="pet-type" class="col-sm-2 control-label">宠物品种<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <select class="form-control required" id="pet-type" name="type">
          	  {% for pet_type in pet_types %}
              <option value="{{ pet_type }}" {% if pet_type == pet_one.type %}selected{% endif %}>{{ pet_type }}</option>
              {% endfor %}
          </select>
        </div>
    </div>
    <div class="form-group">
        <label for="pet-short_desc" class="col-sm-2 control-label">一句话介绍，最多20字<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control required number" id="pet-short_desc" name="short_desc" value="{{ pet_one.short_desc }}">
        </div>
    </div>
    <div class="form-group">
        <label for="nest-longdesc" class="col-sm-2 control-label">本窝详细介绍<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control required number" id="nest-longdesc" name="nest-longdesc" value="{{ pet_one.txt_desc }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">本窝图片：</label>
{#    TODO:// fill in size#}
        <div class="col-sm-8 uploadAndCrop" data-size="[750, 500]">
            <div id="js-uploadify"></div>
            <p class="warn">（移动鼠标到图片上可进行删除，请至少保留一张图片！）</p>
            <ul class="preview-img">
            	{% for petimg in petimgs %}
                <li data-id="{{ petimg.id }}">
                    <div class="img-box">
                        <img src="{{ petimg.img_url }}" style="width: 100%;"/>
                    </div>
                    <p class="img-tit">
                        <label>
                            <input type="radio" value="{{ petimg.img_url }}" name="img-main" class="img-main-input"
                                    {% if petimg.img_usefor == 'buy_main' %}checked{% endif %}> 设为主图
                        </label>
                    </p>
                    <div class="img-edit">
                        <i class="glyphicon glyphicon-remove img-del" style="width: 100%;"></i>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        {% for pet in pet_set %}
        <div class="pet col-xs-4">
            <p>宠物{{ forloop.counter }}</p>
            <input type="hidden" value="{{ pet.id }}" class="pet-ids"/>
            <div class="form-group">
                <label for="pet-color{{pet.id}}" class="col-sm-4 control-label">宠物颜色<span class="warn">*</span>：</label>
                <div class="col-sm-8">
                  <select class="form-control required" id="pet-color{{pet.id}}" name="color{{pet.id}}">
                  	  {% for pet_color in pet_colors %}
	                  <option value="{{ pet_color }}" {% if pet_color == pet.color %}selected{% endif %}>{{ pet_color }}</option>
	                  {% endfor %}
                  </select>
                </div>
            </div>
            <div class="form-group">
                <label for="pet-age{{pet.id}}" class="col-sm-4 control-label">疫苗情况<span class="warn">*</span>：</label>
                <div class="col-sm-8">
                  <select class="form-control required number" id="pet-age{{pet.id}}" name="epidemic{{pet.id}}">
                  	  {% for epidemic in epidemics %}
	                  <option value="{{ epidemic }}" {% if epidemic == pet.epidemic_period %}selected{% endif %}>{{ epidemic }}</option>
	                  {% endfor %}
                  </select>
                </div>
            </div>
            <div class="form-group">
                <label for="pet-type{{pet.id}}" class="col-sm-4 control-label">宠物价格<span class="warn">*</span>：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control required" id="pet-type{{pet.id}}" name="price{{pet.id}}" value="{{ pet.price }}">
                </div>
            </div>
            <div class="form-group">
                <label for="pet-sex{{pet.id}}" class="col-sm-4 control-label">宠物性别<span class="warn">*</span>：</label>
                <div class="col-sm-8">
                  <select class="form-control required" id="pet-sex{{pet.id}}" name="sex{{pet.id}}">
                      <option value="公" {% if '公' == pet.sex %}selected{% endif %}>公</option>
                      <option value="母" {% if '母' == pet.sex %}selected{% endif %}>母</option>
                  </select>
                </div>
            </div>
            <div class="form-group">
                <label for="pet-sale{{pet.id}}" class="col-sm-4 control-label">宠物销售情况<span class="warn">*</span>：</label>
                <div class="col-sm-8">
                  <select class="form-control required" id="pet-sale{{pet.id}}" name="sale{{pet.id}}">
                  	  <option value="True" {% if pet.sale_out %}selected{% endif %}>售罄</option>
                      <option value="False" {% if not pet.sale_out %}selected{% endif %}>在售</option>
                  </select>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary form-control btn-submit" data-loading-text="提交中...">确认修改</button>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary form-control" onclick="deletepet();">删除本窝</button>
        </div>
    </div>