{% extends 'petfarm/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}

{% block content %}

    <h1>管理员系统:添加一窝宠物信息</h1>
    <h2>当前操作员：{{ manager.name }}</h2>
    加*为必填项
    <form method="post" action="./">
        {% csrf_token %}
        宠物主要颜色*：<input type="text" name="color"><br>
        宠物月龄*：<input type="text" name="age"><br>
        防疫状态*：<input type="text" name="epidemic"><br>
        宠物品种*：<input type="text" name="type"><br>
        详细描述*：<input type="text" name="desc"><br>
        宠物最低价格*：<input type="text" name="min_prince"><br>
        宠物最高价格*：<input type="text" name="max_prince"><br>
        <input type="submit" value="提交"/>
    </form>

{% endblock %}