{% extends 'petfarm/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}

{% block content %}
		<h1>养殖场数据管理系统</h1>
		<h2>当前操作员：{{ manager.name }}</h2>
		<li><a href="./nestofpet/add/">添加新宠物</a></li>
		<li><a href="./nestofpet/picadd">添加宠物图片</a></li>
		<li><a href="./nestofpet/mod/">修改或者删除宠物信息</a></li>
		<li><a href="./nestofpet/picdel/">删除宠物图片</a></li>
		<li><a href="./petfarm/mod/">修改养殖场信息</a></li>
		<li><a href="./petfarm/picadd/">添加养殖场图片</a></li>
		<li><a href="./petfarm/picdel/">删除养殖场展示图片</a></li>
		<li><a href="./?logout=true">注销登录</a></li>
{% endblock %}