{% extends 'petfarm/tpl/base/base.html' %}
{% load assets %}
{% block title %}内容编辑{% endblock %}

{% block content %}
		<h1>管理员系统:添加宠物图片</h1>
		<h2>当前操作员：{{ manager.name }}</h2>
		<div>
		需要上传图片的宠物：<select id="pet_id">
		{% for pet in farm_pets %}
		<option value="{{ pet.id }}">{{ pet.color }}{{ pet.type }},{{ pet.txt_desc }}</option>
		{% endfor %}
		</select>
		</div>
		<div>
		图片用途：<select id="usefor" onchange="useforChange();">
		{% for use_for in use_fors %}
		<option value="{{ use_for }}">{{ use_for }}</option>
		{% endfor %}
		</select>
		</div>
		<img src="" id="viewimg" style="display: none;" />
<div style="width:1000px;clear: both;min-height: 400px;">
	<div style="height: 130px;">
		<div style="margin-top:10px;clear:right;width:1000px;text-align:left;">
			<span>宠物图片上传</span>
			<span id="uploadimg" style="display: none;">
			<img  border="0"  src="/static/manage/uploadify/ajax-loader-header.gif" style="width: 20px; margin-bottom: -5px;"/><span style="color: #999;">	图像加载中...</span>
		</span>
		</div>
		<form id="UpLoadForm" name="UpLoadForm" method="post" enctype="multipart/form-data" style="margin-top:5px; margin-bottom:5px; clear:right;width:1000px;text-align:left;">
			<input id="photo" name="photo" type="file" value="选择LOGO" />
		</form>
	</div>
	
	<div style="width: 1000px; height: auto;float: left;">
		<div style="width: 805px; height: auto;float: left;border:3px solid #8FADB3; background-color: #fff;">
			<img  border="0" alt="个人头像" id="personhead" style="display: block;max-width: 800px; height: auto;"  src="" />
		</div>
		<div id="preview" style="width: 275px; height: 180px; overflow: hidden;border:2px solid #FFB5A1;">  
			<img  border="0"  id="personheadpre" src="" alt="头像预览"/> 
		</div>
	</div>
	<div><button onclick="submitpreimg();" class="button-modify-head">保存</button></div>
</div>
		<script type="text/javascript" src="/static/manage/jquery-1.4.2.js"></script>
		<script type="text/javascript" src="/static/manage/ajax_post.js"></script>
		<script type="text/javascript" src="/static/manage/jquery.form.js"></script>
		<link rel="stylesheet" href="/static/manage/imgcut/css/imgareaselect-default.css" />
		<script type="text/javascript" src='/static/manage/imgcut/scripts/jquery.imgareaselect.min.js' ></script>
		<script type="text/javascript" src='/static/manage/jquery.uploadify.v2.1.4.min.js' ></script>
		<script type="text/javascript" src='/static/manage/swfobject.js' ></script>
		<script type="text/javascript">
		var selected = 0;
var imgw = 0;
var imgh = 0;
var minimgw = 275;
var minimgh = 180;
var loadedover = true;
var Browser=new Object(); 
Browser.userAgent=window.navigator.userAgent.toLowerCase(); 
Browser.ie=/msie/.test(Browser.userAgent); 
Browser.Moz=/gecko/.test(Browser.userAgent); 

	function useforChange(){
		if ($("#usefor").val() == "narmol"){
			minimgw = 600;
			minimgh = 400;
			$("#preview").css({width:minimgw + "px",height:minimgh + "px"});
			$("#photo").uploadifySettings('scriptData',{'usefor':$("#usefor").val()});
			$('#personhead').imgAreaSelect({imageHeight:imgh,imageWidth:imgw,x1:0,y1:0,x2:minimgw,y2:minimgh,aspectRatio: '1.25:1', handles: true, fadeSpeed: 200, minHeight:minimgh,minWidth:minimgw,onSelectChange: preview });
			prepreview(imgw,imgh);
		}
		else if ($("#usefor").val() == "buy_main"){
			minimgw = 275;
			minimgh = 180;
			$("#preview").css({width:minimgw + "px",height:minimgh + "px"});
			$("#photo").uploadifySettings('scriptData',{'usefor':$("#usefor").val()});
			$('#personhead').imgAreaSelect({imageHeight:imgh,imageWidth:imgw,x1:0,y1:0,x2:minimgw,y2:minimgh,aspectRatio: '1.25:1', handles: true, fadeSpeed: 200, minHeight:minimgh,minWidth:minimgw,onSelectChange: preview });
			prepreview(imgw,imgh);
		}
	}
	
//判断是否加载完成 
function Imagess(url,imgid,callback){    
    var val=url; 
    var img=new Image(); 
    if(Browser.ie){ 
        img.onreadystatechange =function(){  
            if(img.readyState=="complete"||img.readyState=="loaded"){ 
                callback(img,imgid); 
            } 
        }        
    }else if(Browser.Moz){ 
        img.onload=function(){ 
            if(img.complete==true){ 
                callback(img,imgid); 
            } 
        }        
    }

    img.src=val;
} 
	var source = '';
	function prepreview(w,h)
	{
		var scaleX = 1;  
 		var scaleY = 1;  
 		var width = w;
 		var height = h;
 		if(imgw > 800){
 			width = imgw;
 			height = imgh;
 		}
		$('#personheadpre').css({  
		 width: Math.round(scaleX * width),  
		 height: Math.round(scaleY * height),  
		 marginLeft: -Math.round(scaleX * 0),  
		 marginTop: -Math.round(scaleY * 0)  
		 });
		x1 = 0;  
		y1 = 0;  
		x2 = minimgw;
		y2 = minimgh;
	}
	function checkimg(obj,imgid){ 
		document.getElementById(imgid).src=obj.src;
		loadedover = true;
	}
	function preview(img, selection) {  
		if (!loadedover){
			return ;
		}
		if (!selection.width || !selection.height)  
		return false;
		selected += 1;
		var scaleX = minimgw / selection.width;  
 		var scaleY = minimgh / selection.height; 
 		var width = img.width;
 		var height = img.height;
 		if(imgw > 800){
 			width = imgw;
 			height = imgh;
 		}
		$('#personheadpre').css({  
		 width: Math.round(scaleX * width),  
		 height: Math.round(scaleY * height),  
		 marginLeft: -Math.round(scaleX * selection.x1),  
		 marginTop: -Math.round(scaleY * selection.y1)  
		 });
		x1 = selection.x1;  
		y1 = selection.y1;  
		x2 = selection.x2;  
		y2 = selection.y2;
	}
	function fun_uploadify() {
			x1 = 0;  
			y1 = 0;  
			x2 = minimgw;
			y2 = minimgh;
			$("#photo").uploadify({
                'uploader': '/static/manage/uploadify/uploadify.swf',
                'script': '/back_manage/nestofpet/picadd/upload/',
                'scriptData':{'usefor':$("#usefor").val()},
                'cancelImg': '/static/manage/uploadify/cancel.png',
                'fileDesc': '图片文件',
                'buttonText': '选择上传',
                'fileExt': '*.jpg;*.jpeg;*.gif;*.png;*.bmp;',
                'buttonImg': '/static/manage/uploadify/upload.png',
                'sizeLimit': 4194304,
                'multi': false,
                'auto':true,
                onError: function (a, b, c, d) {
                    if (d.status == 404)
                        alert('Could not find upload script.');
                    else if (d.type == "HTTP")
                        alert('error ' + d.type + ": " + d.status);
                    else if (d.type == "File Size") {
                        alert('对不起，只能上传4M以下的图片文件.');
                        return;
                    }
                    else
                        alert('error ' + d.type + ": " + d.text);
                },
                onComplete: function (a, b, c, d, e) {
                	var html = d;
                    if (html == 'size error')
		        	{
		        		alert('请上传宽度大于'+minimgw+'像素，高度大于'+minimgh+'像素的图片');
		        	}
		        	else if (html == 'type error'){
		        		alert('不能识别的图片格式');
		        	}
		        	else{
			            html = html.replace(/<pre.*?>/ig, "");
			            html = html.replace("</pre>", "");
			            html = jQuery.parseJSON(html);
			            var result = html.url;
			            //alert(result); 
			            loadedover = false;
			            //document.getElementById('personhead').src = "/resources/"+result;
			            Imagess(result,"personhead",checkimg);
			            Imagess(result,"personheadpre",checkimg);
			            source = result;
			            selected = 0;
			            imgw = html.width;
			            imgh = html.height;
			            document.getElementById('uploadimg').style.display = 'none';
			            (function(){
			            	if (selected < 10)
			            	{
				            	$('#personhead').imgAreaSelect({imageHeight:imgh,imageWidth:imgw,x1:0,y1:0,x2:minimgw,y2:minimgh,aspectRatio: minimgw + ':' + minimgh, handles: true, fadeSpeed: 200, minHeight:minimgh,minWidth:minimgw,onSelectChange: preview });
				            	prepreview(imgw,imgh);
				            	setTimeout(arguments.callee, 100);
				            	selected = selected + 1;
				            }
					    })();
				    }
                }
            });
		}
	$(document).ready(fun_uploadify());
		
		var x1 = 0;
	var x2 = 0;
	var y1 = 0;
	var y2 = 0;
	
	function submitpreimg()
	{
		var timg = source;
		
		data = {
			'x1':x1,
			'x2':x2,
			'y1':y1,
			'y2':y2,
			'pet_id':$("#pet_id").val(),
			'usefor':$("#usefor").val(),
			'source':timg
		};
		$.post("/back_manage/nestofpet/picadd/preupload/", data, function(recive){
			if(recive == 'true'){
				if(alert('保存头像成功,请等待系统验证通过后启用')){
					window.location.href="/back_manage/petfarm/picadd/";
				}
			}
			else if(recive == 'type error'){
				alert('保存头像失败：错误的图片格式，请上传另外的图片！')
			}
			else{
				alert('保存头像失败');
			}
		});
	}
		</script>
{% endblock %}