{% extends 'petfarm/tpl/base/base.html' %}
{% load assets_petfarm %}

{% block title %}找回密码{% endblock %}

{% block navbar %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ 'lib/uploadify/uploadify.css'|assets_petfarm }}"/>
{% endblock %}

{% block container %}
<style>
    body{
        padding-top: 0;
    }
    h1{
        padding-bottom: 15px;
    }
    .popover{
        max-width: none;
    }
    .form-horizontal{
        width: 500px;
        margin: 0 auto;
    }
</style>
<div class="container">
<h1 class="text-center">找回密码</h1>
<div style="margin-left: -125px;">
	<form class="form-horizontal" method="post">
	{% csrf_token %}
	<div class="form-group">
	    <label class="col-sm-4 control-label">注册邮箱<span class="warn">*</span>：</label>
	    <div class="col-sm-8">
	      <input type="text" class="form-control required email" name="email" autofocus>
	    </div>
	</div>
	<div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" id="js-btn-submit" data-loading-text="提交中..." class="btn btn-primary form-control">发送新密码到注册邮箱</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <a href="/petfarm/" class="btn btn-success form-control">返回登录</a>
        </div>
    </div>
	</form>
</div>
</div>

{% endblock %}

{% block scripts %}
<script>

commonvalidateConfig.errorPlacement = function (error, element) {
        error.insertAfter(element);
};

commonvalidateConfig.onsubmit = false;

var $form = $('form'),
    $submit = $form.find('#js-btn-submit');

var validator = $form.validate(commonvalidateConfig);

$form.on('submit', function(event){
    event.preventDefault();

    validator.form();

    if(!$form.valid()){
        return;
    }

    var data = {};

    $.each($form.serializeArray(), function(i, e){
        data[e.name] = e.value;
    });

    $submit.button('loading');

    $.ajax({
            url: './',
            data: data,
            type:'POST',
            dataType: 'json',
            success: function(data){
                if(data.status == 0){
                    alert('已发送，请注意查收');
                }else{
                    alert(data.message);
                    $submit.button('reset');
                }
            },
            error: function(){
                $submit.button('reset');
            }
        });
});



</script>
{% endblock %}