<div class="modal" id="js-order-modal">
    <header class="bar bar-nav">
        <a class="icon icon-close pull-right" href="#js-order-modal">&times</a>
        <h1 class="title">我要预约看狗</h1>
    </header>
    <div class="content">
        <div class="control-content content-padded active" id="js-order-info">
            <form id="js-order-form">
                <p>请如实填写信息，我们将尽快与您联系：</p>
                <label for="name">您的名字：</label>
                <input type="text" id="name" name="name" value="{% if cuser%}{{ cuser.nickname }}{% endif %}">
                <label for="phone">您的手机：</label>
                <input type="tel" id="phone" name="phone" value="{% if cuser%}{{ cuser.tel }}{% endif %}" maxlength="11"/>
                <label>所在区域：</label>
                <div class="select-wrap">
                    <div class="btn-select" id="js-btn-location">
                        <span class="select-title" id="js-location" data-text="选择城市">选择城市</span>
                        <div class="vertical-center">
                            <span class="icon icon-caret select-icon"></span>
                        </div>
                    </div>
                    {% include 'mobile/tpl/components/location-box.html' %}
                </div>
                <label>看狗时间：</label>
                <div class="select-wrap">
                    <div class="btn-select" id="js-btn-time">
                        <span class="select-title" id="js-time" data-text="选择时间">选择时间</span>
                        <div class="vertical-center">
                            <span class="icon icon-caret select-icon"></span>
                        </div>
                    </div>
                    {% include 'mobile/tpl/components/time-box.html' %}
                </div>
                <label>交通方式：</label>
                <select name="transportation">
                    <option value="drive">自驾</option>
                    <option value="lift" selected>接送</option>
                </select>
            </form>
        </div>
    </div>
</div>