.btn-primary.disabled, .btn-primary[disabled]{
  background-color: #b2b2b2;
  border-color: #b2b2b2;
}

.btn-trans, .btn-trans:hover{
  background-color: transparent;
}

.btn-check{
  border-color: #a4a39a;
  border-radius: 0;
  width: 48%;

  &.active, &:active{
    @include box-shadow(none);

    border-color: $primary-color;
    color: $primary-color;

    .icon-checked{
      display: inline-block;
    }
  }

  .icon-checked{
    position: absolute;
    right: 0px;
    bottom: 0px;

    display: none;
  }
}