.btn-primary.disabled, .btn-primary[disabled]{
  background-color: #b2b2b2;
  border-color: #b2b2b2;
}

.btn-trans, .btn-trans:hover{
  background-color: transparent;
}

.btn-check{
  border-color: #a4a39a;
  border-radius: 0;
  width: 48%;

  &.active, &:active{
    @include box-shadow(none);

    border-color: $primary-color;
    color: $primary-color;

    .icon-checked{
      display: inline-block;
    }
  }

  .icon-checked{
    position: absolute;
    right: 0px;
    bottom: 0px;

    display: none;
  }
}

.btn-select{
  position: relative;
  background: none;
  border-color: #a4a39a;
  text-align: left;

  width: 100%;

  .caret{
    position: absolute;
    right: 12px;
    top: 15px;
  }

  .select-title{
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    max-width: 90%;
    overflow: hidden;
  }
}
