.cwg-search-wrap{
  padding-top: 20px;
  padding-bottom: 15px;

  .form-control{
    border-color: #ffdd37;
    border-right-color: #dba903;
  }

  .btn-search{
    background-color: #dba903;
    border-color: #dba903;
  }

  .icon-search{
    color: #fff;
  }
}
