.navbar{
  border: 0;
  margin-bottom: 0;
}

.navbar-header{
  float: left;
}

.navbar-nav{
  float: left;

  li{
    float: left;
  }
}

.cwg-navbar{
  min-height: $home-nav-height;

  .logo-simple{
    display: none;
  }

  .nav a{
    font-size: 16px;
    color: $home-nav-color;
    line-height: 1;
    padding-top: $home-nav-padding;
    padding-bottom: $home-nav-padding;

    &:hover, &:focus{
      background-color: darken(#fff, 4%);
    }
  }

  .active a{
    color: $home-nav-highlight-color;
    background-color: $primary-bg-color;

    &:hover, &:focus{
      background-color: $primary-bg-color;
    }
  }

  .navbar-toggle .icon-bar{
    background: $home-nav-highlight-color;
  }

  .cwg-social{
    margin-top: 5px;
    
    .icon{
      display: block;

      width: 30px;
      height: 30px;

      background-color: $primary-bg-color;
      color: #fff;

      border-radius: 50%;
      border: 0;

      font-size: 20px;
      line-height: 30px;
      text-align: center;
    }

    li{
      padding: 0 0 0 6px;
    }

    a{
      display: inline-block;
    }
  }

  .cwg-tel{
    display: none;
  }
}

.cwg-navbar-sub{
  background: $primary-bg-color;
  @include box-shadow(0 1px 2px rgba(127, 127, 127, .3));

  .nav a{
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;

    &:hover, &:focus{
      background-color: darken($primary-bg-color, 2%);
    }
  }

   .active a{
    color: $home-nav-color;
    background-color: #fff;

    &:hover, &:focus{
      background-color: #fff;
    }
  }

  .logo-simple{
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
  }

  .cwg-tel{
    display: block;
    line-height: 20px;
    padding-top: 15px;
  }

  .cwg-tel-main{
    font-size: 16px;
    color: #fff;

    span{
      font-weight: bold;
    }
  }

  .cwg-social{
    display: none;
  }
}
