.outline{

  &:hover{
    .outline-title, .outline-content, .outline-more{
      color: $primary-bg-color;
    }
  }

  .outline-title{
    font-size: 16px;
    font-weight: bold;
    color: #5e5e5e;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
  }

  .title-limit{
    display: block;
    max-width: 80%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .outline-date{
    position: absolute;
    right: 0;
    font-size: 14px;
    font-weight: normal;
    top: 0;
  }

  .outline-content{
    font-size: 12px;
    line-height: 18px;
    height: 54px;
    overflow: hidden;
    color: #5e5e5e;
    margin-bottom: 15px;
    cursor: pointer;

    p{
      margin-bottom: 0;
    }
  }

  padding-bottom: 15px;

  .outline-more{
    position: absolute;
    font-size: 12px;
    color: #FF4136;
    right: 15px;
    bottom: 5px;
    cursor: pointer;
  }
}