.tag{
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 11;

  //@include sprite-image($sprite-tag);
  //@include sprite($sprite-tag);

  color: #fff;
  background-color: $primary-color;
  text-align: center;

  padding: 5px 15px;
}