.tips{
  position: relative;

  padding-left: 32px;

  .tips-icon{
    position: absolute;
    top: 0;
    left: 0;

    color: #ff0000;
    font-size: 16px;
  }

  .tips-content{
    margin-bottom: 0;
  }
}

.tips-xs{
  .tips-icon{
    position: static;
  }
}