.buy{
  .row-filter{
    margin-top: 15px;
  }

  .buy-title{
    height: 42px;
    overflow: hidden;
  }

  .select-page{
    width: auto;
  }

  .btn-filter{
    .icon{
      font-size: 15px;
    }
  }
}