.header{
  background-color: $primary-bg-color;
  border-bottom-color: $primary-bg-color;

  .title{
    color: #fff;
    font-weight: bold;
  }
}

//body{
//  max-width: 640px;
//  margin: 0 auto;
//}

.content-common{
  padding-bottom: 51px;
}

.select-fixed{
  height: 35px;
}

.price{
  color: $primary-color;
}

a{
  color: #428bca;
}

.bar{
  .icon-close{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
  }
}

.bar-tab .tab-item {
  &.active,
  &:active {
    color: $primary-bg-color;
  }
}

.middle-space{
  padding-left: 2em;
}