.detail{
  .pet-tip{
    margin-bottom: 0;
    padding-left: 5px;

    span{
      padding-left: 3px;
    }
  }

  .pet-showcase-item{
    .pet-showcase-title{
      color: #000;
    }

    .price{
      padding-left: 15px;
      color: $primary-color;
      font-weight: bold;
    }
  }

  .detail-title{
    line-height: 1.5;
    margin-bottom: 0;
  }

  .pet-showcase{
    .media-object{
      width: 75px;
    }

    .btn{
      border-color: $primary-color;
      color: $primary-color;
    }
  }

  .detail-segmented{
    margin-top: 30px;
  }
}
