.guide{
  $color: #310b0e;
  background-color: $primary-bg-color;
  color: $color;

  img{
    width: 60%;
    max-width: 100%;
  }

  .guide-title{
    font-size: 17px;
    line-height: 44px;
    font-weight: 500;
  }

  .vertical-center{
    height: 100%;
    text-align: center;

    &:before{
      height: 100%;
      content: ' ';
      display: inline-block;
      vertical-align: middle;
    }

    .vertical-content{
      display: inline-block;
      vertical-align: middle;
      padding-bottom: 60px;
    }
  }
}