.knowledge-bringup{
  .desc-tit{
    font-size: 18px;
  }

  li{
    color: #777;
    font-size: 14px;
  }

  .outline-content{
    height: 63px;
    overflow: hidden;
    margin-bottom: 5px;

    p{
      margin-bottom: 0;
    }
  }

  p{
    margin-bottom: 5px;
  }

  h2{
    line-height: 1.5;
  }
}