.supplies{
  .supplies-title{
    font-size: 16px;
    height: 42px;
    overflow: hidden;
    color: #000;
  }

  .supplies-price{
    font-size: 16px;
    color: $primary-color;
  }

  .table-view-cell{
    padding-right: 15px;

    > a:not(.btn) {
      margin-right: -15px;
    }
  }
}