<div class="col-11 col-offset-1 agreement">
    <div class="agreement-content">
        <h3 class="text-center">宠物购用户协议</h3>
        <p>
            本协议为您与宠物购平台（即宠物购网，域名为chongwug.com）管理者之间所订立的契约，具有合同的法律效力，请您仔细阅读。
            您在提交订单页面点击“同意以下协议”按钮后，即视为您已阅读、理解并同意本协议的全部内容，本协议即在您与宠物购平台之间产生法律效力，成为对双方均具有约束力的法律文件。
        </p>
        <h4>一、 本协议内容、生效、变更</h4>
        <p>
            1．本协议内容包括协议正文及所有宠物购已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。除另行明确声明外，任何宠物购及其关联公司提供的服务（以下称为宠物购平台服务）均受本协议约束。
        </p>
        <p>
            2．本协议中，“用户”、“会员”为买方、卖方的统称。
        </p>
        <p>
            3．您应当在使用宠物购平台服务之前认真阅读全部协议内容。如您对协议有任何疑问，应向宠物购咨询。您在同意所有协议条款并完成预约看犬、填写提交订单程序，即视为本站的正式用户，您点击“我已经阅读并同意遵守《宠物购用户服务协议》”按钮后，本协议即生效，对双方产生约束力。
        </p>
        <p>
            4．只要您使用宠物购平台服务，则本协议即对您产生约束，届时您不应以未阅读本协议的内容或者未获得宠物购对您问询的解答等理由，主张本协议无效，或要求撤销本协议。
        </p>
        <p>
            5．您确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。
        </p>
        <p>
            6．您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止填写提交订单程序或停止使用宠物购平台服务。
        </p>
        <p>
            7．宠物购有权根据需要不定期地制订、修改本协议及/或各类规则，并在宠物购平台公示，不再另行单独通知用户。变更后的协议和规则一经在网站公布，立即生效。如您不同意相关变更，应当立即停止使用宠物购平台服务。您继续使用宠物购平台服务的，即表明您接受修订后的协议和规则
        </p>
        <h4>二、预约看狗/提交订单</h4>
        <p>
            1．预约资格 <br>
            用户须具有法定的相应权利能力和行为能力的自然人、法人或其他组织，能够独立承担法律责任。您完成提交订单程序或其他宠物购平台同意的方式实际使用本平台服务时，即视为您确认自己具备主体资格，能够独立承担法律责任。若因您不具备主体资格，而导致的一切后果，由您及您的监护人自行承担。
        </p>
        <p>
            2．用户资料 <br>
            用户应自行诚信向本站提供订单所需资料，用户同意其提供的订单资料真实、准确、完整、合法有效，用户订单资料如有变动的，应及时与宠物购平台工作人员联系。如果用户提供的订单资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且宠物购保留终止用户使用本平台各项服务的权利。
        </p>
        <p>
            3．支付预约款/交通费 <br>
            您支付的预约金/交通费是用于您购犬过程中宠物购平台接送用户产生的交通费用，如果购犬成功，此预约金/交通费将全额退还给用户，如未购犬成功，此预约金/交通费将不退还给用户/会员。如在预约看犬过程中发生交通意外及事故，责任将由交通工具拥有者或提供者承担。
        </p>
        <p>
            4．提交订单 <br>
            您提交订单后即成为宠物购平台的用户，应当履行宠物购平台的用户协议，您还将持有本站唯一编号的用户名和密码等账户信息，您可以根据本站规定修改初始密码。
        </p>
        <p>
            5．用户信息的合理使用 <br>
            5.1 您同意，宠物购平台拥有通过邮件、短信、电话等形式，向在本站提交订单、注册、购物用户、收货人、预约用户发送订单信息、促销活动等告知信息的权利。 <br>
            5.2 您了解并同意宠物购有权应国家司法、行政等主管部门的要求，向其提供您在宠物购平台填写的订单信息、注册信息和交易记录等必要信息。如您涉嫌侵犯他人知识产权，则宠物购亦有权在初步判断涉嫌侵权行为存在的情况下，向权利人提供您必要的身份信息。<br>
            5.3 用户同意，宠物购有权使用用户的订单信息、用户名、密码等信息，登陆进入用户的个人宠物购账户，进行证据保全，包括但不限于公证、见证等。
        </p>
        <h4>三、宠物购平台服务</h4>
        <p>1．通过宠物购平台，用户可以浏览商家（养殖场）发布的狗狗信息，并进行预约看犬。</p>
        <p>2．用户可以在宠物购平台浏览宠物用品并进行购买。</p>
        <p>3．用户可以浏览宠物购平台“购犬需知”和“养犬必知”等相关文章及信息。</p>
        <p>4．宠物购平台将在用户预约看犬过程中提供用户的接送等交通服务。</p>
        <p>5．宠物购平台提供用户咨询服务</p>
        <h4>四、订单</h4>
        <p>
            1.在本网站平台购物/下单的用户，请您仔细确认所购/预约商品的名称、价格、数量、商品信息等信息。因店铺商家发布和展示的商品和价格等信息仅仅是要约邀请，您下单时须完整填写您希望购买的商品数量、价款及支付方式、联系方式、预约时间、地址等内容。如果您提供的填单资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且宠物购保留终止用户使用宠物购平台各项服务的权利。
        </p>
        <p>
            2.系统生成的订单信息是计算机信息系统根据您填写的内容自动生成的数据，仅是您向店铺商家发出的合同要约；店铺商家收到您的订单信息后，将订单中的商品进行确认是否有货，确认完毕，方视为您与店铺商家之间就实际预约的商品建立了合同关系。
        </p>
        <p>
            3.您了解并同意，本平台上的商品、价格、数量、是否有货等商品信息随时可能发生变动，本站不作特别通知。由于互联网技术原因导致网页显示信息可能会有一定的滞后性或差错，对此在合同未成立前，您接受本平台在发现网页错误，正式向您发出通知后，对商品信息进行调整，订单按照正确的信息执行，或取消订单。
        </p>
        <p>
            4.您了解并同意，如您购买商品，发生缺货，您有权取消订单；本平台无法保证您提交的订单信息中希望购买/预约的商品都会有货。
        </p>
        <p>
            5.宠物购保留在中华人民共和国大陆地区法施行之法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。
        </p>
        <h4>五、责任范围和责任限制</h4>
        <p>
            1.本平台作为您进行了解、咨询、协商、交易的场所，提示您：应谨慎判断确定相关物品及/或信息的真实性、合法性和有效性。除非另有明确的书面说明，本平台不对各商家在本平台上发布的信息、内容、材料、产品和服务及各方在交易中各项义务的履行能力作任何形式的担保，法律法规另有规定的除外。
        </p>
        <p>
            2.宠物购在接到您投诉、主管机关通知或按照法律法规规定，有合理的理由认为特定会员及具体交易事项可能存在重大违法或违约情形时,宠物购可依约定或依法采取相应措施。
        </p>
        <p>
            3.您了解并同意，宠物购不对因下述任一情况而导致您的任何损害承担赔偿责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿： <br>
            3.1 第三方未经批准的使用您的账户或更改您的数据 <br>
            3.2 您对宠物购平台服务的误解。 <br>
            3.3 任何非因宠物购的原因而引起的与宠物购平台服务有关的其它损失。
        </p>
        <h4>六、法律适用、管辖与其他</h4>
        <p>
            1.本协议包含了您使用宠物购平台需遵守的一般性规范，您在使用某个宠物购平台时还需遵守适用于该平台的特殊性规范。一般性规范如与特殊性规范不一致或有冲突，则特殊性规范具有优先效力。
        </p>
        <p>
            2.本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。 如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。
        </p>
        <p>
            3.因本协议履行过程中，因您使用宠物购网服务产生争议应由宠物购与您沟通并协商处理。协商不成时，双方均同意以宠物购平台管理者住所地人民法院为管辖法院。
        </p>
    </div>
</div>