<div class="select-box" id="js-location-box">
    <input name="location" type="hidden" id="js-location-input"/>
    <ul class="tab clearfix">
      <li class="active"><a href="#province" id="js-to-province" role="tab" data-toggle="tab">省份</a></li>
      <li><a href="#city" id="js-to-city" role="tab" data-toggle="tab">城市</a></li>
      <li><a href="#county" id="js-to-county" role="tab" data-toggle="tab">县区</a></li>
      <li><a href="#street" id="js-to-street" role="tab" data-toggle="tab">街道</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active province-select" id="province">
          <dl class="clearfix">
              <dt>L-S</dt>
              <dd>
                  <a href="javascript:">四川</a>
              </dd>
          </dl>
      </div>
      <div class="tab-pane" id="city"></div>
      <div class="tab-pane" id="county"></div>
      <div class="tab-pane" id="street"></div>
    </div>
</div>