<div class="select-box" id="js-time-box">
    <input name="time" type="hidden" id="js-time-input"/>
    <table class="table table-bordered table-center">
        <colgroup>
            <col width="100px"/>
            <col width="50px"/>
            <col width="50px"/>
            <col width="50px"/>
            <col width="50px"/>
            <col width="50px"/>
            <col width="50px"/>
            <col width="50px"/>
        </colgroup>
        <thead>
            <tr>
                <th>时间段</th>
                <th>10-13 <br/> 今天</th>
                <th>10-13 <br/> 今天</th>
                <th>10-13 <br/> 今天</th>
                <th>10-13 <br/> 今天</th>
                <th>10-13 <br/> 今天</th>
                <th>10-13 <br/> 今天</th>
                <th>10-13 <br/> 今天</th>
                <th>10-13 <br/> 今天</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>9:00-15:00</th>
                <td data-date="10-13" data-day="今天">可选</td>
                <td data-date="10-13" data-day="今天">可选</td>
                <td data-date="10-13" data-day="今天">可选</td>
                <td data-date="10-13" data-day="今天">可选</td>
                <td data-date="10-13" data-day="今天">可选</td>
                <td data-date="10-13" data-day="今天">可选</td>
                <td data-date="10-13" data-day="今天">可选</td>
                <td data-date="10-13" data-day="今天">可选</td>
            </tr>
            <tr>
                <th>9:00-15:00</th>
                <td data-date="10-13" data-day="今天">可选</td>
                <td data-date="10-13" data-day="今天">可选</td>
                <td data-date="10-13" data-day="今天">可选</td>
                <td data-date="10-13" data-day="今天">可选</td>
                <td data-date="10-13" data-day="今天">可选</td>
                <td data-date="10-13" data-day="今天">可选</td>
                <td data-date="10-13" data-day="今天">可选</td>
                <td data-date="10-13" data-day="今天">可选</td>
            </tr>
        </tbody>
    </table>
</div>