<div class="select-box" id="js-time-box">
    <input name="time" type="hidden" id="js-time-input"/>
    <table class="table table-bordered table-center">
        <colgroup>
            <col width="100px"/>
            <col width="50px"/>
            <col width="50px"/>
            <col width="50px"/>
            <col width="50px"/>
            <col width="50px"/>
            <col width="50px"/>
            <col width="50px"/>
        </colgroup>
        <thead>
            <tr>
                <th>时间</th>
                {% for appointday in appointdays %}
                <th data-year="{{ appointday.year }}">{{ appointday.mouth }}-{{ appointday.day }} <br/> {{ appointday.week }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{ appointtime.time1 }}</th>
                {% for appointday in appointdays %}
                {% if appointday.selectable.time1 %}
                <td data-date="{{ appointday.mouth }}-{{ appointday.day }}" data-day="{{ appointday.week }}">可选</td>
                {% else %}
                <td class="disabled">&nbsp;</td>
                {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th>{{ appointtime.time2 }}</th>
                {% for appointday in appointdays %}
                {% if appointday.selectable.time1 %}
                <td data-date="{{ appointday.mouth }}-{{ appointday.day }}" data-day="{{ appointday.week }}">可选</td>
                {% else %}
                <td class="disabled">&nbsp;</td>
                {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>