{% extends 'tpl/base/base.html' %}
{% load assets %}

{% block title %}500-页面错误|宠物购 只为给你一只健康可爱的狗狗{% endblock %}

{% block content %}

<div class="container container-error text-center">
    <div class="error-content">
        <img src="{{ 'imgs/500.png'|assets }}" class="img-responsive img-error"/>
        <div class="clearfix error-wrap">
            <div class="pull-left error-text">
                <p class="text-uppercase">error</p>
                <p>出错啦！您输入的网址无效。</p>
            </div>
            <div class="pull-left">
                <a class="btn btn-info btn-trans btn-error" href="/home">返回首页 <i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}