<input name="appointtime" type="hidden" id="js-time-input" class="required"/>
<div class="select-box" id="js-time-box" tabindex="0">
    <table class="table table-bordered table-center">
        <colgroup>
            <col width="100px"/>
            <col width="50px"/>
            <col width="50px"/>
            <col width="50px"/>
            <col width="50px"/>
            <col width="50px"/>
            <col width="50px"/>
            <col width="50px"/>
        </colgroup>
        <thead>
            <tr>
                <th>时间</th>
                <th data-year="2014">10-20 <br/> 周一</th>
                <th data-year="2014">10-23 <br/> 周四</th>
                <th data-year="2014">10-26 <br/> 周日</th>
                <th data-year="2014">10-29 <br/> 周三</th>
                <th data-year="2014">11-1 <br/> 周六</th>
                <th data-year="2014">11-4 <br/> 周二</th>
                <th data-year="2014">11-7 <br/> 周五</th>
                <th data-year="2014">11-10 <br/> 周一</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>9:30</th>
                <td data-date="10-20" data-day="周一">可选</td>
                <td data-date="10-23" data-day="周四">可选</td>
                <td class="disabled">&nbsp;</td>
                <td data-date="10-29" data-day="周三">可选</td>
                <td class="disabled">&nbsp;</td>
                <td data-date="11-4" data-day="周二">可选</td>
                <td data-date="11-7" data-day="周五">可选</td>
                <td data-date="11-10" data-day="周一">可选</td>
            </tr>
            <tr>
                <th>15:00</th>
                <td data-date="10-20" data-day="周一">可选</td>
                <td data-date="10-23" data-day="周四">可选</td>
                <td class="disabled">&nbsp;</td>
                <td data-date="10-29" data-day="周三">可选</td>
                <td class="disabled">&nbsp;</td>
                <td data-date="11-4" data-day="周二">可选</td>
                <td data-date="11-7" data-day="周五">可选</td>
                <td data-date="11-10" data-day="周一">可选</td>
            </tr>
        </tbody>
    </table>
</div>