{% load assets_market %}
<!DOCTYPE html>
<html>
<head lang="zh-CN">
    {% include 'petfarm/tpl/base/meta.html' %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ 'lib/bootstrap/bootstrap.css'|assets_market }}"/>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{{ 'css/main.css'|assets_market }}"/>
    <!--[if lt IE 9]>
    <script src="{{ 'lib/respond.js'|assets_market }}"></script>
    <![endif]-->
</head>
<body>

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href="/market/"><span>宠物购</span>市场管理系统</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">当前操作员：{{ manager.name }}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/market/?logout=true">注销</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block container %}
<div class="container-fluid">
    <div class="row">
        {% block sidebar %}
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {% if manager.permission_score < 20 %}
				{% else %}
				<li><a href="/market/attention/">预约订单</a></li>
                <li><a href="/market/processed/">已受理订单</a></li>
                <li><a href="/market/untreated/">未受理订单</a></li>
                <li><a href="/market/fail/">预约失败订单</a></li>
				<li><a href="/market/nestofpet/">宠物数据信息</a></li>
				{% endif %}
            </ul>
        </div>
        {% endblock %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% block main %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}


<script src="{{ 'lib/jquery.js'|assets_market }}"></script>
<script src="{{ 'lib/bootstrap/bootstrap.js'|assets_market }}"></script>
<script src="{{ 'lib/validate/jquery.validate.js'|assets_market }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>