@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "components/iconfont";

body{
  font-family: 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei', \5FAE\8F6F\96C5\9ED1,\5B8B\4F53;
}

.guide-on{
  overflow: hidden;
}

.cwg-guide{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #ffd401;

  .cwg-guide-main{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -205px;
    margin-left: -450px;
    width: 900px;
    height: 410px;

    background: url(../imgs/guide.png) no-repeat;
  }

  .steps{
    background: url(../imgs/steps.png) no-repeat;
    position: absolute;
    display: none;
  }
  .step1{
    background-position: 0 0;
    width: 90px;
    height: 96px;
    top: 0;
    left: 130px;
  }
  .step2{
    background-position: -90px 0;
    width: 90px;
    height: 97px;
    top: 125px;
    left: 425px;
  }
  .step3, .step4{
    background-position: -180px 0;
    width: 113px;
    height: 95px;
    bottom: 40px;
    left: 30px;
  }
  .step4{
    background-position: -293px 0;
    left: 652px;
    bottom: 35px;
  }
}


.cwg-social {
  list-style: none;
  margin-bottom: 0;

  .navbar &{
    padding-top: 3px;
  }

  li{
    float: left;

    .footer &{
      padding: 0 25px;
    }
  }
  a{
    display: block;
    color: #fff;
    background-color: #ffd401;
    border-radius: 50%;
    text-align: center;

    .navbar &{
      width: 24px;
      height: 24px;
      line-height: 24px;
      margin-right: 6px;
    }

    .footer &{
      width: 60px;
      height: 60px;
      line-height: 60px;
      i{
          font-size: 40px;
      }
    }

    &:hover{
      text-decoration: none;
    }
  }
}

.cwg-navbar{
  background: #fff;
  border: 0;
  margin-bottom: 0;
  min-height: 30px;

  .navbar-toggle .icon-bar{
    background: #FFD401;
  }

  .navbar-nav a{
    color: #DDB93A;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .active a{
    color: #8F7004;
    background: #FFD401;
  }

  .navbar-brand{
    @media (min-width: $screen-sm-min) {
      display: none;
    }
  }
}

/*head*/

.cwg-search-wrap, .dog-search-wrap{
  .input-group-addon{
    background-color: #dba903;
    border: 0;
    border-radius: 0;
    cursor: pointer;
  }
  .form-control{
    border: 0;
    border-radius: 0;
  }
  .glyphicon-search{
    color: #fff;
  }
}

.header-top{
  background: #ffd401;

  .cwg-btn-wrap{
    .btn-default{
      background-color: transparent;
      border: 0;
    }
  }

  .cwg-login{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .cwg-tel{
    color: #49250c;
    padding-top: 10px;
  }
  .cwg-tel-main{
    font-size: 16px;
    margin-bottom: 0;

    .glyphicon{
      margin-right: 5px;
    }

    .glyphicon, span{
      vertical-align: middle;
    }
  }

  .cwg-tel-detail{
    padding-left: 10px;
    font-size: 12px;
  }
}

/*head --end*/

.footer{
  .nav-pills .active a{
    background: none;
  }

  .cwg-weibo{
    background-color: #ec5342;
  }
  .cwg-weixin{
    background-color: #05B410;
  }
  .cwg-youjian{
    background-color: #56ACEE;
  }

  .footer-top{
    background: #ffd401;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .cwg-flow-chart{
    width: 395px;
    height: 98px;
    background: url(../imgs/flow-chart.png);
  }

  .footer-bottom{
    background: #dba903;
    color: #fff;
  }

  .copyright{
    padding-top: 10px;
    margin-bottom: 0;
  }
}


/*carousel*/
.cwg-carousel{
  padding-bottom: 70px;
  margin-left: -15px;
  margin-right: -15px;

  .cwg-lace{
    position: absolute;
    bottom: 70px;

    height: 4px;
    width: 100%;
    background: url(../imgs/lace.png) 9px 100% repeat-x;
  }
  .carousel-indicators{
    bottom: 20px;
    li{
      border-color: #4c4c4c;
    }
    .active{
      background-color: #4c4c4c;
    }
  }
}


/*carousel --end*/

/*area*/

.col-md-2_4 {
  @include make-md-column(2.4);
}

.col-sm-2_4 {
  @include make-sm-column(2.4);
}

.cwg-area-row{
  padding-bottom: 100px;
}

.cwg-area{
  div{
    position: relative;

    p{
      position: absolute;
      right: 5px;
      bottom: 5px;
      margin-bottom: 0;
      color: #fff;
      font-weight: bold;
      line-height: 1;
    }

    .floor-price{
      font-size: 30px;
    }
  }
}

/*area --end*/




/*test*/
.item{
  height: 500px;
  background: #eee;
}


/*--------------------buy-------------------------*/



.buy-container{
  background-color: #e5e5e5;
  padding: 20px 0;
}

.dog-search-wrap{
  padding-top: 30px;
  padding-bottom: 30px;

  .form-control{
    border: 1px solid #ffdd37;
    border-right: 0;
  }
}


.dog-select-title{
  padding-right: 0;
}

.dog-select-row{
  color: #414141;
  padding-bottom: 20px;

  .nav-pills{
    a{
      padding: 1px 6px;
      color: #414141;
    }
    li{
      margin-right: 8px;
      margin-bottom: 5px;
    }
    .active a{
      background-color: #ffd401;
    }
  }
  .dog-selected{
    a{
      color: #e4bd3f;
      border: 1px solid #e4bd3f;
    }
  }
}
.dog-separate{
  border-top: 1px solid #e5e5e5;
  padding-bottom: 40px;
}

.buy-inner{
  width: 860px;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;

  .row, .dog-list{
    margin-left: -10px;
    margin-right: -10px;
  }
  .dog-list{

  }
  .col-md-4{
    padding-left: 10px;
    padding-right: 10px;
  }
  .dog-img{
    width: 100%;
  }

  .dog-desc{
    padding: 15px;

    h4{
      line-height: 22px;
      font-size: 16px;
      height: 42px;
      overflow: hidden;
      margin-top: 0;

      a{
        color: #333;
        font-weight: bold;
      }
    }

    .dog-addr{
      color: #828282;
      font-size: 14px;
    }

    .glyphicon-map-marker{
      color: #ff3500;
      margin-right: 5px;
    }

    .dog-price{
      color: #ff3500;
      font-size: 22px;
      font-weight: bold;
    }
    .dog-unit{
      font-size: 14px;
      font-weight: normal;
    }
    .btn-dog{
      color: #fff;
      background-color: #ff3500;
      border: 0;
    }
  }
}
