{% extends 'manager/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}
{% load assets_manager %}
{% block main %}
<style>
    .supplies-title{
        height: 40px;
        overflow: hidden;
    }
    .supplies-img{
        width: 100%;
    }
    .supplies-item{
        border: 1px solid #ccc;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>
<h1 class="page-header">新用户列表</h1>

<div class="panel-group" id="accordion">
{% for user in users %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
            {{ user.nickname }} - {{ user.tel }} - {{ user.email }}
        </a>
      </h4>
    </div>
    <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
      <div class="panel-body">
        <a class="btn btn-primary" href="?verify=1&id={{ user.id }}">通过</a>
        <a class="btn btn-default" href="?verify=2&id={{ user.id }}">不通过</a>
        {{ user.photo }}
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}