{% extends 'manager/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}

{% block main %}

<h1 class="page-header">删除广告</h1>

			<form method="post" action="./" id="js-form">
				{% csrf_token %}
				<div>
				广告类型：	<select id="adtype" name="adtype" onchange="adtypeselected();">
						{% for ad_type in adinfo.ad_types %}
						<option value="{{ ad_type.value }}">{{ ad_type.text }}</option>
						{% endfor %}
						</select>
				</div>
				广告信息：
				<div id="adinfo">
					{% for ad in adinfo.ads %}
					<p><input type="checkbox" name="ads" value="{{ ad.id }}"><img src="{{ ad.img_url }}" style="width:900px;"/></input></p>
					{% endfor %} 
				</div>
				<button type="submit" id="js-submit" data-loading-text="正在删除..." class="btn btn-primary">删除</button>
			</form>
		</div>
{% endblock %}
{% block scripts %}
<script>
    function adtypeselected(){
        data = {'adtype':$("#adtype").val()};
        $.get("./adtypeselect/", data, function(recive){
            if(recive != 'False'){
                $("#adinfo").empty();
                $("#adinfo").append(recive);
            }
            else{
                alert('数据异常');
            }
        });
    }
    var $form = $('#js-form'),
        $btn = $form.find('#js-submit');
    $form.on('submit', function(){
        $btn.button('loading');
    });
</script>
{% endblock %}