{% extends 'manager/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}
{% load assets_manager %}

{% block css %}
<link rel="stylesheet" href="{{ 'lib/jstree/style.css'|assets_manager }}"/>
{% endblock %}

{% block main %}
<h1 class="page-header">地址编辑</h1>

<div id="address-tree"></div>

{% endblock %}

{% block scripts %}
<script src="{{ 'lib/jstree/jstree.js'|assets_manager }}"></script>
<script>
(function(){


var $tree = $('#address-tree').jstree({
    'core': {
        'data': {
            'url': './',
            'dataType': 'json',
            'data': function(node){
                var original = node.original,
                    data = {};

                if(original){
                    data = paramMap(original, node.parents);
                }else{
                    data.ranges = 'ranges';
                }

                return data;
            }
        }
    }
}).jstree(true);


function paramMap(orignal, parents){
    var data = {},
        len = parents.length - 1,
        type = orignal.type;

    data[type] = orignal.index;

    for(var i = 0; i < len; i++){
        var node = $tree.get_node(parents[i]).original;
        data[node.type] = node.index;
    }

    switch (type){
        case 'range':
            data.provinces = 'provinces';
            break;
        case 'province':
            data.citys = 'citys';
            break;
        case 'city':
            data.disticts = 'disticts';
            break;
        case 'distict':
            data.streets = 'streets';
            break;
    }

    return data;
}

})();
</script>
{% endblock %}