{% extends 'manager/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}
{% load assets_manager %}
{% block main %}

<h1 class="page-header">新增养殖场</h1>
<p>加*为必填项</p>
	<form method="post" action="./" class="form-horizontal">
	{% csrf_token %}
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">养殖场名字<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="pet-color" name="name">
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">联系电话<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="pet-color" name="tel">
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">邮箱地址<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="pet-color" name="email">
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">养殖场预置密码<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="pet-color" name="pwd">
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">身份证号码<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="pet-color" name="idnum">
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">省会（默认四川）：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="pet-color" name="province">
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">城市（默认成都）：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="pet-color" name="city">
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">片区（eg。高新）<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="pet-color" name="district">
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">所处方位<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	    	{% for direct in directs %}
		    <input type="radio" name="direct" value="{{ direct }}"> 城{{ direct }} </input> 
		    {% endfor %}
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">详细地址<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="pet-color" name="dest">
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">宠物最低价格<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="pet-color" name="min_prince">
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">评分（高分会获得系统展示,默认1.0）<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="pet-color" name="manage_score">
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-desc" class="col-sm-2 control-label">养殖场介绍<span class="warn">*</span>：</label>
	    <div class="col-sm-10">
          <textarea class="form-control required" rows="3" id="pet-desc" name="desc"></textarea>
        </div>
	</div>
	<div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <button type="submit" class="btn btn-primary form-control">提交</button>
        </div>
    </div>
	</form>

{% endblock %}

{% block scripts %}

{% load assets_petfarm %}
<script src="{{ 'lib/ckeditor/ckeditor.js'|assets_manager }}"></script>
<script>

CKEDITOR.replace('pet-desc');

$('form').validate(commonvalidateConfig);

</script>
{% endblock %}