{% extends 'manager/tpl/base/base.html' %}
{% block title %}内容编辑{% endblock %}
{% load assets_manager %}
{% block css %}
<link rel="stylesheet" href="{{ 'lib/imgcut/css/imgareaselect.css'|assets_manager }}"/>
<link rel="stylesheet" href="{{ 'lib/bootstrap/bootstrap-datetimepicker.css'|assets_manager }}"/>
{% endblock %}

{% block main %}
<h1 class="page-header">添加广告</h1>
<div class="form-horizontal">
	{% csrf_token %}
    <div class="form-group">
        <label for="pet_id" class="col-sm-2 control-label">广告类型：</label>
        <div class="col-sm-4">
            <select id="type_id"  class="form-control">
				{% for ad_type in ad_types %}
				<option value="{{ ad_type.value }}">{{ ad_type.text }}</option>
				{% endfor %}
			</select>
        </div>
    </div>
    <div class="form-group">
        <label for="pet-color" class="col-sm-2 control-label">广告点击后跳转地址<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control required" id="tar_url" name="tar_url">
        </div>
    </div>
    <div class="form-group">
        <label for="pet-color" class="col-sm-2 control-label">广告价格<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control required" id="prince" name="prince">
        </div>
    </div>
    <div class="form-group">
        <label for="pet-color" class="col-sm-2 control-label">开始展示的时间<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control required" id="start_time" name="start_time" data-date-format="YYYY-MM-DD hh:mm:ss">
        </div>
    </div>
    <div class="form-group">
        <label for="pet-color" class="col-sm-2 control-label">结束展示的时间<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <input type="text" class="form-control required" id="end_time" name="end_time" data-date-format="YYYY-MM-DD hh:mm:ss">
        </div>
    </div>
</div>
<img src="" id="viewimg" style="display: none;" />
<div style="width:1000px;clear: both;min-height: 400px;">
	<div style="height: 130px;">
		<div style="margin-top:10px;clear:right;width:1000px;text-align:left;">
			<span>广告图片上传</span>
			<span id="uploadimg" style="display: none;">
			<img  border="0"  src="{{ 'vendor/uploadify/ajax-loader-header.gif'|assets_manager }}" style="width: 20px; margin-bottom: -5px;"/><span style="color: #999;">	图像加载中...</span>
		</span>
		</div>
		<form id="UpLoadForm" name="UpLoadForm" method="post" enctype="multipart/form-data" style="margin-top:5px; margin-bottom:5px; clear:right;width:1000px;text-align:left;">
			<input id="photo" name="photo" type="file" value="选择LOGO" />
		</form>
	</div>
	
	<div style="width: 1170px; height: auto;float: left;">
		<div style="width: 1170px; height: auto;float: left;border:3px solid #8FADB3; background-color: #fff;">
			<img  border="0" alt="本地图片" id="personhead" style="display: block;max-width: 1170px; height: auto;" />
		</div>
		<div style="width: 1170px; height: 323px; overflow: hidden;border:2px solid #FFB5A1;">  
			<img  border="0"  id="personheadpre" src="" alt="截图预览"/> 
		</div>
	</div>
	<div><button onclick="submitpreimg();" class="button-modify-head">保存</button></div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ 'lib/moment.js'|assets_manager }}"></script>
<script type="text/javascript" src="{{ 'lib/bootstrap/bootstrap-datetimepicker.js'|assets_manager }}"></script>
<script type="text/javascript" src="{{ 'lib/ajax_post.js'|assets_manager }}"></script>
<script type="text/javascript" src="{{ 'lib/jquery.form.js'|assets_manager }}"></script>
<script type="text/javascript" src='{{ 'lib/imgcut/scripts/jquery.imgareaselect.js'|assets_manager }}' ></script>
<script type="text/javascript" src='{{ 'vendor/uploadify/jquery.uploadify.v2.1.4.min.js'|assets_manager }}' ></script>
<script type="text/javascript" src='{{ 'lib/swfobject.js'|assets_manager }}' ></script>
<script type="text/javascript">
/*时间选择*/
(function($){
    var $start = $('#start_time'),
        $startTime = $start.datetimepicker({
        useSeconds: true,
        language: 'zh-cn'
    }).data("DateTimePicker"),
    $end = $('#end_time'),
    $endTime = $end.datetimepicker({
        useSeconds: true,
        language: 'zh-cn'
    }).data("DateTimePicker");

    $end.on('change', function(){
        var $this = $(this);
        $startTime.setMaxDate($this.val());
    });

    $start.on('change', function(){
        var $this = $(this);
        $endTime.setMinDate($this.val());
    });

}(jQuery));;
/*时间选择 end*/

var selected = 0;
var imgw = 0;
var imgh = 0;
var minimgw = 1170;
var minimgh = 323;
var loadedover = true;
var Browser=new Object(); 
Browser.userAgent=window.navigator.userAgent.toLowerCase(); 
Browser.ie=/msie/.test(Browser.userAgent); 
Browser.Moz=/gecko/.test(Browser.userAgent); 

//判断是否加载完成 
function Imagess(url,imgid,callback){    
    var val=url; 
    var img=new Image();

    $(img).on('load', function(){
        callback(img,imgid);
    });

{#    if(Browser.ie){ #}
{#        img.onreadystatechange =function(){  #}
{#            if(img.readyState=="complete"||img.readyState=="loaded"){ #}
{#                callback(img,imgid); #}
{#            } #}
{#        }        #}
{#    }else if(Browser.Moz){ #}
{#        img.onload=function(){ #}
{#            if(img.complete==true){ #}
{#                callback(img,imgid); #}
{#            } #}
{#        }        #}
{#    }#}

    img.src=val;
} 
	var source = '';
	function prepreview(w,h)
	{
		var scaleX = 1;  
 		var scaleY = 1;  
 		var width = w;
 		var height = h;
 		if(imgw > 800){
 			width = imgw;
 			height = imgh;
 		}
		$('#personheadpre').css({  
		 width: Math.round(scaleX * width),  
		 height: Math.round(scaleY * height),  
		 marginLeft: -Math.round(scaleX * 0),  
		 marginTop: -Math.round(scaleY * 0)  
		 });
		x1 = 0;  
		y1 = 0;  
		x2 = 160;  
		y2 = 99;
	}
	function checkimg(obj,imgid){ 
		document.getElementById(imgid).src=obj.src;
		loadedover = true;
	}
	function preview(img, selection) {  
		if (!loadedover){
			return ;
		}
		if (!selection.width || !selection.height)  
		return false;
		selected += 1;
		var scaleX = minimgw / selection.width;  
 		var scaleY = minimgh / selection.height; 
 		var width = img.width;
 		var height = img.height;
 		if(imgw > 800){
 			width = imgw;
 			height = imgh;
 		}
		$('#personheadpre').css({  
		 width: Math.round(scaleX * width),  
		 height: Math.round(scaleY * height),  
		 marginLeft: -Math.round(scaleX * selection.x1),  
		 marginTop: -Math.round(scaleY * selection.y1)  
		 });
		x1 = selection.x1;  
		y1 = selection.y1;  
		x2 = selection.x2;  
		y2 = selection.y2;
	}
	
	$(document).ready(
		function () {
			x1 = 0;  
			y1 = 0;  
			x2 = 160;
			y2 = 99;
			$("#photo").uploadify({
                'uploader': '/static/manager/dist/vendor/uploadify/uploadify.swf',
                'script': '/manage/ad/picadd/upload/',
                'cancelImg': '{{ 'vendor/uploadify/cancel.png'|assets_manager }}',
                'scriptData': {'sessionid':'{{ sessionid }}'},
                'fileDesc': '图片文件',
                'buttonText': '选择上传',
                'fileExt': '*.jpg;*.jpeg;*.gif;*.png;*.bmp;',
                'buttonImg': '{{ 'vendor/uploadify/upload.png'|assets_manager }}',
                'sizeLimit': 4194304,
                'multi': false,
                'auto':true,
                onError: function (a, b, c, d) {
                    if (d.status == 404)
                        alert('Could not find upload script.');
                    else if (d.type == "HTTP")
                        alert('error ' + d.type + ": " + d.status);
                    else if (d.type == "File Size") {
                        alert('对不起，只能上传4M以下的图片文件.');
                        return;
                    }
                    else
                        alert('error ' + d.type + ": " + d.text);
                },
                onComplete: function (a, b, c, d, e) {
                	var html = d;
                    if (html == 'size error')
		        	{
		        		alert('请上传宽度大于'+minimgw+'像素，高度大于'+minimgh+'像素的图片');
		        	}
		        	else if (html == 'type error'){
		        		alert('不能识别的图片格式');
		        	}
		        	else{
			            html = html.replace(/<pre.*?>/ig, "");
			            html = html.replace("</pre>", "");
			            html = jQuery.parseJSON(html);
			            var result = html.url;
			            //alert(result); 
			            loadedover = false;
			            //document.getElementById('personhead').src = "/resources/"+result;
			            source = result;
			            selected = 0;
			            imgw = html.width;
			            imgh = html.height;
			            document.getElementById('uploadimg').style.display = 'none';

                        Imagess(result,"personhead", function(img, id){
                            checkimg(img, id);
                            $('#personhead').imgAreaSelect({imageHeight:imgh,imageWidth:imgw,x1:0,y1:0,x2:minimgw,y2:minimgh,aspectRatio: '3.62:1', handles: true, fadeSpeed: 200, minHeight:minimgh,minWidth:minimgw,onSelectChange: preview });
                            prepreview(imgw,imgh);
                        });
                        Imagess(result,"personheadpre",checkimg);
				    }
                }
            });
		});
		
		var x1 = 0;
	var x2 = 0;
	var y1 = 0;
	var y2 = 0;
	
	function submitpreimg()
	{
		var timg = source;
		data = {
			'x1':x1,
			'x2':x2,
			'y1':y1,
			'y2':y2,
			'type':$("#type_id").val(),
			'tar_url':$("#tar_url").val(),
			'prince':$("#prince").val(),
			'start_time':$("#start_time").val(),
			'end_time':$("#end_time").val(),
			'source':timg
		};
		$.post("/manage/ad/picadd/preupload/", data, function(recive){
			if(recive == 'true'){
				if(alert('保存成功,启动时间到达后会自动筛选启动')){
					window.location.href="/back_manage/ad/picadd/";
				}
			}
			else if(recive == 'type error'){
				alert('保存头像失败：错误的图片格式，请上传另外的图片！')
			}
			else{
				alert('保存头像失败');
			}
		});
	}
		</script>
{% endblock %}