{% extends 'manager/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}
{% load assets_manager %}

{% block main %}

<h1 class="page-header">新增商品</h1>
<p>加*为必填项</p>
	<form class="form-horizontal" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="form-group">
	    <label for="type" class="col-sm-2 control-label">商品类型<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <select class="form-control required" id="type" name="type">
	      	{% for type in types %}
	        <option value="{{ type }}">{{ type }}</option>
	        {% endfor %}
	      </select>
	    </div>
	</div>
	<div class="form-group">
	    <label for="tarurl" class="col-sm-2 control-label">跳转目标url<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="tarurl" name="tarurl">
	    </div>
	</div>
	<div class="form-group">
	    <label for="price" class="col-sm-2 control-label">售价<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required number" id="price" name="price">
	    </div>
	</div>
	<div class="form-group">
	    <label for="title" class="col-sm-2 control-label">标题<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="title" name="title">
	    </div>
	</div>
	<div class="form-group">
	    <label for="imgurl" class="col-sm-2 control-label">商品图片<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="file" class="form-control required" id="imgurl" name="imgurl">
	    </div>
	</div>
	<div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <button type="submit" id="js-btn-submit" data-loading-text="提交中..." class="btn btn-primary form-control">提交</button>
        </div>
    </div>
	</form>
{% endblock %}

{% block scripts %}
<script>
    $('form').validate(commonvalidateConfig);
</script>
{% endblock %}