{% extends 'manager/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}
{% load assets_manager %}
{% block main %}

<h1 class="page-header">犬种编辑</h1>
<p>犬种列表</p>

<div>
	{% for info in infos %}
    <a href="?del={{ info }}" class="label label-info">
        {{ info }}
        <i class="glyphicon glyphicon-remove"></i>
    </a>
    {% endfor %}
</div>

<p>新增犬种：</p>
<form action="" class="form-horizontal" method="get">
    {% csrf_token %}
    <div>
        <label class="control-label col-sm-2">添加位置：</label>
        <div class="col-sm-4">
            <select name="after" id="">
                <option value="">空</option>
                {% for info in infos %}
                <option value="{{ info }}">{{ info }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="type" class="control-label col-sm-2">犬种名称：</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="add" id="type"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <button type="submit">提交</button>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}
<script>
(function(){

})();
</script>
{% endblock %}