{% extends 'manager/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}
{% load assets_manager %}
{% block main %}
<style>
    .supplies-title{
        height: 40px;
        overflow: hidden;
    }
    .supplies-img{
        width: 100%;
    }
    .supplies-item{
        border: 1px solid #ccc;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>
<h1 class="page-header">新用户列表</h1>

<div class="panel-group" id="accordion">
{% for pet in pets %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a href="/buy/detail/{{ pet.id }}/">
            {{ pet.farm.name }}——{{ pet.short_desc }}-{{ pet.start_time }}
        </a>
      </h4>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}