{% extends 'manager/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}
{% load assets_manager %}
{% block main %}
<h1 class="page-header">文章列表</h1>
	<div class="form-horizontal">
        <div class="form-group">
            <label for="type" class="col-sm-2 control-label">文章类型：</label>
            <div class="col-sm-4">
              <select class="form-control required" id="type" name="type">
                <option value="xxx">xxxx</option>
              </select>
            </div>
        </div>
	</div>
    <ul class="list-group">
      <li class="list-group-item clearfix">
          <a href="./?id=" target="_blank">标题</a>
          <a class="pull-right btn btn-primary" href="?del=">删除</a>
      </li>
      <li class="list-group-item clearfix">
          <a href="./?id=" target="_blank">标题</a>
          <a class="pull-right btn btn-primary" href="?del=">删除</a>
      </li>
    </ul>
{% endblock %}

{% block scripts %}
<script>
    $('#type').on('change', function(){
        window.location.href = './?type=' + encodeURIComponent($(this).val());
    });
</script>
{% endblock %}