{% extends 'manager/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}
{% load assets_manager %}
{% block main %}
<style>
    .original-img{
        padding-top: 15px;
    }
</style>
<h1 class="page-header">修改商品</h1>
<p>加*为必填项</p>
	<form class="form-horizontal" method="post" enctype="multipart/form-data" id="js-form">
	{% csrf_token %}
    <input name="id" type="hidden" value="{{ supplie.id }}"/>
    <div class="form-group">
        <label for="type" class="col-sm-2 control-label">商品类型<span class="warn">*</span>：</label>
        <div class="col-sm-4">
          <select class="form-control required" id="type" name="type">
            {% for type in types %}
            <option value="{{ type }}"{% ifequal supplie.type type %} selected{% endifequal %}>{{ type }}</option>
            {% endfor %}
          </select>
        </div>
    </div>
	<div class="form-group">
	    <label for="tarurl" class="col-sm-2 control-label">跳转目标url<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="tarurl" name="tarurl" value="{{ supplie.tar_url }}">
	    </div>
	</div>
	<div class="form-group">
	    <label for="price" class="col-sm-2 control-label">售价<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required number" id="price" name="price" value="{{ supplie.price }}">
	    </div>
	</div>
	<div class="form-group">
	    <label for="title" class="col-sm-2 control-label">标题<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="title" name="title" value="{{ supplie.title }}">
	    </div>
	</div>
	<div class="form-group">
	    <label for="imgurl" class="col-sm-2 control-label">重新上传图片：</label>
	    <div class="col-sm-4">
	        <input type="file" class="form-control" id="imgurl" name="imgurl">
            <div class="original-img">
                <p>原图：</p>
                <img src="{{ supplie.img_url }}" style="width: 222px;"/>
            </div>
	    </div>
	</div>
	<div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <button type="submit" id="js-submit" data-loading-text="提交中..." class="btn btn-primary form-control">提交</button>
        </div>
    </div>
	</form>

{% endblock %}

{% block scripts %}
<script>
    var $form = $('#js-form'),
        $btn = $form.find('#js-submit');

    $form.validate(commonvalidateConfig);

    $form.on('submit', function(){
        if($form.valid()){
            $btn.button('loading');
        }
    });
</script>
{% endblock %}