<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>内容编辑</title>
	</head>
	<body>
		<h1>管理审核系统:养殖场信息修改审核</h1>
		<h2>当前操作员：{{ manager.name }}</h2>
		{% for petfarm in petfarms %}
		养殖场名字*：{{ petfarm.name }}
		{% endfor %}
		养殖场名字*：<select name="pet_farm_id" onchange="farmslected();">
		{% for petfarm in petfarms %}
		<option value="{{ petfarm.id }}">{{ petfarm.name }}</option>
		{% endfor %}
		</select><br>
		<div id="farm_id">
		养殖场介绍：
		联系电话：
		邮箱地址：
		省会（默认四川）：
		城市（默认成都）：
		片区：
		所处方位:
		详细地址：
		宠物最低价格：
		<div>
		<script type="text/javascript">
		function farmslected(){
			data = {'pet_farm_id':$("#pet_farm_id").val()};
			$.post("./modfarmselect/", data, function(recive){
				if(recive != 'false'){
					$("#farm_id").empty();
					$("#farm_id").append(recive);
				}
				else{
					alert('数据异常');
				}
			});
		}
		</script>
	</body>
</html>