{% extends 'manager/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}
{% load assets_manager %}
{% block main %}
<style>
    .supplies-title{
        height: 40px;
        overflow: hidden;
    }
    .supplies-img{
        width: 100%;
    }
</style>
<h1 class="page-header">商品列表</h1>
	<div class="form-horizontal">
        <div class="form-group">
            <label for="type" class="col-sm-2 control-label">商品类型<span class="warn">*</span>：</label>
            <div class="col-sm-4">
              <select class="form-control required" id="type" name="type">
                {% for type in types %}
                <option value="{{ type }}">{{ type }}</option>
                {% endfor %}
              </select>
            </div>
        </div>
	</div>
    <div class="row">
        <div class="col-xs-3">
            <a href="" target="_blank">
                <img src="xx" class="supplies-img"/>
                <p class="supplies-title">title</p>
            </a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('#type').on('change', function(){
        window.location.href = './?type=' + encodeURIComponent($(this).val());
    });
</script>
{% endblock %}