{% extends 'manager/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}
{% load assets_manager %}
{% block main %}
<h1 class="page-header">文章列表</h1>
	<div class="form-horizontal">
        <div class="form-group">
            <label for="type" class="col-sm-2 control-label">文章类型：</label>
            <div class="col-sm-4">
              <select class="form-control required" id="type" name="type">
              	{% for type in types %}
                <option value="{{ type.0 }}" {% if curtype == type.0 %}selected{% endif %}>{{ type.3 }}</option>
                {% endfor %}
              </select>
            </div>
        </div>
	</div>
    <ul class="list-group">
      {% for knowledge in knowledges %}
      <li class="list-group-item clearfix">
          <a href="./?id={{ knowledge.id }}" target="_blank">{{ knowledge.title }}</a>
          <a class="pull-right btn btn-primary" href="?del={{ knowledge.id }}">删除</a>
      </li>
      {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}
<script>
    $('#type').on('change', function(){
        window.location.href = './?type=' + encodeURIComponent($(this).val());
    });
</script>
{% endblock %}