{% extends 'manager/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}
{% load assets_manager %}
{% block main %}

<h1 class="page-header">新增养殖场</h1>
<p>加*为必填项</p>
	<form class="form-horizontal">
	{% csrf_token %}
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">养殖场名字<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="pet-color" name="name">
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">联系电话<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="pet-color" name="tel">
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">邮箱地址<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="pet-color" name="email">
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">养殖场预置密码<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="password" class="form-control required" id="pet-color" name="pwd">
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">身份证号码<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="pet-color" name="idnum">
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">省会<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	        <select name="province" id="farm-province" class="form-control">
	        	{% for province in provinces %}
	            <option data-range="{{ province.rangeid }}" value="{{ province.name }}">{{ province.name }}</option>
	            {% endfor %}
	        </select>
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">城市<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      	<select name="city" id="farm-city" class="form-control">
                {% for city in citys %}
                <option value="{{ city.name }}">{{ city.name }}</option>
                {% endfor %}
            </select>
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">片区<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      	<select name="district" id="farm-district" class="form-control">
            	{% for district in districts %}
                <option value="{{ district.name }}">{{ district.name }}</option>
                {% endfor %}
            </select>
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">所处方位<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	    	{% for direct in directs %}
		    <input type="radio" name="direct" value="{{ direct }}"> 城{{ direct }} </input> 
		    {% endfor %}
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">详细地址<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="pet-color" name="dest">
	    </div>
	</div>
	<div class="form-group">
	    <label for="pet-color" class="col-sm-2 control-label">评分（高分会获得系统展示,默认1.0）<span class="warn">*</span>：</label>
	    <div class="col-sm-4">
	      <input type="text" class="form-control required" id="pet-color" name="manage_score">
	    </div>
	</div>
	<div class="form-group">
	    {{ form.as_p }}
	</div>
	<div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <button type="submit" id="js-btn-submit" data-loading-text="提交中..." class="btn btn-primary form-control">提交</button>
        </div>
    </div>
	</form>

{% endblock %}

{% block scripts %}

{{ media|safe }}

<script>
var validator = $('form').validate(commonvalidateConfig);
(function($){

    //form submit
    var $form = $('form'),
        $submit = $form.find('#js-btn-submit');

    
    $submit.on('click', function(){
    	for (instance in CKEDITOR.instances)
            CKEDITOR.instances[instance].updateElement();
    	validator.form();
    
    	if(!$form.valid()){
    		return;
    	}
    
        $submit.button('loading');

        var data = {};

        $.each($form.serializeArray(), function(i, e){
            data[e.name] = e.value;
        });

        $.ajax({
            url: './',
            data: data,
            type:'POST',
            dataType: 'json',
            success: function(data){
                if(data.status == 0){
                    alert('提交成功！');
                    window.location.reload();
                }else{
                    alert('提交失败：'+ data.message +'，请重试！');
                    $submit.button('reset');
                }
            },
            error: function(){
                $submit.button('reset');
            }
        });

        return false;
    });


})(jQuery);
</script>
{% endblock %}