{% extends 'manager/tpl/base/base.html' %}

{% block title %}内容编辑{% endblock %}
{% load assets_manager %}

{% block css %}
<link rel="stylesheet" href="{{ 'lib/jstree/style.css'|assets_manager }}"/>
{% endblock %}

{% block main %}
<h1 class="page-header">地址编辑</h1>

<div class="row">
    <div class="col-sm-6">
        <div id="address-tree"></div>
    </div>
    <div class="col-sm-6">
        <form class="form-horizontal" id="js-modify-form">
            <h3>修改</h3>
            <div class="form-group">
                <label class="control-label col-sm-3">名称：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="js-text-input"/>
                </div>
            </div>
            <div class="form-group hide" id="js-area">
                <label class="control-label col-sm-3">接送地点：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="js-area-input"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ 'lib/jstree/jstree.js'|assets_manager }}"></script>
<script>
(function(){


var $addressTree = $('#address-tree'),
    $tree = $addressTree.jstree({
    'core': {
        'check_callback': function(operation, node, node_parent, node_position){
            if(operation == 'delete_node'){
                var parents = node.parents,
                    original = node.original,
                    len = parents.length - 1,
                    data = {};

                data[original.type] = original.text;
                for(var i = 0; i < len; i++){
                    var node = $tree.get_node(parents[i]).original;
                    data[node.type] = node.index;
                }

                data.del = true;
                ajax(data);
            }
        },
        'data': {
            'url': './',
            'dataType': 'json',
            'data': function(node){
                var original = node.original,
                    data = {};

                if(original){
                    data = paramMap(original, node.parents);
                }else{
                    data.ranges = 'ranges';
                }

                return data;
            }
        }
    },
    'plugins' : [ 'contextmenu' ]
}).jstree(true);

var $modifyForm = $('#js-modify-form'),
    $area = $modifyForm.find('#js-area'),
    $textInput = $modifyForm.find('#js-text-input'),
    $areaInput = $modifyForm.find('#js-area-input'),
    modifyData = {};

$addressTree.on('select_node.jstree', function(event, data){
    var node = data.node,
        parents = node.parents,
        len = parents.length - 1,
        data = {},
        original = node.original;

    $textInput.val(original.text);

    if(original.area){
        $areaInput.val(original.area);
        $area.removeClass('hide');
    }else{
        $area.addClass('hide');
    }

    data.node = node.id;
    data[original.type] = original.index;
    for(var i = 0; i < len; i++){
        var node = $tree.get_node(parents[i]).original;
        data[node.type] = node.index;
    }

    modifyData = data;
});


$modifyForm.on('submit', function(event){
    event.preventDefault();

    modifyData.text = $.trim($textInput.val());
    modifyData.area = $.trim($areaInput.val());
    modifyData.modify = true;

    $tree.rename_node(modifyData.node, modifyData.text);

    ajax(modifyData, function(){
        $modifyForm[0].reset();
    });
});

function ajax(data, cb){
    $.ajax({
        url: './',
        dataType: 'json',
        data: data,
        success: function(data){
            cb();
            console.log(data);
        }
    });
}


function paramMap(original, parents){
    var data = {},
        len = parents.length - 1,
        type = original.type;

    data[type] = original.index;

    for(var i = 0; i < len; i++){
        var node = $tree.get_node(parents[i]).original;
        data[node.type] = node.index;
    }

    switch (type){
        case 'range':
            data.provinces = 'provinces';
            break;
        case 'province':
            data.citys = 'citys';
            break;
        case 'city':
            data.disticts = 'disticts';
            break;
        case 'distict':
            data.streets = 'streets';
            break;
    }

    return data;
}

})();
</script>
{% endblock %}