.img-full{
  width: 100%;
}

.margin-sm{
  margin-left: -$padding-sm;
  margin-right: -$padding-sm;
}

.padding-sm{
  padding-left: $padding-sm;
  padding-right: $padding-sm;
}

.margin-none{
  margin-left: 0;
  margin-right: 0;
}

.padding-none{
  padding-left: 0;
  padding-right: 0;
}
