.cwg-container{
  background-color: #e5e5e5;
  padding-top: 1px;

  @media (min-width: $screen-sm) {
      padding: 20px 0;
  }

  .container{
    background-color: #fff;
  }
}

.dog-select-title{
  padding-right: 0;
  padding-bottom: 10px;

  @media (min-width: $screen-sm) {
    text-align: right;
    padding-bottom: 0;
  }
}

.dog-select-row{
  color: #414141;
  padding-bottom: 20px;

  .nav-pills{
    a{
      padding: 1px 6px;
      color: #414141;
    }
    li{
      margin-right: 8px;
      margin-bottom: 5px;
    }
    .active a{
      background-color: #ffd401;
    }
  }
  .dog-selected{
    a{
      color: #e4bd3f;
      border: 1px solid #e4bd3f;
    }
  }
}
.dog-separate{
  border-top: 1px solid #e5e5e5;
  padding-bottom: 40px;
}

.content-container{
  @media (min-width: $screen-lg) {
    width: $content-width;
  }

  background-color: #fff;
}

.buy-main{

  .cwg-search-wrap{
    @media (min-width: $screen-sm) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  .no-result{
    margin-bottom: 40px;
  }

  .dog-list{
    @media (min-width: $screen-md) {
      margin-left: -25px;
      margin-right: -25px;
    }
  }

  .col-md-4{
    @media (min-width: $screen-md) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .dog-img{
    width: 100%;
  }

  .dog-desc{
    padding: 15px;

    h4{
      line-height: 21px;
      font-size: 16px;
      max-height: 42px;
      overflow: hidden;
      margin-top: 0;

      a{
        color: #333;
        font-weight: bold;
      }
    }
  }
}
