.cwg-container{
  background-color: #e5e5e5;
  padding-top: 1px;

  @media (min-width: $screen-sm) {
      padding: 20px 0;
  }

  .container{
    background-color: #fff;
  }
}

.dog-select-title{
  padding-right: 0;
  padding-bottom: 10px;

  @media (min-width: $screen-sm) {
    text-align: right;
    padding-bottom: 0;
  }
}

.dog-select-row{
  color: #414141;
  padding-bottom: 20px;

  .nav-pills{
    a{
      padding: 1px 6px;
      color: #414141;
    }
    li{
      margin-right: 8px;
      margin-bottom: 5px;
    }
    .active a{
      background-color: #ffd401;
    }
  }
  .dog-selected{
    a{
      color: #e4bd3f;
      border: 1px solid #e4bd3f;
    }
  }
}

.content-container{
  @media (min-width: $screen-lg) {
    width: $content-width;
  }

  background-color: #fff;

  .cwg-container > &{
    @include box-shadow(2px 2px 4px rgba(127, 127, 127, .3));
  }
}

.pet-tag{
  display: inline-block;
  width: 60px;
  border: 1px solid $primary-bg-color;
  color: $primary-bg-color;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
  line-height: 18px;
  margin-right: 5px;
}

.buy-main{

  .cwg-search-wrap{
    @media (min-width: $screen-sm) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  .no-result{
    margin-bottom: 40px;
  }

  .dog-list{
    @media (min-width: $screen-md) {
//      margin-left: -25px;
//      margin-right: -25px;
    }

    margin-top: -5px;
    padding: 0 10px 20px 10px;
  }

  .dog-list-item{
    border: 1px solid transparent;

    @media (min-width: $screen-md) {
      padding: 10px 10px 0 10px;
    }

    &:hover{
      border-color: #f6f5f5;
      @include transition(box-shadow .3s ease-in);
      @include box-shadow(0px 0px 4px 2px rgba(127, 127, 127, .2));

      :root &{
        border-color: transparent;
      }
    }
  }

  .dog-desc{
    padding: 15px;

    h4{
      line-height: 21px;
      font-size: 16px;
      max-height: 42px;
      overflow: hidden;
      margin-top: 0;

      a{
        color: #333;
        font-weight: bold;
      }
    }
  }
}
