.detail-main{
  padding-top: 20px;
  padding-bottom: 20px;
}

.detail{
  background-color: #fff;

  .content-container{
    @include box-shadow(none);
  }
  
  .breadcrumb-container{
    padding-left: 15px;
  }
}

.thumbnail-wrap{
  width: 330px;
  height: 46px;
  overflow: hidden;
  margin: 0 auto;
}

.dog-name-tag{
  background-color: $primary-color;
  padding: 5px 15px;

  position: absolute;
  top: 0;
  left: 10px;

  color: #fff;
  font-size: 18px;
}

.cwg-thumbnail{
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 0;

  li{
    border: 3px solid transparent;
    float: left;
    cursor: pointer;
  }

  .active{
    border-color: #ffd100;
    cursor: default;
  }

  img{
    width: 60px;
    height: 40px;
  }
}

.cwg-thumb{
  display: block;
  width: 387px;
  height: 258px;
}

.cwg-dog-imgs{
  padding: 10px 0;
  position: relative;

  .prev-thumb, .next-thumb{
    position: absolute;
    font-size: 12px;
    height: 46px;
    border: 1px solid #e7e7e7;
    top: 10px;
    padding: 15px 1px;
    color: #666;
  }

  .prev-thumb{
    left: 0;
  }
  .next-thumb{
    right: 0;
  }
}

label{
  font-weight: normal;
}

.cwg-detail-title{
  font-size: 18px;
  margin-top: 0;
  font-weight: bold;
}

.detail-title-desc{
  font-size: 16px;
  font-weight: bold;
}

%highlight{
  color: #ff3400;
  font-size: 16px;
  font-weight: bold;
}

.cwg-detail-phone{
  @extend %highlight;
  padding-right: 20px;
}

.info-row{

  padding: 10px 0;
  border-bottom: 1px dashed #ddd;

  &:last-child{
    border-bottom: 0;
  }

  .middle-space{
    padding-left: 2em;
  }

  .info-td-left, .info-td-right{
    float: left;
  }

  .info-td-left{
    width: 80px;
  }

  .info-td-right{
    max-width: 550px;
  }

  .nav-pills{
    float: left;
    a{
      padding: 1px 6px;
      color: #414141;
    }
    li{
      margin-right: 8px;
      margin-bottom: 5px;
    }
    .active a{
      background-color: #ffd401;
    }
  }
}

.btn-order, .btn-consult{
  margin-right: .5em;
}

.btn-order{
  padding-left: 3em;
  padding-right: 3em;
}

.cwg-clause{
  font-size: 12px;
  padding-top: 5px;

  i{
    margin-right: 5px;
  }
}

.detail-navbar{
  &.affix{
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    z-index: 21;

    @include box-shadow(0 2px 4px rgba(#ddd, .6));
  }

  border-top: 2px solid $primary-bg-color;

  margin-top: 50px;
  margin-bottom: 5px;

  background-color: #fffcf0;

  .container{
    background-color: #fffcf0;
  }

  .placard{
    font-weight: normal;
    border-radius: 0;
    background-color: transparent;

    &:after{
      display: none;
    }
  }

  .nav a{
    line-height: 1;
    font-size: 16px;
    color: #544a2a;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .active a{
    color: #fff;
    background-color: $primary-bg-color;

    &:hover, &:focus{
      background-color: $primary-bg-color;
    }

    &.placard:after{
      display: inline-block;
    }
  }
}

.cwg-detail-nav-fixed{
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  padding-bottom: 0;
  z-index: 19;
}

.desc-tit{
  font-size: 18px;
  margin-bottom: 13px;

  .placard{
    font-size: 16px;
    margin-right: 8px;
  }
}

.desc-main{
  margin-left: 17px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-left: 2px solid #e7e7e7;

  .glyphicon-ok-sign{
    font-size: 16px;
  }

  .img-row{
    margin: 0 0 20px 0;

    .col-6{
      padding: 0;
    }
  }
}

.table-pet-kennel{
  >tbody>tr>td{
    padding: 12px;
  }
}

.pet-tip{
  padding-left: 12px;
  margin-bottom: 0;

  span{
    padding-left: 3px;
    font-weight: bold;
    color: #afaead;
  }
}

.desc-sub-tit{
  background: #ffd401;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.most-popular{
  padding-top: 47px;

  .dog-desc{
    padding: 10px 0;

    h4{
      line-height: 22px;
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 14px;

      a{
        color: #333;
      }
    }

    .dog-addr{
      color: #828282;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .glyphicon-map-marker{
      color: #ff3500;
      margin-right: 5px;
    }

    .btn-dog{
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
}

/*其他犬种*/

.pet-showcase{
  .pet-showcase-wrap{
    padding-bottom: 20px;
  }

  .pet-showcase-item{
    padding-top: 2px;

    &:hover .shade-content{
      bottom: -2px;
    }
  }

  .shade-content{
    text-align: center;

    &:before{
      content: " ";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }

  .pet-showcase-detail{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  .btn-trans{
    margin-left: 10px;
    color: $primary-color;

    &:hover{
      color: #fff;
      background-color: $primary-color;
    }
  }
}



























