$adg1-bg-color: #00d7ad;
$adg2-bg-color: #f7b52d;
$adg3-bg-color: #9ada5d;
$adg4-bg-color: #00bde3;
$adg5-bg-color: #ff8da0;

$nav-dotted-color: #0c7987;

.guide-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 19;
}

.guide{
  .container{
    padding: 0;
  }
}

.adg-health{
  background: $adg1-bg-color;
}

.adg-price{
  background-color: $adg2-bg-color;
}

.adg-purebred{
  background-color: $adg3-bg-color;
}

.adg-process{
  background-color: $adg4-bg-color;
}

.adg-buy{
  background-color: $adg5-bg-color;
}

.skip-guide, .next-guide{
  position: fixed;
  color: #fff;
  text-align: center;

  &:hover, &:active, &:focus{
    color: #fff;
    text-decoration: none;
  }

  .icon{
    font-size: 30px;
  }
}

.skip-guide{
  top: 25px;
  right: 15px;

  p{
    font-size: 14px;
  }
}

.next-guide{
  bottom: 15px;
  width: 50px;
  margin-left: -25px;
  left: 50%;
}