@import "../objects/cwg-search-wrap";
@import "../objects/navbar";

.cwg-global-search{
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;

  .logo, .cwg-city{
    display: inline-block;
    vertical-align: top;
  }

  .cwg-city{
    padding-top: 40px;
    padding-left: 15px;

    a{
      &, &:hover{
        color: #333;
        text-decoration: none;
      }
    }

    .dropdown-menu{
      min-width: 100px;
    }
  }

  .cwg-search-wrap{
    padding-top: 35px;
    padding-bottom: 0;
  }
}

.cwg-tel{
  padding-top: 10px;
}

.cwg-tel-detail{
  margin-bottom: 0;

  span{
    padding-left: 7px;
    padding-right: 3px;
  }
}

.cwg-tel-main{
  margin-bottom: 0;
  font-size: 20px;

  .icon{
    margin-right: 5px;
  }

  .icon, span{
    vertical-align: middle;
  }
}

.header{
  min-width: 1170px;
}

.header-top{
  background: $primary-bg-color;

  .cwg-btn-wrap{
    .btn-default{
      background-color: transparent;
      border: 0;
    }
  }
}
