@import "../objects/_cwg-search-wrap";
@import "../objects/_nav";

.cwg-global-search{
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;

  .logo, .cwg-city{
    display: inline-block;
    vertical-align: top;
  }

  .cwg-city{
    font-size: 12px;
    padding-top: 40px;
    padding-left: 15px;
  }

  .cwg-search-wrap{
    padding-top: 0;
    padding-bottom: 10px;

    @media (min-width: $screen-sm) {
      padding-top: 35px;
      padding-bottom: 0;
    }
  }
}

.cwg-tel{
  @media (min-width: $screen-sm){
    padding-top: 10px;
  }
}

.cwg-tel-detail{
  margin-bottom: 0;

  span{
    padding-left: 7px;
    padding-right: 3px;
  }
}

.cwg-tel-main{
  margin-bottom: 0;
  font-size: 20px;

  .icon{
    margin-right: 5px;
  }

  .icon, span{
    vertical-align: middle;
  }
}


.header-top{
  background: $primary-bg-color;

  .cwg-btn-wrap{
    .btn-default{
      background-color: transparent;
      border: 0;
    }
  }
}
