.knowledge-bringup{

  .desc-tit{
    font-weight: bold;
  }

  .desc-main{
    padding-bottom: 1px;

    ol{
      margin-left: -20px;
    }

    li{
      line-height: 24px;
      margin-bottom: 20px;

      p{
        margin-bottom: 0;
      }
    }

    strong{
      font-size: 15px;
    }
  }

  .bringup-outline{
    .desc-main{
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .infinite-loading{
    padding-bottom: 110px;
    position: relative;

    .loading{
      height: 100px;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
    }
  }
}

.article-modal{

  .article-date{
    padding-right: 15px;
  }

  .modal-open &{
    overflow-y: hidden;
  }

  .modal-body{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;

    overflow-y: auto;
  }

  .modal-dialog{
    @media (min-width: $screen-sm) {
      width: 1020px;
    }

    margin-top: 0;
    margin-bottom: 0;
  }

  .modal-content{
    border-radius: 0;
  }
}