.img-container{
	background-color: #fff;
	margin-right:auto;
	margin-left:auto;
	width:1000px;
	margin-bottom:2px;
}
.img-head{
	width:1000px;
}
.marginfiften{
	margin-left:-15px;
}
.margintop15{
	margin-top:-15px;
}
.img-divid{
	background:url(/static/src/imgs/line.jpg) bottom repeat-x;
	height:8px;
}
.input-in{
	margin-top:26px;
}
.nav-pills li{
	width:54px;
	text-align:center;
}
.img-padding{
	padding:8px;
}
.img-small{
	border:1px solid #cccccc;
	display:block;
}
.img-margin{
	margin-left:16px;
	margin-right:16px;
	margin-top:-15px;
	margin-bottom:25px;
}
.img-border{
	border:1px solid #cccccc;
}
.dog-name{
	text-align:center;
}