.cwg-navbar {
  margin-bottom: 0; 

  border: 0;
  background: #fff;
}
.cwg-navbar .navbar-toggle .icon-bar {
  background: #ffd401;
}
.cwg-navbar a {
  color: #ddb93a;
}
.cwg-navbar .active a {
  color: #8f7004;
  background: #ffd401;
}
@media (min-width: 768px) {
  .cwg-navbar .navbar-brand {
    display: none;
  }
}

.footer .nav-pills .active a {
  background: none;
}
.footer .footer-bottom {
  color: #fff; 
  background: #daa904;
}
.footer .copyright {
  margin-bottom: 0; 
  padding-top: 10px;
}

/*test*/
.item {
  height: 500px;

  background: #eee;
}
