@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-weixin:before {
  content: "\e63c"; }

.icon-xinlangweibo:before {
  content: "\f01af"; }

.icon-youjian:before {
  content: "\e643"; }

.icon-aixin:before {
  content: "\3443"; }

body {
  font-family: 'helvetica neue', tahoma, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', \5FAE\8F6F\96C5\9ED1, \5B8B\4F53; }

.cwg-social {
  list-style: none;
  margin-bottom: 0; }
  .navbar .cwg-social {
    padding-top: 3px; }
  .cwg-social li {
    float: left; }
    .footer .cwg-social li {
      padding: 0 25px; }
  .cwg-social a {
    display: block;
    color: #fff;
    background-color: #ffd401;
    border-radius: 50%;
    text-align: center; }
    .navbar .cwg-social a {
      width: 24px;
      height: 24px;
      line-height: 24px;
      margin-right: 6px; }
    .footer .cwg-social a {
      width: 60px;
      height: 60px;
      line-height: 60px; }
      .footer .cwg-social a i {
        font-size: 40px; }
    .cwg-social a:hover {
      text-decoration: none; }

.cwg-navbar {
  background: #fff;
  border: 0;
  margin-bottom: 0;
  min-height: 30px; }
  .cwg-navbar .navbar-toggle .icon-bar {
    background: #FFD401; }
  .cwg-navbar .navbar-nav a {
    color: #DDB93A;
    padding-top: 5px;
    padding-bottom: 5px; }
  .cwg-navbar .active a {
    color: #8F7004;
    background: #FFD401; }
  @media (min-width: 768px) {
    .cwg-navbar .navbar-brand {
      display: none; } }

/*head*/
.header-top {
  background: #ffd401; }
  .header-top .cwg-btn-wrap .btn-default {
    background-color: transparent;
    border: 0; }
  .header-top .cwg-login {
    padding-top: 15px;
    padding-bottom: 15px; }
  .header-top .cwg-search-wrap .input-group-addon {
    background-color: #dba903;
    border: 0;
    border-radius: 0;
    cursor: pointer; }
  .header-top .cwg-search-wrap .form-control {
    border: 0;
    border-radius: 0; }
  .header-top .cwg-search-wrap .glyphicon-search {
    color: #fff; }
  .header-top .cwg-tel {
    color: #49250c;
    padding-top: 10px; }
  .header-top .cwg-tel-main {
    font-size: 16px;
    margin-bottom: 0; }
    .header-top .cwg-tel-main .glyphicon {
      margin-right: 5px; }
    .header-top .cwg-tel-main .glyphicon, .header-top .cwg-tel-main span {
      vertical-align: middle; }
  .header-top .cwg-tel-detail {
    padding-left: 10px;
    font-size: 12px; }

/*head --end*/
.footer .nav-pills .active a {
  background: none; }
.footer .cwg-weibo {
  background-color: #ec5342; }
.footer .cwg-weixin {
  background-color: #05B410; }
.footer .cwg-youjian {
  background-color: #56ACEE; }
.footer .footer-top {
  background: #ffd401;
  padding-top: 45px;
  padding-bottom: 45px; }
.footer .cwg-flow-chart {
  width: 395px;
  height: 98px;
  background: url(../imgs/flow-chart.png); }
.footer .footer-bottom {
  background: #dba903;
  color: #fff; }
.footer .copyright {
  padding-top: 10px;
  margin-bottom: 0; }

/*carousel*/
.cwg-carousel {
  padding-bottom: 70px;
  margin-left: -15px;
  margin-right: -15px; }
  .cwg-carousel .cwg-lace {
    position: absolute;
    bottom: 70px;
    height: 4px;
    width: 100%;
    background: url(../imgs/lace.png) 9px 100% repeat-x; }
  .cwg-carousel .carousel-indicators {
    bottom: 20px; }
    .cwg-carousel .carousel-indicators li {
      border-color: #4c4c4c; }
    .cwg-carousel .carousel-indicators .active {
      background-color: #4c4c4c; }

/*carousel --end*/
/*area*/
.col-md-2_4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 992px) {
    .col-md-2_4 {
      float: left;
      width: 20%; } }

.col-sm-2_4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .col-sm-2_4 {
      float: left;
      width: 20%; } }

.cwg-area-row {
  padding-bottom: 100px; }

.cwg-area div {
  position: relative; }
  .cwg-area div p {
    position: absolute;
    right: 5px;
    bottom: 5px;
    margin-bottom: 0;
    color: #fff;
    font-weight: bold;
    line-height: 1; }
  .cwg-area div .floor-price {
    font-size: 30px; }

/*area --end*/
/*test*/
.item {
  height: 500px;
  background: #eee; }
