@import "bootstrap/_variables";

@import "components/login";
@import "components/sidebar";
@import "components/main";
@import "components/modal";

body {
  padding-top: 50px;
}

.navbar-fixed-top {
  border: 0;
}

.warn{
  color: #ff0000;
}

.help-block{
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
  color: #fff;
}