@import "bootstrap/_variables";

@import "components/login";
@import "components/sidebar";
@import "components/main";


body {
  padding-top: 50px;
}

.navbar-fixed-top {
  border: 0;
}

.warn{
  color: #ff0000;
}