.table{
  width: 100%;
  font-size: 14px;

  td, th{
    padding: 5px;
  }
}

.table-primary{
  text-align: center;

  caption{
    text-align: left;
    color: #fff;
    background-color: $primary-bg-color;
    padding: 5px 10px;
    font-weight: bold;
  }

  thead, tfoot{
    background-color: #fffcf0;
    font-weight: bold;
  }

  tfoot{
    text-align: left;
  }
}